@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.Ld {
  background: url('./../../img/main/main_galexy_bg@2x.png') ;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: black;
  
}

video {
  width: 100%;
}
.LdTitle {
  display: flex;
  flex-direction: column;
  padding-top: 30rem;
  justify-content: center;
  align-items: center;
}
.LdTitle {
  width: 73%;
  margin: auto;
    p {
    color: #fff;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.7;
    z-index: 10;
    position: absolute;
    span {
      color: #fff;
      font-size: 7rem;
      font-weight: bold;
      text-align: center;
      line-height: 1.7;
    }
  }
}

.LdTitleBg {
  width: 35rem;
  height: 65rem;
  align-self: flex-end;
  margin-right: 10%;
  z-index: -10;
}

.LdTitle {
  .LdDesSpe {
    margin-right: 30rem;
    padding-bottom: 10rem;
    position: absolute;
    bottom: -10%;
    left: 20%;
    img {
      height: 13rem;
    }
  }
}

.LdDesWord img {
  height: 15rem;
}

.LdDesWord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .LdDesBus {
    align-self: flex-start;
    margin-top: -10%;
    align-self: flex-start;
    margin-left: -20%;

  }

  .LdDesPro {
    margin-top: 25%;
    align-self: flex-end;
    margin-right: 10%;
    position: absolute;
    z-index: 10;
    img {
      height: 13rem;
    }
  }


}

.LdStep {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 13rem auto;

  .LdStepTitle {
    font-size: 7rem;
    font-weight: bolder;
    color: #fff;
    margin: 46rem 0 10rem;
    text-align: center;
    line-height: 1.5;
  }
}

.LdStepList {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 7rem;

  &:nth-child(3) {
    margin-left: 15rem;
  }

  &:nth-child(4) {
    margin-left: 30rem;
  }
  li {
    color: #fff;
    font-size: 3.0rem;
    line-height: 1.5;
    z-index: 10;
    &:first-child {
      font-family: Baskerville;
      font-weight: bolder;
      font-size: 8.2rem;
      margin-right: 6.3rem;
      position: relative;
      margin-left: 4rem;
      float: left;

      &::after {
        content: "";
        display: block;
        background: url('./../../img/landing/landing_circle@2x.png') no-repeat;
        background-size: cover;
        width: 9rem;
        height: 9rem;
        position: absolute;
        top: -3rem;
        left: -3rem;
        z-index: -10;
      }
    }
  }
}

.btnArea {
  margin: auto;
  width: 75%;
  display: flex;
  justify-content: center;
  padding-bottom: 11rem;

  button {
    width: 35rem;
    height: 8.5rem;
    line-height: 8.5rem;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 2.4rem;
    margin: 0 3.8rem ;
    a {
      font-size: 2.4rem;

    }
  }

}

@media all and (max-width: 767px){
  .LdTitle p {
    font-size: 5rem;
    span {
      font-size: 5rem;
    }
  }
  .LdTitleBg {
    width: 25rem;
    height: auto;
  }
  .LdTitle .LdDesSpe img {
    height: 6rem;
  }
  .LdDesWord .LdDesPro img {
    height: 6rem;
  }
  .LdStep .LdStepTitle {
    font-size: 4.5rem;
  }
  .LdStepList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .btnArea {
      flex-direction: column;
      button {
        width: 100%;
        margin: auto;
        margin-bottom: 3rem;
      }
  }
  
}

