@import '../GlobalStyle.scss';

.dark {
  @include Dark;
  .gbInner .gbMapImgBox {
    background-image: url(./../../img/global/global_map_w.png);
  }
  .gbInner .gbAccordion .gbProcessItem .gbProcessBtn {
    background-color: #ccc;
    border: none;
  }
  .gbInner .gbAccordion .gbProcessItem .gbProcessContent {
    background-color: #ccc;
  }

  .gbInner .gbAccoContentBox .gbAccoContentArea .gbAccoContentT h1 {
    color: #359aff;
  }
}

.gbInner {
  @include Inner;

  .gbTabTitleBox {
    .gbTabTitle {
      @include Subtitle($sub-title, $basic-gray3);
    }
  }

  .gbContentSubTitle {
    position: relative;
    text-indent: 8.5rem;
    font: {
      size: 2.5rem;
      weight: bold;
    }
    margin-top: 8rem;
    margin-bottom: 8rem;
    &:before {
      content: '';
      position: absolute;
      width: 6rem;
      height: 0.5rem;
      background-color: $main-color;
      top: 30%;
      left: 0;
    }
  }

  .gbMapImgBox {
    background: url(./../../img/global/global_map.png) no-repeat center/contain;
    width: 100%;
    height: 45vw;
    font-size: 0;
    text-indent: 999;
  }

  .gbAccordion {
    width: 100%;

    .gbProcessItem {
      margin-bottom: 0.5rem;
      padding: 2rem;
      width: 100%;
      box-sizing: border-box;

      .gbProcessBtn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        border: 1px solid $main-color;
        padding: 3rem 2rem;
        font-size: 4rem;
        letter-spacing: 1.2px;
        color: #000;

        .gbUnderBtn {
          background: url('../../img/zetaplan_splite.png') no-repeat -137px -194px;
          background-size: 599px 280px;
          width: 22px;
          height: 14px;
        }
        .gbTopBtn {
          background: url('../../img/zetaplan_splite.png') no-repeat -137px -235px;
          background-size: 599px 280px;
          width: 22px;
          height: 14px;
        }
      }

      .gbProcessBtn.on {
        background-color: $main-color;
        color: #fff;
      }

      .gbProcessContent {
        max-height: 0;
        overflow: hidden;
        width: 100%;
      }
      .gbProcessContent.show {
        height: auto;
        max-height: 999rem;
        transition: all 0.5s cubic-bezier(1, 0, 1, 0);
        border: 1px solid $main-color;
      }
    }
  }

  .gbAccoContentBox {
    padding: 3rem;
    .gbAccoContentArea {
      display: flex;
      margin-left: 2.167vw;
      margin-bottom: 1.563vw;
      .gbAccoContentT {
        display: flex;
        margin-top: 1rem;

        h1 {
          font-size: 2rem;
          color: $main-color;
          width: 30rem;
        }
      }

      .gbAccoContentC {
        ul {
          li {
            font-size: 2rem;
            line-height: 1.5;
            word-break: keep-all;
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .gbInner .gbAccoContentBox {
    padding: 1rem;
  }

  .gbInner .gbAccoContentBox .gbAccoContentArea {
    margin-left: 2.167vw;
  }
  .gbInner .gbAccordion .gbProcessItem .gbProcessBtn .gbUnderBtn {
    background: url('../../img/icon/bottom_arrow.png') no-repeat;
    background-size: contain;
    width: 11px;
    height: 7px;
  }

  .gbInner .gbAccordion .gbProcessItem .gbProcessBtn .gbTopBtn {
    background: url('../../img/icon/top_arrow.png') no-repeat;
    background-size: contain;
    width: 11px;
    height: 7px;
  }

  .gbInner .gbAccoContentBox .gbAccoContentArea .gbAccoContentT h1 {
    width: 10rem;
    margin-right: 4rem;
    line-height: 1.5;
    word-break: keep-all;
  }

  .gbInner .gbAccoContentBox .gbAccoContentArea .gbAccoContentC ul {
    margin-right: 1rem;
  }
}
