@import '../GlobalStyle.scss';

.gbInner {
  @include Inner;

  .gbTabTitleBox {
    width: 176.3rem;
    border-bottom: 0.1rem solid $basic-gray3;
    padding-bottom: 2rem;
    .gbTabTitle {
      background-image: url(../../img/title_box.png);
      background-repeat: no-repeat;
      font: {
        size: $sub-title;
        weight: bold;
      }
      padding-left: 2.6rem;
    }
  }

  .gbContentTitle {
    margin: 13rem auto 7.5rem;
    font: {
      size: $sub-title;
      weight: bold;
    }
    text-align: center;
    line-height: 1.8;
  }

  .gbContentSubTitle {
    position: relative;
    text-indent: 8.5rem;
    font: {
      size: 2.6rem;
      weight: bold;
    }
    margin-top: 8rem;
    margin-bottom: 8rem;
    &:before {
      content: '';
      position: absolute;
      width: 6rem;
      height: 0.5rem;
      background-color: $main-color;
      top: 30%;
      left: 0;
    }
  }

  .gbGraphImg {
    margin-top: 5rem;
    margin-left: 20rem;
    width: 130rem;
  }

  .gbPerformanceDes {
    font-size: $size-lg;
    width: 69.6rem;
    margin: 9rem auto 15rem;
    text-align: center;
  }

  .gbMaterialTitle {
    font: {
      size: 2.3rem;
      weight: bold;
    }
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .gbMaterialContent {
    font-size: $size-lg;
    margin-bottom: 2rem;
    line-height: 1.8;
  }

  .gbContentBox {
    width: 176.3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border: 0.1rem solid #707070;
    display: flex;
    margin-bottom: 3.3rem;

    .gbContentBoxT {
      font: {
        size: 2.3rem;
        weight: bold;
      }
      line-height: 1.5;
      width: 33rem;
      margin-left: 4.375rem;
      margin-right: 10.125rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .gbContentBoxC {
      font-size: 2.15rem;
      line-height: 2;
    }
  }

  .gbProcessList {
    display: flex;
    .gbProcessItem {
      width: 22rem;
      height: 22rem;
      border-radius: 50%;
      border: 0.1rem solid $main-color;
      display: flex;
      margin-left: 6rem;
      .gbProcessItemBox {
        width: 14rem;
        height: 12rem;
        margin-top: 6rem;
        margin-left: 4rem;

        .gbProcessItemT {
          color: #1527a0;
          margin-bottom: 2.4rem;
          text-align: center;
          font: {
            size: 2.1rem;
            weight: bold;
          }
        }

        .gbProcessItemC {
          font: {
            size: $size-lg;
            weight: bold;
          }
          text-align: center;
          line-height: 1.5;
        }
      }
    }
  }
  .gbProcessListDesBox {
    display: flex;
    margin-top: 4rem;
    margin-left: 5rem;
    width: 140rem;
    justify-content: space-between;

    .gbProcessListDes {
      width: 13rem;
      font-size: $list-md;
      line-height: 1.5;
      &:first-child {
        margin-left: 6rem;
      }
      &:last-child {
        margin-right: 7rem;
      }
    }
  }
}
