@import '../GlobalStyle.scss';

.gbInner {
  @include Inner;

  .gbTabTitleBox {
    width: 85vw;
    border-bottom: 0.1rem solid $basic-gray3;
    padding-bottom: 2rem;
    .gbTabTitle {
      background-image: url(../../img/title_box.png);
      background-repeat: no-repeat;
      font: {
        size: $sub-title;
        weight: bold;
      }
      padding-left: 2.6rem;
    }
  }

  .gbContentTitle {
    margin: 6.771vw auto 3.906vw;
    font: {
      size: 3.2rem;
      weight: bold;
    }
    text-align: center;
    line-height: 1.8;
  }

  .gbContentSubTitle {
    position: relative;
    text-indent: 8.5rem;
    font: {
      size: 2.5rem;
      weight: bold;
    }
    margin-top: 8rem;
    margin-bottom: 8rem;
    &:before {
      content: '';
      position: absolute;
      width: 6rem;
      height: 0.5rem;
      background-color: $main-color;
      top: 30%;
      left: 0;
    }
  }

  .gbGraphImg {
    margin-top: 2.604vw;
    margin-left: 10.417vw;
    width: 85%;
  }

  .gbPerformanceDes {
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    margin-left: 10.417vw;
  }

  .gbMaterialTitle {
    font: {
      size: 2.1rem;
      weight: bold;
    }
    margin-top: 4vw;
    margin-bottom: 1.563vw;
  }

  .gbMaterialContent {
    font-size: 2.1rem;
    margin-bottom: 1.042vw;
    line-height: 1.8;
    word-break: keep-all;
  }

  .gbContentBoxWrap {
    margin: 7.813vw 0;
    .gbContentBox {
      width: 100%;
      padding-top: 2.604vw;
      padding-bottom: 2.604vw;
      border: 0.1rem solid #707070;
      display: flex;
      margin-bottom: 1.719vw;

      .gbContentBoxT {
        font: {
          size: 2.3rem;
          weight: bold;
        }
        line-height: 1.5;
        width: 20%;
        margin-left: 2.279vw;
        margin-right: 5.273vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        word-break: keep-all;
      }

      .gbContentBoxC {
        font-size: 2.1rem;
        line-height: 2;
        margin-right: 2.604vw;
        word-break: keep-all;
        width: 80%;
      }
    }
  }
  .gbProcessList {
    display: flex;
    width: 80vw;
    margin-left: 5rem;

    .gbProcessItem {
      margin-right: 3.125vw;
      width: 11.979vw;
      height: 11.979vw;
      border-radius: 50%;
      border: 0.1rem solid $main-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      &:hover {
        background-color: $main-color;
        .gbProcessItemBox {
          .gbProcessItemT {
            color: $basic-white;
          }
          .gbProcessItemC {
            color: $basic-white;
          }
        }
      }

      &::after {
        content: '';
        width: 2.2vw;
        border: 0.1rem dashed black;
        position: absolute;
        left: 104%;
      }

      &:last-child::after {
        display: none;
      }

      .gbProcessItemBox {
        .gbProcessItemT {
          color: #1527a0;
          margin-bottom: 1.25vw;
          text-align: center;
          font: {
            size: 1.198vw;
            weight: bold;
          }
        }

        .gbProcessItemC {
          font: {
            size: 1vw;
            weight: bold;
          }
          word-break: keep-all;
          text-align: center;
          line-height: 1.5;
        }
      }
    }
  }

  .gbProcessListDesBox {
    display: flex;
    justify-content: space-between;
    margin-top: 2.083vw;
    margin-right: 2.604vw;
    margin-left: 5rem;
    width: 75vw;

    .gbProcessListDes {
      width: 6.875vw;
      font-size: 0.99vw;
      line-height: 1.5;
      text-align: center;

      &:nth-child(1) {
        margin-left: 3vw;
      }

      &:nth-child(5) {
        margin-right: 5vw;
      }
    }
  }
}

@media (max-width: 1000px) {
  .gbInner .gbProcessList {
    display: block;

    .gbProcessItem {
      width: 80vw;
      height: 10rem;
      padding: 8rem;
      margin-bottom: 3rem;
      border-radius: 1%;

      &::after {
        display: none;
      }

      .gbProcessItemBox {
        .gbProcessItemT,
        .gbProcessItemC {
          font-size: 2.3rem;
        }
      }
    }
  }

  .gbInner .gbProcessListDesBox {
    display: none;
  }
}
