@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.gbInner {
  width: 1440px;
  padding: 8rem 0;
  margin: 0 auto;
}
.gbInner .gbTabTitleBox {
  width: 144rem;
  border-bottom: 0.1rem solid #333;
  padding-bottom: 1rem;
}
.gbInner .gbTabTitleBox .gbTabTitle {
  background-image: url(../../img/title_box.png);
  background-repeat: no-repeat;
  font-size: 3.2rem;
  font-weight: bold;
  padding-left: 2.6rem;
}
.gbInner .gbContentTitle {
  margin: 13rem auto 7.5rem;
  width: 115.8rem;
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
}
.gbInner .gbContentSubTitle {
  position: relative;
  text-indent: 8.5rem;
  font-size: 3.5rem;
  font-weight: bold;
  margin-top: 6.25rem;
  margin-bottom: 6.4375rem;
}
.gbInner .gbContentSubTitle:before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 0.5rem;
  background-color: #1527a0;
  top: 30%;
  left: 0;
}
.gbInner .gbGraphImg {
  margin-left: 20rem;
  width: 120rem;
}
.gbInner .gbPerformanceDes {
  font-size: 2.08rem;
  width: 69.6rem;
  margin: 8rem auto 25.4rem;
}
.gbInner .gbMaterialTitle {
  font-size: 2.08rem;
  font-weight: bold;
  margin-bottom: 4.5rem;
}
.gbInner .gbMaterialContent {
  font-size: 1.92rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}
.gbInner .gbContentBox {
  width: 140rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border: 0.1rem solid #707070;
  display: flex;
  margin-bottom: 3.3rem;
}
.gbInner .gbContentBox .gbContentBoxT {
  font-size: 2.08rem;
  font-weight: bold;
  line-height: 1.5;
  width: 33rem;
  margin-left: 4.375rem;
  margin-right: 10.125rem;
}
.gbInner .gbContentBox .gbContentBoxC {
  font-size: 1.92rem;
  line-height: 1.5;
}
.gbInner .gbProcessList {
  display: flex;
  margin-left: 6rem;
}
.gbInner .gbProcessList .gbProcessItem {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 0.1rem solid #1527a0;
  display: flex;
  margin-right: 6rem;
}
.gbInner .gbProcessList .gbProcessItem:hover {
  background-color: #1527a0;
  color: #fff;
}
.gbInner .gbProcessList .gbProcessItem:hover .gbProcessItemT {
  color: white;
}
.gbInner .gbProcessList .gbProcessItem .gbProcessItemBox {
  width: 14rem;
  height: 12rem;
  margin-top: 6rem;
  margin-left: 3rem;
}
.gbInner .gbProcessList .gbProcessItem .gbProcessItemBox .gbProcessItemT {
  color: #1527a0;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.92rem;
  font-weight: bold;
}
.gbInner .gbProcessList .gbProcessItem .gbProcessItemBox .gbProcessItemC {
  font-size: 1.92rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
}
.gbInner .gbProcessListDesBox {
  display: flex;
  margin-top: 4rem;
  width: 120rem;
  margin-left: 8rem;
  justify-content: space-between;
}
.gbInner .gbProcessListDesBox .gbProcessListDes {
  width: 17rem;
  font-size: 1.44rem;
  line-height: 1.5;
}/*# sourceMappingURL=gbStrategy.css.map */