@import '../GlobalStyle.scss';

.dark {
  @include Dark;
  .gbInner .gbChartBox .gbChart .gbChartListTop {
    border-top: 0.3rem solid #fff;
    border-bottom: 0.3rem solid #fff;
  }
  .gbInner .gbChartBox .gbChart .gbchartList {
    border-bottom: 0.1rem solid #fff;
  }
  .gbInner .gbProcessImgBox {
    background-image: url(./../../img/global/global_strategy_w.png);
  }
  .gbInner .gbProcessChartImgBox {
    background-image: url(./../../img/global/global_strategy_graph_w.png);
  }
}

.gbInner {
  @include Inner;

  .gbTabTitleBox {
    .gbTabTitle {
      @include Subtitle($sub-title, $basic-gray3);
    }
  }

  .gbContentSubTitle {
    position: relative;
    text-indent: 8.5rem;
    font: {
      size: 2.5rem;
      weight: bold;
    }
    margin-top: 8rem;
    margin-bottom: 8rem;
    &:before {
      content: '';
      position: absolute;
      width: 6rem;
      height: 0.5rem;
      background-color: $main-color;
      top: 30%;
      left: 0;
    }
  }

  .gbMaterialBox {
    margin-bottom: 5rem;
  }

  .gbMaterialTitle {
    font: {
      size: 2.3rem;
      weight: bold;
    }
    margin-top: 1.563vw;
    margin-bottom: 1.563vw;
  }

  .gbProMaterialTitle {
    font: {
      size: 2.3rem;
      weight: bold;
    }
    margin-top: 5.8rem;
    margin-bottom: 5.8rem;
  }

  .gbPartMaterialTitle {
    font: {
      size: 2.3rem;
      weight: bold;
    }
    margin-top: 5.8rem;
    margin-bottom: 5.8rem;
  }

  .gbTbMaterialTitle {
    font: {
      size: 2.3rem;
      weight: bold;
    }
    margin-top: 7.8rem;
    margin-bottom: 5.8rem;
  }

  .gbMaterialContent {
    font-size: 2.1rem;
    margin-bottom: 1.042vw;
    line-height: 1.8;
    word-break: keep-all;
  }

  .gbProcessImgBox {
    background: url(./../../img/global/global_strategy.png) no-repeat center/contain;
    width: 95%;
    height: 30vw;
    margin-left: 2rem;
    font-size: 0;
    text-indent: 999;
  }

  .gbProcessChartImgBox {
    background: url(./../../img/global/global_strategy_graph.png) no-repeat center/contain;
    width: 95%;
    height: 39vw;
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: 0;
    text-indent: 999;
  }

  .gbChartBox {
    margin-top: 7rem;
    .gbChart {
      .gbChartListTop {
        display: flex;
        font-size: 4rem;
        border-top: 0.3rem solid $basic-gray3;
        border-bottom: 0.3rem solid $basic-gray3;
        padding: 2rem 0;
        .gbChartYear {
          margin-left: 1.042vw;
          width: 6vw;
          line-height: 1.5;
        }
        .gbChartName {
          margin-left: 4.167vw;
          width: 28.646vw;
          line-height: 1.5;
        }
        .gbChartCom {
          margin-left: 5.208vw;
          width: 19.792vw;
          line-height: 1.5;
        }
        .gbChartCon {
          width: 27.083vw;
          margin-left: 2.604vw;
          line-height: 1.5;
          line-height: 1.5;
        }
      }

      .gbchartList {
        display: flex;
        font-size: 3.8rem;
        border-bottom: 0.1rem solid $basic-gray3;
        padding: 2rem 0;
        display: flex;
        text-align: left;
        .gbChartYear {
          margin-left: 1.042vw;
          width: 6vw;
          line-height: 1.5;
        }
        .gbChartName {
          margin-left: 4.167vw;
          width: 28.646vw;
          line-height: 1.5;
        }
        .gbChartCom {
          margin-left: 5.208vw;
          width: 19.792vw;
          line-height: 1.5;
        }
        .gbChartCon {
          width: 27.083vw;
          margin-left: 2.604vw;
          line-height: 1.5;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .gbInner .gbProcessChartImg {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
