@import '../GlobalStyle.scss';

.qnaInner {
  @include Inner;
  .qnaTitleBox {
    border-bottom: 1px solid #707070;
    width: auto;
    .qnaTitle {
      font-size: 3.2rem;
      font-family: 'Noto Sans KR',sans-serif;
      padding-bottom: 20px;
      
    }
  }
  .qnaSearchInput {
    height: 180px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .qnaSelectBox {
      width: 14rem;
      position: relative;
      background-color: $basic-white;

      label {
        position: absolute;
        right: 8px;
        top: 59%;
        transform: translateY(-50%);
        font-size: 0;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        z-index: 100;
        background: url('../../img/icon/bottom_arrow@2x.png') no-repeat;
        background-size: 80%;
      }

      .qnaSelect {
        width: 13.9rem;
        height: 7rem;
        background-color: $basic-white;
        padding-right: 1rem;
        font-family: 'Noto Sans KR',sans-serif;
        font-size: 2rem;
        text-align: center;
        outline: none;
        -webkit-appearance:none;
        -moz-appearance:none;
        -webkit-border-radius: 0;
        text-align: -webkit-center;
        appearance: none;
        position: relative;

        option {
          font-size: $list-md;
          font-family: 'Noto Sans KR',sans-serif;
          width: 140px;
          height: 70px;
        }

      }
    }

    .qnaSearchBox {
      position: relative;

      .qnaSearch {
        width: 54rem;
        height: 50px;
        outline: none;
        border: none;
        border-bottom: 1px solid #707070;
        font-family: 'Noto Sans KR',sans-serif;
        font-size: 2rem;
        margin-left: 62px;
        background: transparent;
      }
      
      .qnamagnifier {
        display: block;
        background: url('../../img/zetaplan_splite.png')  no-repeat -419px -151px;
        background-size: 599px 280px;
        width: 18px;
        height: 18px;
        position: absolute;
        right: 0;
        bottom: 15px;
        cursor: pointer;
      }
    }
  }

  .pagination {
    display: flex;
    width: 50%;
    width: 100%;
    justify-content: center;
    align-self: center;
    .page-item {
      
      a {
        display: block;
        width: 5.8rem;
        height: 5.8rem;
        padding: 2.1rem;
        font-family: 'Noto Sans KR',sans-serif;
        text-align: center;
        font-size: $size-sm;
        cursor: pointer;
      }

      &.active {
        background-color: $main-color;
        color: $basic-white;
      }

      &.disabled {
        display: none;
      }
    }

  }
}

.dark {
  .qnaInner .qnaSearchInput .qnaSearchBox{
    .qnaSearch {
      border-color: $basic-white;
      color: $basic-white;
      &::placeholder {
        color: $basic-white;
      }
    }
    .qnamagnifier {
      background:  url('../../img/zetaplan_splite.png') -403px -114px;
      background-size: 599px 280px;
      width: 18px;
      height: 18px;
    }
  }
   
  .pagination {
    a {
      color: $basic-white;
    }
  }
}
.qnaBottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 7rem auto;
}

.writeBtn {
  width: 15rem;
  height: 5.8rem;
  background-color: $main-color;
  align-self: flex-end;
  margin-right: 3%;
  a{
    color: $basic-white;
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px){


}

@media all and (max-width: 767px){
  .qnaInner .qnaSearchInput .qnaSearchBox .qnaSearch {
    width: 30rem;
    margin-left: 20px;
  }
}