@import '../GlobalStyle.scss';

.qnaTable {
  border-top: 3px solid #707070;
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
  table-layout: fixed;

  .qnaThead {

    .qnaThTr {
      border-bottom: 1px solid #707070;
      height: 10rem;
      th {
        font-size: 1.92rem;
        font-family: 'Noto Sans KR',sans-serif;
        font-weight: bold;
      }
    }
  
  }
  .qnaTbody {
    border-bottom: 1px solid #707070;

    .qnaTbTr {
      border-bottom: 1px solid $basic-gray1;
      height: 10rem;
      cursor: pointer;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: rgba(21, 39, 160, .07);
      }
      td {
        font-size: 1.92rem;
        font-family: 'Noto Sans KR',sans-serif;
        text-align: center;

        &.qnaTbodyId {
          width: 5%;

        }

        &.qnaTbodyTitle {
          box-sizing: border-box;
          padding-right: 1rem;
          width: 550px;
          font-family: 'Noto Sans KR',sans-serif;
          font-weight: bold;
          text-align: start;
          line-height: 1.7;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &.qnaTbodyWriter {
          width: 10%;
        }

        &.qnaTbodyDate {
          width: 20%;
        }

        &.qnaTbodyHit {
          width: 5%;
        }

        &.isAnswerBtn > button {
          width: 12rem;
          height: 5rem;
          font-size: 1.92rem;
          font-family: 'Noto Sans KR',sans-serif;
          border: 1px solid $basic-gray2;
          background-color: $basic-gray1;

          &.active {
            border: 1px solid #707070;
            background-color: $main-color;
            color: $basic-white;
            
          }
        }

      }

    }
  }
}

@media (min-width: 768px) and (max-width: 1023px){


}
@media all and (max-width: 601px){
  .qnaTable {
    border-top: 2px solid #707070;
  }
  
  .qnaTable .qnaTbody .qnaTbTr td.qnaTbodyDate {
    display: none;
  }
  .qnaTable .qnaTbody .qnaTbTr td.qnaTbodyHit {
    display: none;
  }
  .qnaTable .qnaThead .qnaThTr th:nth-of-type(4) {
    display: none;
  }
  .qnaTable .qnaThead .qnaThTr th:nth-of-type(5) {
    display: none;
  }
  .qnaTable .qnaTbody .qnaTbTr td.isAnswerBtn > button {
    width: 10rem;
  }

  .qnaInner .qnaSearchInput .qnaSelectBox .qnaSelect {
    padding-right: 3rem;
  }
}