@import '../GlobalStyle.scss';

.qnaTable {
  border-top: 5px solid #707070;
  // border-bottom: 1px solid #707070;
  width: 100%;
  // border-collapse: separate;
  // border-spacing: 0 10px;

  .qnaThead {

    .qnaThTr {
      border-bottom: 1px solid #707070;
      height: 113px;
      th {
        font-size: 1.92rem;
        font-family: 'Noto Sans KR',sans-serif;
        font-weight: bold;
      }
    }
  
  }
  .qnaTbody {
    border-bottom: 1px solid #707070;
    .qnaTbTr {
      border-bottom: 1px solid $basic-gray1;
      height: 113px;
      cursor: pointer;
      // border-spacing: 0 100px;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: rgba(21, 39, 160, .07);
      }
      td {
        font-size: 1.92rem;
        font-family: 'Noto Sans KR',sans-serif;
        text-align: center;

        &.qnaTbodyId {
          width: 100px;

        }

        // padding: 0 8px;
        &.qnaTbodyTitle {
          // width: 60%;
          // padding-right: 1rem;
          width: 550px;
          font-family: 'Noto Sans KR',sans-serif;
          font-weight: bold;
          text-align: start;
          line-height: 1.7;
          // overflow: hidden;
          // text-overflow: ellipsis;
          // word-break: break-word;    
          // display: -webkit-box;
          // -webkit-line-clamp: 1;
          // -webkit-box-orient: vertical;
        }

        &.qnaTbodyWriter {
          width: 100px;
          

        }

        &.qnaTbodyDate {
          width: 200px;
        }

        &.qnaTbodyHit {
          width: 100px;

        }

        &.isAnswerBtn > button {
          width: 12rem;
          // height: 50px;
          height: 5rem;
          font-size: 1.92rem;
          font-family: 'Noto Sans KR',sans-serif;
          border: 1px solid $basic-gray2;
          background-color: $basic-gray1;

          &.active {
            border: 1px solid #707070;
            background-color: $main-color;
            color: $basic-white;
            
          }
        }

      }

    }
  }
}

@media (min-width: 768px) and (max-width: 1023px){


}
@media (min-width: 360px) and (max-width: 767px){

}