@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.mainGb {
  background: url('./../../img/main/globalnetwork/globalNetwork_bg@2x.png') no-repeat;
  background-size: cover;
  width: 100vw;
  height: 93.4rem;
  .mainGbInner {
    width: 90%;
  }

  .mainGbTitle {
    color: #fff;
    padding: 8.6rem 0 0 5rem;
    .mainGbTitleT {
      font-size: 5rem;
      font-weight: bold;
      font-family: 'Montserrat';
      margin-bottom: 3.5rem;
    }
    .mainGbTitleD {
      font-size: 2.6rem;
      font-weight: 500;
      line-height: 1.7;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 15rem 20.3rem 16.4rem 17.3rem;
      position: relative;
      li {
        font-size: 1.6rem;
        font-weight: bold;
        font-family: 'Montserrat';
        position: absolute;
        background-color: transparent;
        border: 3px solid #fff;
        padding: 1rem 2.7rem 1rem 5rem;
        border-radius: 5rem;
        margin-bottom: 5.7rem;
        span {
          font-size: 1.6rem;
          font-weight: bold;
  
        }
      &::before {
        content: "";
        display: block;
        background: url('./../../img/main/globalnetwork/location_on_white_24dp.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 1.7vw;
        height: 1.9vw;
        position: absolute;
        top: 0.7rem;
        left: 1.5rem;
      }
      &:hover {
        background-color: rgba($color: $main-color, $alpha: 0.7);
        transition: all 0.1s linear;
      }

    }
  }
}
}
.mainGbJ {
  align-self: flex-start;
  top: 76%;
  left: 18%;
}
.mainGbH {
  align-self: flex-start;
  top: 102%;
  left: 26%;
}
.mainGbA {
  align-self: flex-start;
  top: 135%;
  left: 6%;
}
.mainGbB {
  top: 86%;
  left: 67%;
  align-self: flex-end;
}
.mainGbS {
  top: 110%;
  left: 77%;
  align-self: flex-end;
}
.mainGbGJ {
  top: 132%;
  left: 70%;
  align-self: flex-end;
}

@media (min-width: 768px) and (max-width: 1023px){


}
@media (min-width: 360px) and (max-width: 767px){
  .mainCity {
    display: none;
  }

}
