@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.mainGb {
  background: url('./../../img/main/globalnetwork/globalNetwork_bg@2x.png') no-repeat;
  background-size: cover;
  width: 100vw;
  height: 93.4rem;
  .mainGbInner {
    width: 90%;
  }

  .mainGbArea {
    color: #fff;
    padding: 8.6rem 0 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93.4rem;

    .mainGbTitleT {
      font-size: 5rem;
      font-weight: bold;
      font-family: 'Montserrat';
      margin-bottom: 3.5rem;
    }
    .mainGbTitleD {
      p {
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.7;
      }
    }
    ul {
      display: grid;
      grid-template-columns: auto auto;
      place-items: center;
      padding: 3rem 0.3rem 1.4rem 3.3rem;
      box-sizing: border-box;
      height: 20vw;
      li {
        display: flex;
        flex-direction: column;

        .mainGN {
          font-size: 1.6rem;
          font-weight: bold;
          font-family: 'Montserrat';
          position: relative;
          background-color: transparent;
          border: 3px solid #fff;
          padding: 1rem 2.7rem 1rem 5rem;
          border-radius: 5rem;
          margin-bottom: 1.563vw;
          display: flex;
          justify-content: center;
          display: inline-block;
          a{
            font-size: 1.6rem;
            font-weight: bold;

            span {
              font-size: 1.6rem;
              font-weight: bold;
      
            }
          }

        &::before {
          content: "";
          display: block;
          background: url('./../../img/main/globalnetwork/location_on_white_24dp.svg');
          background-size: contain;
          background-repeat: no-repeat;
          width: 1.3vw;
          height: 1.5vw;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 1.5rem;
        }
        &:hover {
          background-color: rgba($color: $main-color, $alpha: 0.7);
          transition: all 0.1s linear;
        }
      }

    }
  }
}
}
.mainGbJ {
  align-self: flex-start;
  margin-left: 10rem;

}
.mainGbH {
  align-self: flex-start;
  margin-left: 20rem;
}
.mainGbA {
  align-self: flex-start;
}
.mainGbB {
  align-self: flex-end;
  margin-right: 5rem;
}
.mainGbS {
  margin-right: 15rem;
  align-self: flex-end;
}
.mainGbGJ {
  margin-right: 5rem;
  align-self: flex-end;
}

@media (min-width: 1024px) and (max-width: 1900px) {
  .mainGb .mainGbInner .mainGbArea {
    height: 80rem;
  }
}


@media (min-width: 768px) and (max-width: 1023px){
    .mainGb {
    height: 65rem;
}

    .mainGb .mainGbInner .mainGbArea {
      height: 65rem;
    }
}



@media (min-width: 360px) and (max-width: 767px){
  .mainGb .mainGbTitle .mainGbTitleD  {
    font-size: 1.8rem;
  }
  .mainGb .mainGbArea ul  {
    display: none;
  }
  .mainGb {
    height: 45rem;
  }

}
