@import '../GlobalStyle.scss';

.mainInformation {
  @include Inner;

  h2.mainInfoTitle {    font-size: 4rem;
    font-family: 'Montserrat';
    font-weight: bold;
    color: $basic-white;
    margin-bottom: 39px;
  }

  .infoSwiperBoxList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    .infoSwipBox {
      width: calc(50% - 28px);
      background-color: $basic-white;
      // height: 31.4rem;
      margin-bottom: 40px;
      border-radius: 29px;
      padding: 53px 30px 41px 50px;
      position: relative;
  
      .infoSwiperTitle {
        font-size: $size-xl;
        font-family: 'Noto Sans KR',sans-serif;
        font-weight: bold;
        position: absolute;
      }
  
      &:hover {
        background-color: $main-color;
        color: $basic-white;
      }
  
      .infoConTitle {
        width: 80%;
        font-size: 1.84rem;
        font-family: 'Noto Sans KR',sans-serif;
        line-height: 1.5;
        height: 68px;
        margin: 49px 0;
        word-break: keep-all;
      }

      .infoConDate {
        font-size: 1.84rem;
        font-family: 'Noto Sans KR',sans-serif;
      }
      
      .infoSwiperHorizontal {
        position: absolute;
        top: 0;
        left: unset;
        right: 0;
        transform: translateX(0);
      }

    }
  
  }
  
  .mainInfoMoreBtn {
    background-color: $basic-white;
    // width: 295px;
    // height: 78px;
    width: 30rem;
    height: 8rem;
    border-radius: 50px;
    display: block;
    font-size: $size-sm;
    text-align: center;
    font-weight: bold;
    margin: 0 auto 4rem;
    padding: 3rem 0;
  }

}



@media (min-width: 768px) and (max-width: 1023px) {

  .mainInformation .infoSwiperBoxList .infoSwipBox .infoConTitle {

    margin: 49px 0 2rem;
    word-break: keep-all;
  }

}

@media (min-width: 360px) and (max-width: 767px) {

  .mainInformation .infoSwiperBoxList {
    justify-content: center;

    .infoSwipBox {
      width: 80%;

      .infoConTitle {
        margin: 49px 0 3rem;

      }
    }
  }

}
