@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.mainNewsInner {
  width: 90%;
  margin: auto;
  padding-top: 27rem;
  .mainNewsTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5rem;


    .mainNewTitle {
      font-size: 5rem;
      font-family: 'Montserrat';
      font-weight: bold;
      color: #fff;
    }

    .newsColumnMore{
      width: 15rem;
      height: 5rem;
      border: 1px solid #fff;
      border-radius: 3rem;
      color: #fff;
      font-size: 1.6rem;
      position: relative;
      text-align: center;
      line-height: 5rem;
      padding-right: 1rem;

      &::after{
      content: '';
      background: url('../../img/zetaplan_splite.png') no-repeat -236px -221px;
      background-size: 599px 280px;
      width: 8px;
      height: 13px;
      position: absolute;
      bottom: 33%;
      right: 13%;
    }
    }
  }
  .mainNewsColumn {
    width: 100%;
    height: 60rem;
    background-color: $main-color;
    padding: 2rem 0 5rem 5vw;
    box-sizing: border-box;
    }
}

  .newsColumBox{
    width: 100vw;
    height: 26vw;
    position: relative;
  }


  .newsColumnTab{
    display: flex;
    position: absolute;
    top: 24px;
    left: 0;
    z-index: 10;
    .mainNCTap {
      border: 1px solid #fff;
      border-radius: 1rem;
      padding: 1.198vw 1.354vw;
      margin-left: 1rem;
      font-size: 1.5rem;
      font-family: 'Montserrat';
      &:first-child {
        margin-left: 0;
      }
    }
  }




  .newsColumnBtn {
    width: 7.2rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 7%;
    left: 73%;
    z-index: 9;

    .prev {
      background: url('../../../src/img/zetaplan_splite.png') no-repeat -390px -442px;
      width: 16px;
      height: 25px;
      font-size: 0;
    }
    
    .next {
      background: url('../../../src/img/zetaplan_splite.png') no-repeat -472px -443px;
      width: 16px;
      height: 25px;
      font-size: 0;
    }
  }

// all
.mainNewsColumn {
  width: 88vw;
  height: 73.5rem;
  overflow: hidden;
}

.mainNCSlide {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8vw;
}
.mainNClListBox {
  width: 38rem;
  height: 40rem;
  cursor: pointer;

  .mainNCTxt {
    width: 38rem;
    height: 40rem;
    padding: 2.4rem 2.8rem;
    box-sizing: border-box;  
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .mainNCCategory {
      font-size: 2rem;
      font-family: 'Montserrat';
      margin-bottom: 1.6rem;
      justify-self: center;
    }
    .mainNCTitle {
      font-size: 2.6rem;
      line-height: 1.5;
      font-weight: bold;
      margin-bottom: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .mainNCDate {
      font-size: 1.8rem;
      font-family: 'Noto Sans KR';
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .mainNCDimmed {
    position: absolute;
    width: 38rem;
    height: 40rem;
    background-color: rgba($color: #fff, $alpha: 0.3);
    top: 0;
    left: 0;
    border-radius: 5px;
  }

    .mainNCBg {
      width: 38rem;
      height: 40rem;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      background-color: #fff;
      border-radius: 5px;
      
      img {
        width: 38rem;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
  
      }
    }
  
}

.mainSlideOn {
  display: block;
}

.mainSlideOff {
  display: none;
}

.mainNCTapOn {
  background-color: #fff;
  font-size: 1.5rem;
  font-family: 'Montserrat';
  color: $main-color;

}

.mainNCTapOff {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  color: #fff;
}


@media (min-width: 768px) and (max-width: 1023px){
  .mySlider.mainNCSlide {
    .newsColumnBtn {
      width: 5rem;

      .prev {
        background: url('../../../src/img/zetaplan_splite.png') no-repeat -195px -221px;
        background-size: 599px 280px;
        width: 8px;
        height: 13px;
        font-size: 0;
      }
      
      .next {
        background: url('../../../src/img/zetaplan_splite.png') -236px -221px;
        background-size: 599px 280px;
        width: 8px;
        height: 13px;
        font-size: 0;
      }
    }

  }
  .newsColumnTab {
    display: flex;
    position: absolute;
    top: 11px;
    left: 0;
    z-index: 10;
  }
  .mainNewsInner .mainNewsColumn {
    height: 58rem;
  }
}
@media (min-width: 360px) and (max-width: 767px){
  .mySlider.mainNCSlide {
    .newsColumnBtn {
      width: 5rem;
      .prev {
        background: url('../../../src/img/zetaplan_splite.png') no-repeat -195px -221px;
        background-size: 599px 280px;
        width: 8px;
        height: 13px;
        font-size: 0;
      }
      
      .next {
        background: url('../../../src/img/zetaplan_splite.png') -236px -221px;
        background-size: 599px 280px;
        width: 8px;
        height: 13px;
        font-size: 0;
      }
    }
  }
  .newsColumnMore{
    &::after{
      display: none;
    }
  }
  .mainNewsInner .mainNewsTop .newsColumnMore {
    padding-right: 0;

  }
  .newsColumnTab {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 10;
  }
  .mainNCSlide {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vw;
  }
  .mainNewsInner .mainNewsColumn {
    padding: 4rem 0 5rem 5vw;
    height: 56rem;
  }
  .mySlider.mainNCSlide .newsColumnBtn {
    top: 0%;
    left: 73%;

}
}
