@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.obWrapper {
  width: 100vw;
  height: auto;
  background: $basic-black;
  display: flex;
  align-items: center;
  justify-content: center;

  .obCon {
    width: 90%;
    height: auto;
    margin: 62px auto;

    .obTitle {
      font: {
        size: $main-title;
        weight: bold;
        family: Montserrat;
      }
      color: $basic-white;
      margin-bottom: 5rem;
    }

    .obInner {
      display: flex;
      justify-content: space-between;
      overflow: hidden;

      .obList {
        height: 69rem;
        margin-right: 1.5rem;
        border-radius: 1rem;
        display: flex;
        flex: 1 1 0%;
        position: relative;

        .videoCon {
          display: none;
          position: absolute;
          left: 0;
          top: 0;

          video {
            object-fit: cover;
            width: 43.5vw;
            height: 69rem;
            border-radius: 1rem;
            position: relative;
          }
        }

        .obVideoDes {
          position: absolute;
          color: white;
          top: 55rem;
          left: 5rem;

          .obVideoDesT {
            font: {
              weight: bold;
              size: 4.5rem;
              family: Montserrat;
            }
          }

          .obVideoDesC {
            font-size: 1.8rem;
            margin-top: 2rem;
          }
        }
      }

      .obList:hover {
        flex: 3 1 0%;
        transition: 1s;
      }

      .obList:hover .videoCon {
        display: flex;
      }

      .professional {
        background-image: url(./../../img/main/business/ourBusiness_01_profession.png);
        background-repeat: no-repeat;
        background-size: 90vw 90vw;
      }

      .global {
        background-image: url(./../../img/main/business/ourBusiness_02_global.png);
        background-repeat: no-repeat;
        background-size: 90vw 90vw;
      }

      .trust {
        background-image: url(./../../img/main/business/ourBusiness_03_custumize.png);
        background-repeat: no-repeat;
        background-size: 90vw 90vw;
      }

      .customized {
        background-image: url(./../../img/main/business/ourBusiness_04_trust.png);
        background-repeat: no-repeat;
        background-size: 90vw 90vw;
      }
    }
  }
}

@media all and (max-width: 475px) {
  .obWrapper {
    .obCon {
      height: auto;
      margin: auto;
      .obInner {
        height: auto;
        width: 90vw;
        flex-wrap: wrap;
        justify-content: flex-start;

        .obList {
          flex: 50rem;
          height: 50rem;
          margin-bottom: 10px;
          pointer-events: none;

          .videoCon {
            display: flex;
            border-radius: 1rem;
            height: 50rem;
            width: 90vw;

            video {
              height: 50rem;
              width: 90vw;
              position: relative;
            }
          }

          .obVideoDes {
            top: 40rem;
            left: 2rem;
          }
        }
      }
    }
  }
}
