@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.pfWrap {
  width: 100vw;
  height: auto;
  background: url(./../../img/main/performance/performance_bg.png) no-repeat;
  margin: auto;
  overflow: hidden;

  .pfCon {
    width: 90%;
    margin: auto;
    padding-top: 7rem;
    padding-bottom: 20rem;

    .pfMaintitle {
      color: $basic-white;
      font : {
        size: $main-title;
        weight: bold;
        family: Montserrat;
      }
      margin-bottom: 5rem;
    }

    .pfListCon {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      bottom: 0.8rem;

      .pfMQImgBox {
        display: none;
      }

      .pfList {
        margin-right: 1.5rem;
        flex: 1 1 0%;
        height: auto;
        background-color: $basic-gray1;

        .pfImgBox {
          img {
            width: 100%;
          }
        }

        .pfConBox {
          .pfIconBox {
            display: flex;
            justify-content: center;
            margin-top: 3rem;
            height: 10rem;
            img {
              margin: auto;
            }
          }

          .pfTitle {
            margin-top: 1rem;
            font: {
              size: 3rem;
              weight: bold;
            }
            color: $main-color;
            margin-bottom: 2rem;
            text-align: center;
          }

          .pfCount {
            font: {
              size: 6rem;
              weight: bold;
            }
            display: flex;
            justify-content: center;
          }

          .pfDes {
            font-size: 1.7rem;
            line-height: 1.5;
            border-top: 0.1rem solid $basic-black;
            width: 90%;
            padding-top: 2rem;
            padding-bottom: 2rem;
            text-align: center;
            margin: 1.5rem auto 0;
            word-break: keep-all;
          }
        }
      }
    }
  }
}

@media all and (max-width: 699px) {
  .pfWrap .pfCon .pfListCon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .pfWrap .pfCon .pfListCon .pfList .pfConBox .pfIconBox {
    display: none;
  }

  .pfWrap .pfCon .pfListCon .pfList .pfConBox .pfMQConBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    .pfTitle {
      font-size: 2.5rem;
    }

    .pfCount {
      font-size: 4rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
  }
}
@media (min-width: 700px) and (max-width: 1400px) {
  .pfWrap .pfCon .pfListCon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .pfWrap .pfCon .pfListCon .pfList .pfConBox .pfIconBox {
    display: none;
  }

  .pfWrap .pfCon .pfListCon .pfList .pfConBox .pfMQConBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    .pfTitle {
      font-size: 2.5rem;
    }

    .pfCount {
      font-size: 4rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
  }
}
