@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.pfWrap {
  width: 100vw;
  height: auto;
  background: url(./../../img/main/performance/performance_bg.png) no-repeat;
  margin: auto;

  .pfCon {
    width: 150rem;
    margin: auto;
    padding-top: 7rem;
    padding-bottom: 30rem;

    .pfMaintitle {
      color: $basic-white;
      font : {
        size: $main-title;
        weight: bold;
        family: Montserrat;
      }
      margin-bottom: 5rem;
    }

    .pfListCon {
      width: 150rem;
      display: flex;
      justify-content: space-between;
      position: relative;
      bottom: 0.8rem;

      .pfList {
        height: auto;
        background-color: $basic-gray1;

        .pfImgBox {
          img {
            width: 36rem;
          }
        }

        .pfConBox {
          .pfIconBox {
            display: flex;
            justify-content: center;
            margin-top: 3rem;
            height: 10rem;
            img {
              margin: auto;
            }
          }

          .pfTitle {
            margin-top: 1rem;
            font: {
              size: 3rem;
              weight: bold;
            }
            color: $main-color;
            margin-bottom: 2rem;
            text-align: center;
          }

          .pfCount {
            font: {
              size: 6rem;
              weight: bold;
            }
            display: flex;
            justify-content: center;
          }

          .pfDes {
            font-size: 1.7rem;
            line-height: 1.5;
            border-top: 0.1rem solid $basic-black;
            width: 34rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            text-align: center;
            margin: 1.5rem auto 0;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .pfWrap .pfCon .pfListCon {
    width: 90vw;
    height: auto;
    flex-wrap: wrap;
    margin-left: 2.604vw;

    .pfList {
      flex: 3 1 0%;
      margin-bottom: 2rem;
      margin-right: 2rem;

      .pfImgBox {
        display: flex;
        img {
          flex: 3 1 0%;
        }
      }

      .pfConBox {
        .pfIconBox {
          display: none;
        }
        .pfTitle {
          font-size: 4rem;
          margin-top: 3rem;
        }
        .pfCount {
          font-size: 3.8rem;
        }

        .pfDes {
          font-size: 1.8rem;
          margin-top: 2rem;
          width: 35rem;
        }
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .pfWrap .pfCon .pfListCon {
    width: 65vw;
    height: auto;
    flex-wrap: wrap;
    margin-left: 15vw;

    .pfList {
      flex: 3 1 0%;
      margin-bottom: 2rem;
      margin-right: 2rem;

      .pfImgBox {
        display: flex;
        img {
          flex: 3 1 0%;
        }
      }

      .pfConBox {
        .pfIconBox {
          display: none;
        }
        .pfTitle {
          font-size: 3.5rem;
          margin-top: 3.5rem;
        }
        .pfCount {
          font-size: 3.3rem;
        }

        .pfDes {
          font-size: 1.8rem;
          margin-top: 2rem;
          width: 35rem;
        }
      }
    }
  }
}
