@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.ziWrap {
  background: linear-gradient(to right, #1527a0 60%, #461d93);
}
.ziWrap .ziTitleCon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 83.4rem;
  margin-left: 8rem;
  text-transform: uppercase;
  position: relative;
  bottom: 7rem;
}
.ziWrap .ziTitleCon .ziTitleBlue {
  font-size: 4.5rem;
  font-family: Montserrat;
  color: #1527a0;
}
.ziWrap .ziTitleCon .ziTitleBlack {
  font-size: 4.5rem;
  font-weight: bold;
  font-family: Montserrat;
}
.ziWrap .ziContentBox {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  position: relative;
  bottom: 4rem;
}
.ziWrap .ziContentBox .ziCompanyDes {
  word-break: keep-all;
  font-size: 1.9rem;
  color: #fff;
  text-align: left;
  line-height: 1.5;
}
.ziWrap .ziContentBox .ziLinkBox {
  margin-left: 10%;
  display: flex;
  color: #fff;
  position: relative;
  flex-wrap: nowrap;
}
.ziWrap .ziContentBox .ziLinkBox .ziCompanyLink a {
  display: block;
  border: 1px solid #fff;
  width: 26.8rem;
  height: 6.3rem;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  margin-right: 6rem;
  font-size: 1.8rem;
}
.ziWrap .ziContentBox .ziLinkBox .ziCompanyLink a:after {
  content: "";
  background: url(./../../img/icon/thin_arrow.png) no-repeat;
  width: 57px;
  height: 15px;
  position: absolute;
  top: 2rem;
  left: 50rem;
}
.ziWrap .ziContentBox .ziLinkBox .ziEstablishmentLink a {
  display: block;
  border: 1px solid #fff;
  width: 26.8rem;
  height: 6.3rem;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  font-size: 1.8rem;
}
.ziWrap .ziContentBox .ziLinkBox .ziEstablishmentLink a:after {
  content: "";
  background: url(./../../img/icon/thin_arrow.png) no-repeat;
  width: 57px;
  height: 15px;
  position: absolute;
  top: 2rem;
  left: 17rem;
}

@media (min-width: 745px) and (max-width: 1100px) {
  .ziWrap .ziContentBox {
    flex-direction: column;
  }
  .ziWrap .ziContentBox .ziCompanyDes {
    width: 600px;
    margin: auto;
  }
  .ziWrap .ziContentBox .ziLinkBox {
    margin: 30px auto 0;
  }
  .ziWrap .ziContentBox .ziLinkBox .ziCompanyLink a {
    display: block;
    border: 1px solid #fff;
    width: 26.8rem;
    height: 6.3rem;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    margin-right: 6rem;
    font-size: 1.8rem;
  }
  .ziWrap .ziContentBox .ziLinkBox .ziCompanyLink a:after {
    content: "";
    background: url(./../../img/icon/thin_arrow.png) no-repeat;
    width: 57px;
    height: 15px;
    position: absolute;
    top: 2.5rem;
    left: 53rem;
  }
  .ziWrap .ziContentBox .ziLinkBox .ziEstablishmentLink a {
    display: block;
    border: 1px solid #fff;
    width: 26.8rem;
    height: 6.3rem;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    font-size: 1.8rem;
  }
  .ziWrap .ziContentBox .ziLinkBox .ziEstablishmentLink a:after {
    content: "";
    background: url(./../../img/icon/thin_arrow.png) no-repeat;
    width: 57px;
    height: 15px;
    position: absolute;
    top: 2.5rem;
    left: 20rem;
  }
}
@media (min-width: 475px) and (max-width: 744px) {
  .ziWrap .ziContentBox {
    flex-direction: column;
    margin: auto;
  }
  .ziWrap .ziContentBox .ziCompanyDes {
    width: 400px;
    margin: auto;
  }
  .ziWrap .ziContentBox .ziLinkBox {
    margin: auto;
    margin-top: 30px;
  }
}
@media (min-width: 375px) and (max-width: 474px) {
  .ziWrap .ziTitleCon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50rem;
    margin-left: 8rem;
    text-transform: uppercase;
    position: relative;
    bottom: 5rem;
  }
  .ziWrap .ziTitleCon .ziTitleBlue {
    font-size: 3.5rem;
    font-family: Montserrat;
    color: #1527a0;
  }
  .ziWrap .ziTitleCon .ziTitleBlack {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: Montserrat;
  }
  .ziWrap .ziContentBox {
    flex-direction: column;
    margin: auto;
  }
  .ziWrap .ziContentBox .ziCompanyDes {
    width: 300px;
    margin: 0 auto;
  }
  .ziWrap .ziContentBox .ziLinkBox {
    width: 300px;
    display: flex;
    color: #fff;
    position: relative;
    flex-wrap: nowrap;
    margin: 15px auto 0;
  }
  .ziWrap .ziContentBox .ziLinkBox .ziCompanyLink a {
    display: block;
    border: 1px solid #fff;
    width: 20rem;
    height: 6.3rem;
    display: flex;
    align-items: center;
    padding-left: 6rem;
    margin-right: 6rem;
    font-size: 1.8rem;
  }
  .ziWrap .ziContentBox .ziLinkBox .ziCompanyLink a:after {
    display: none;
  }
  .ziWrap .ziContentBox .ziLinkBox .ziEstablishmentLink a {
    display: block;
    border: 1px solid #fff;
    width: 20rem;
    height: 6.3rem;
    display: flex;
    align-items: center;
    padding-left: 6rem;
    font-size: 1.8rem;
  }
  .ziWrap .ziContentBox .ziLinkBox .ziEstablishmentLink a:after {
    display: none;
  }
}/*# sourceMappingURL=ZetaIntrduction.css.map */