@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.ziWrap {
  background: linear-gradient(to right, $main-color 60%, $sub-purple);

  .ziTitleCon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 83.4rem;
    margin-left: 8rem;
    text-transform: uppercase;
    position: relative;
    bottom: 8rem;

    .ziTitleBlue {
      font: {
        size: 5.5rem;
        weight: bold;
        family: Montserrat;
      }
      color: #1527a0;
    }
    .ziTitleBlack {
      font: {
        size: 5rem;
        weight: bold;
        family: Montserrat;
      }
    }
  }

  .ziContentBox {
    display: flex;

    .ziCompanyDes {
      font-size: 2rem;
      color: $basic-white;
      width: 85rem;
      text-align: left;
      margin-left: 8rem;
      position: relative;
      bottom: 6rem;
      line-height: 1.5;
    }

    .ziLinkBox {
      display: flex;
      color: $basic-white;
      margin-left: 30rem;
      position: relative;
      bottom: 6rem;

      .ziCompanyLink a {
        display: block;
        border: 1px solid $basic-white;
        width: 26.8rem;
        height: 6.3rem;
        display: flex;
        align-items: center;
        padding-left: 5rem;
        margin-right: 6rem;
        font-size: 1.8rem;

        &:after {
          content: '';
          background: url(./../../img/zetaplan_splite.png) no-repeat -512px -234px;
          width: 57px;
          height: 15px;
          position: absolute;
          top: 2rem;
          left: 50rem;
        }
      }

      .ziEstablishmentLink a {
        display: block;
        border: 1px solid $basic-white;
        width: 26.8rem;
        height: 6.3rem;
        display: flex;
        align-items: center;
        padding-left: 5rem;
        font-size: 1.8rem;

        &:after {
          content: '';
          background: url(./../../img/zetaplan_splite.png) no-repeat -512px -234px;
          width: 57px;
          height: 15px;
          position: absolute;
          top: 2rem;
          left: 17rem;
        }
      }
    }
  }
}
