@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');

@import '../GlobalStyle.scss';

$mngSize : 90rem;
$mngFour : 90vw;
$mngSecondSize : 150rem;
$mngCircleSize : 20rem;
$mngSummaySize : 132.7rem;
$mngSummaryHeight : 26.6rem;
$size-ft : 1.6rem;


.mngSubTitle{
  font-size: $sub-title;
  font-weight: 900;
  padding-left: 3rem;
  position: relative;
  margin: 1rem 0 3rem;
  &::before {
    content: "";
    display: block;
    background: url('./../../img/title_box@2x.png') no-repeat;
    background-size: contain;
    width: 1rem;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
  }
};

.mngSubTitleNb{
  font-size: $sub-title;
  font-weight: 900;
  padding-left: 3rem;
  position: relative;
  margin-top: 5rem;
  &::before {
    content: "";
    display: block;
    background: url('./../../img/title_box@2x.png') no-repeat;
    background-size: contain;
    width: 1rem;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
  }
}


.mngSummary{
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  p{
    font-size: 2rem;
    line-height: 1.7;
  }
}


@mixin mngCircle($mngFour, $mngCircleSize) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    li {
      width: $mngCircleSize;
      height: $mngCircleSize;
      border-radius: 50%;
      border: 1px solid $main-color;
      margin-right: 4rem;
      position: relative;
      font-size: 2.1rem;
      font-weight: bold;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.7;
      
      &:hover {
        background-color: $main-color;
        color: $basic-white;
      }
      &::before {
        content: "";
        display: block;
        width: 4rem;
        height: 1px;
        border-bottom: 1px dashed black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -4rem;
      }
      &:first-child::before {
        display: none;
      }
    }
  }


.mngFourCircleBox .mngFiveCircleBox{
  width: 100vw;
}
.mngFiveCircle{
  display: flex;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  li {
    width: $mngCircleSize;
    height: $mngCircleSize;
    border-radius: 50%;
    border: 1px solid $main-color;
    margin-right: 4rem;
    position: relative;
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;

    &:hover {
      background-color: $main-color;
      color: $basic-white;
    }

    &::before {
      content: '';
      display: block;
      width: 4rem;
      height: 1px;
      border-bottom: 1px dashed black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -4rem;
    }

    &:first-child::before {
      display: none;
    }
  }
}


.mngFourCircle.mngConsultingFour{
 @include mngCircle($mngFour, $mngCircleSize);
 }


.mngConsultingTxt{
  p {
    font-size: 2rem; 
    font-family:'Noto Sans KR';
    padding-left: 3rem;
    padding-bottom: 5rem;
    line-height: 1.5;
    margin-top: 4rem;
  }
}

.mngConsultingDecoBg {
  background: url('./../../img/me/mngConsultingBg.jpg') no-repeat ;
  background-size: cover;
  width: 120%;
  height: 50rem;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  p {
    font-size: 5rem;
    color: #fff;
    font-family: 'Montserrat';
    padding-bottom: 5%;
    padding-right: 20%;
  }
}


.mngTxt{
  p:last-child{
    margin-top: -3rem;
  }
}

.mngSmTitle{
  width: 30rem;
  font-size: $size-xl;
  margin-left: 7.6rem;
  margin-top: 10rem;
}

.mngConsultingProcess{
  text-align: center;
}

.mngConsultingProcessImg{
  width: 90rem;
  margin: 9.4rem 0;
}


.mngInner{
  @include Inner
}

// dark & light mode
.light{
  .darkText{
    color: #000;
  }
  .darkBackground{
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .mngTradeProcessImg{
    background: url(./../../img/me/me_process@2x.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vw;
    font-size: 0;
  }
}

.dark{
  .darkText{
    color : #fff;
  }
  .darkBackground{
    width: 100%;
    height: 100%;
    background-color: #1e1d1d;
  }
  .mngTradeProcessImg{
    background: url(./../../img/me/mngimg2.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vw;
    font-size: 0;
  }
  .mngFourCircle li{
    background-color: #ccc;
    border: none;
    &:hover{
      background-color: $main-color;
    }
  }
  .mngFiveCircle li{
    background-color: #ccc;
    border: none;
  &:hover{
    background-color: $main-color;
  }
  }
  .mngCreditBtn{
    background-color: #ccc;
    border: none;
  }
  .mngCreditContent{
    background-color: #ccc;
  }
  .mngCreditReportTitle{
    color: #fff;
  }
  .mngCreditReport{
    color: #fff;
  }
}


//




@media (min-width: 768px) and (max-width: 1200px){
  .mngSummary.mngConsultingSummary{
    margin-left: 3rem;
    width: 95%;
  }
  .mngFourCircle.mngConsultingFour{
    flex-wrap: wrap;
    li{
      width: 16rem;
      height: 16rem;
    }

    .mngFiveCircle.mngConsultingFive{
        width: 100vw;
        height: 20vw;
        flex-wrap: wrap;
        li{
          border-radius: 1%;
          width: 10rem;
          height: 10rem;
        }
    }
  }

  .mngConsultingProcessImg{
    width: 90%;
  }
}
@media (min-width: 360px) and (max-width: 1300px){

.mngConsultingGoal{
  margin-top: 10rem;
}

  .mngSummary.mngConsultingSummary{
    width: 95%;
    p{
      line-height: 1.3;
    }
  }
  .mngFourCircle.mngConsultingFour{
   
    flex-wrap: wrap;
    li{
      width: 10rem;
      height: 10rem;
      border-radius: 1%;
      margin-top: 3rem;
      flex: 100%;
      &::before{
      display: none;
    }
  }
}

.mngConsultingDecoBg{
  width: 100%;
  height: 30rem;
}

  .mngFiveCircle{
    flex-wrap: wrap;
    margin-top: 0;
    li{
      width: 10rem;
      height: 10rem;
      border-radius: 0;
      margin-top: 3rem;
      flex: 100%;
      &::before{
      display: none;
    }
  }
}


.mngConsultingTxt{
 margin-left: -3rem;
}


.mnConsultingSmTitle{
  margin-top: 5rem;
  margin-left: 0;
}

  .mngConsultingProcessImg{
    width: 95%;
   margin-top: 6rem;
  }

}
