@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.mngSubTitle {
  font-size: 3.2rem;
  font-weight: 900;
  padding-left: 3rem;
  position: relative;
  margin: 1rem 0 3rem;
}
.mngSubTitle::before {
  content: "";
  display: block;
  background: url("./../../img/title_box@2x.png") no-repeat;
  background-size: contain;
  width: 1rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}

.mngSubTitleNb {
  font-size: 3.2rem;
  font-weight: 900;
  padding-left: 3rem;
  position: relative;
  margin-top: 5rem;
}
.mngSubTitleNb::before {
  content: "";
  display: block;
  background: url("./../../img/title_box@2x.png") no-repeat;
  background-size: contain;
  width: 1rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}

.mngSummary {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
}
.mngSummary p {
  font-size: 2rem;
  line-height: 1.7;
}

.mngFourCircleBox .mngFiveCircleBox {
  width: 100vw;
}

.mngFiveCircle {
  display: flex;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.mngFiveCircle li {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 1px solid #1527a0;
  margin-right: 4rem;
  position: relative;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}
.mngFiveCircle li:hover {
  background-color: #1527a0;
  color: #fff;
}
.mngFiveCircle li::before {
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  border-bottom: 1px dashed black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -4rem;
}
.mngFiveCircle li:first-child::before {
  display: none;
}

.mngFourCircle.mngConsultingFour {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
.mngFourCircle.mngConsultingFour li {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 1px solid #1527a0;
  margin-right: 4rem;
  position: relative;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}
.mngFourCircle.mngConsultingFour li:hover {
  background-color: #1527a0;
  color: #fff;
}
.mngFourCircle.mngConsultingFour li::before {
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  border-bottom: 1px dashed black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -4rem;
}
.mngFourCircle.mngConsultingFour li:first-child::before {
  display: none;
}

.mngConsultingTxt p {
  font-size: 2rem;
  font-family: "Noto Sans KR";
  padding-left: 3rem;
  padding-bottom: 5rem;
  line-height: 1.5;
  margin-top: 4rem;
}

.mngTxt p:last-child {
  margin-top: -3rem;
}

.mngSmTitle {
  width: 30rem;
  font-size: 2.4rem;
  margin-left: 7.6rem;
  margin-top: 10rem;
}

.mngConsultingProcess {
  text-align: center;
}

.mngConsultingProcessImg {
  width: 90rem;
  margin: 9.4rem 0;
}

.mngInner {
  width: 85vw;
  padding: 8rem 0;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .mngSummary.mngConsultingSummary {
    margin-left: 3rem;
    width: 95%;
  }
  .mngFourCircle.mngConsultingFour {
    flex-wrap: wrap;
  }
  .mngFourCircle.mngConsultingFour li {
    width: 16rem;
    height: 16rem;
  }
  .mngFourCircle.mngConsultingFour .mngFiveCircle.mngConsultingFive {
    width: 100vw;
    height: 20vw;
    flex-wrap: wrap;
  }
  .mngFourCircle.mngConsultingFour .mngFiveCircle.mngConsultingFive li {
    border-radius: 1%;
    width: 10rem;
    height: 10rem;
  }
  .mngConsultingProcessImg {
    width: 90%;
  }
}
@media (min-width: 360px) and (max-width: 1300px) {
  .mngConsultingGoal {
    margin-top: 10rem;
  }
  .mngSummary.mngConsultingSummary {
    width: 95%;
  }
  .mngSummary.mngConsultingSummary p {
    line-height: 1.3;
  }
  .mngFourCircle.mngConsultingFour {
    flex-wrap: wrap;
  }
  .mngFourCircle.mngConsultingFour li {
    width: 10rem;
    height: 10rem;
    border-radius: 1%;
    margin-top: 3rem;
    flex: 100%;
  }
  .mngFourCircle.mngConsultingFour li::before {
    display: none;
  }
  .mngFiveCircle {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .mngFiveCircle li {
    width: 10rem;
    height: 10rem;
    border-radius: 0;
    margin-top: 3rem;
    flex: 100%;
  }
  .mngFiveCircle li::before {
    display: none;
  }
  .mngConsultingTxt {
    margin-left: -3rem;
  }
  .mnConsultingSmTitle {
    margin-top: 5rem;
    margin-left: 0;
  }
  .mngConsultingProcessImg {
    width: 95%;
    margin-top: 6rem;
  }
}/*# sourceMappingURL=mngConsulting.css.map */