@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');

@import '../GlobalStyle.scss';


.mngCreditSmTitle{
  margin-left: 3rem;
}
.mngCreditWrapper{
  margin: 10rem 0 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.mngAccordion{
  width: 100%;
}

.mngCreditItem{
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
  width: 100%;
  box-sizing: border-box;
}
.mngCreditBtn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid $main-color;
  padding: 3rem 2rem;
  font-size: $size-xl;
  letter-spacing: 1.2px;
  color: #000;
}
.mngCreditTitle{
  font-size: $size-lg;
}
.mngCreditContent{
  color: #000;
  max-height: 0;
  overflow: hidden;
}
.mngCreditContent.show{
  width: 100%;
  height: auto;
  max-height: 999rem;
  transition: all 0.5s cubic-bezier(1,0,1,0);
  border: 1px solid $main-color;
}

.mngCreditBtn.on{
  background-color: $main-color;
  color: #fff;
}

.mngUnderBtn{
  background: url('../../img/zetaplan_splite.png') no-repeat -137px -194px;
  background-size: 599px 280px;
	width: 22px;
	height: 14px;
}
.mngTopBtn{
  background: url('../../img/zetaplan_splite.png') no-repeat -137px -235px;
	background-size: 599px 280px;
	width: 22px;
	height: 14px;
}
.mngCreditTxt{
  width: 90%;
  padding: 2rem;
  line-height: 1.5;
  p{
    font-family:'Noto Sans KR';
    font-size: 1.7rem;
  }
}
.mngCreditImg{
  width: 80%;
  height: 80%;
  transform: translateX(15%);
  padding: 2rem 0;
}

.mngCreditApart{
  margin-top: 2rem;
  margin-left: 2rem;
  color: $main-color;
  font-size: 1.8rem;
  font-weight: 600;
}
.mngCreditApartTxt{
  margin: 1rem 2rem;
  li{
    font-size: 1.7rem;
    font-family:'Noto Sans KR';
    line-height: 1.5;
  }
}
.mngCreditbold{
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.mngCreditCombine{
  padding: 2rem;
  line-height: 1.5;
  div{
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 1.5rem;
  }
  p{
    font-size: 1.6rem;
    font-family:'Noto Sans KR';
  }
}

.mngCreditDecoBg{
  background: url('./../../img/me/mngCreditBg.jpg') no-repeat 30% ;
  background-size: cover;
  width: 100%;
  height: 50rem;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  p {
    font-size: 5rem;
    color: #FFF;
    font-family: 'Montserrat';
    padding-bottom: 5%;
    padding-right: 5%;
  }
}

.mngSmTitle.mngCreditReportTitle{
  margin-top: 5rem;
}
.mngCreditReport{
  height: 70rem;
  margin-left: 4rem;
  padding: 2rem 4rem;
  div{
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 5rem;
  }
 p{
   font-size: 1.8rem;
   font-family:'Noto Sans KR';
   line-height: 3;
 }
}

.mngCreditApply{
   display: block;
   width: 20rem;
   background-color: $main-color;
   font-size: $list-md;
   color: #fff;
   padding: 3rem;
   margin: 8rem auto;
}


.mngInner{
  @include Inner;
}



@media (min-width: 768px) and (max-width: 1024px){
  .mngSmTitle.mngCreditSmTitle{
    margin-left: 2rem;
  }
  .mngFiveCircle.mngCreditCircle{
    width: 85vw;
    margin-left: 2rem;
    
  }
  .mngCreditReport{
    height: 100%;
    div{
      margin-top: 3rem;
    }
   p{
     line-height: 2.5;
   }
  }
  .mngCreditDecoBg{
    width: 100%;
    height: 30rem;
  }
}

@media (min-width: 360px) and (max-width: 767px){
   
  .mngFiveCircle.mngCreditCircle{
    width: 85vw;
    margin-left: 2rem;
  }
  .mngFiveCircle li{
    border-radius: 0;
  }

  .mngFiveCircle.mngCreditCircle li{
    margin-right: 0;
  }

.mngCreditWrapper{
  width: 90vw;
  margin: 3rem 0 0;
}

  .mngCreditApply{
    margin-top: 14rem;
  }
  .mngCreditDecoBg{
    width: 100%;
    height: 30rem;
  } 
}

@media (min-width : 360px) and (max-width: 470px){

  .mngSmTitle.mngCreditSmTitle{
    margin-left: 2rem;
  }

  .mngFiveCircle.mngCreditCircle{
    width: 85vw;
    margin-left: 2rem;
  }


  .mngUnderBtn{
    background: url('../../img/icon/bottom_arrow.png') no-repeat;
    background-size: contain;
    width: 11px;
    height: 7px;
  }
  .mngTopBtn{
    background: url('../../img/icon/top_arrow.png') no-repeat;
    background-size: contain;
    width: 11px;
    height: 7px;
  }
  .mngCreditImg{
    width: 98%;
    transform: translateX(1%);
  }

   .mngCreditReport{
    margin-left: 0;
  }
   .mngCreditReport p{
    line-height: 1.5;
   }
   .mngCreditReport div{
    margin-bottom: 1rem;
   }

  .mngCreditApply{
    margin-top: 10rem;
  }

.mngSmTitle.mngCreditReportTitle{
  margin-left: 4rem;
  margin-top: 3rem;
  margin-bottom: -2rem;
}

}