@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');

@import '../GlobalStyle.scss';
@import '../mng/mngConsulting.scss';

$mngSize : 90rem;
$mngCircleSize : 20rem;

.mngCompanyValueAssess{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  li {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 1px solid $main-color;
    margin-right: 4rem;
    position: relative;
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
    
    &:hover {
      background-color: $main-color;
      color: $basic-white;
    }

    &::before {
      content: "";
      display: block;
      width: 4rem;
      height: 1px;
      border-bottom: 1px dashed black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -4rem;
    }

    &:first-child::before {
      display: none;
    }
  }
}

.mngValueCompanyAssess{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  li {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 1px solid $main-color;
    margin-right: 4rem;
    position: relative;
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
    
    &:hover {
      background-color: $main-color;
      color: $basic-white;
    }

    &::before {
      content: "";
      display: block;
      width: 4rem;
      height: 1px;
      border-bottom: 1px dashed black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -4rem;
    }

    &:first-child::before {
      display: none;
    }
  }
}

.mngFourCircle.mngValueCompanyAssess{
  display: flex;
  li{ flex-direction: column;
    font-size: 2.1rem;
  } span{
    font-size: 1.8rem;
  }
}


.mngCompanyValueAssess li:nth-child(3n)::before {
     display: none;
    }


.mngMenuTabEdge{
  display: flex;
  justify-content: flex-end;
}
.mngMenuTab{
  transform: translate(-5rem, -5rem);
  cursor: pointer;
  li{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 6rem;
    position: relative;
  }
}
 
.isActive{
   color: $main-color;
   &::after{
    content: '';
    display: block;
    height: 0.3rem;
    width: 17rem;
    background-color: $main-color;
    position: absolute;
    bottom: -3.2rem;
    left: -2rem;
   }
  }
 

.mngValueTitle{
  margin-top: 3rem;
}

.mngValueTxt{
  width: 20rem;
  font-size: $size-lg;
  margin-left: 12rem;
  margin-top: 5rem;
  position: relative;
  &::after{
    content:'';
    display: block;
    height: 0.3rem;
    width: 3rem;
    background-color: $main-color;
    position: absolute;
    top: 1rem;
    left: -4rem;
  }
}


.mngNeedTxt{
      width: 90%;
      margin-left: 9rem;
      margin-top: 3rem;
      margin-bottom: 10rem;
      p{
        font-size: $size-lg;
        font-family:'Noto Sans KR';
        line-height: 1.7;
        span{
          font-size: $size-lg;
          font-family:'Noto Sans KR';
          line-height: 1.7;
        }
    }
}
.thinGradient {
  position: relative;
  height: 58px;
  margin: 5rem auto;
}
.thinGradient img{
  width: 100%;
  height: 100%;
}

.mngValueGradientLeft{
  position: absolute;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  top: 2rem;
  left: 3rem;
}

.mngValueGradientRight{
  position: absolute;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  top: 2rem;
  right: 3rem;
}


.mngFourCircle{
  position: relative;
}

.mngValueAssess{
  width: 100%;
  margin-top: 3rem;
  p{
    font-size: 2rem;
    font-family:'Noto Sans KR';
    line-height: 1.5;
  }
}

.mngValueAssess p:first-child{
  margin-bottom: 3rem;
}

.mngCompanyAssess{
  width: 100%;
  margin-top: 3rem;
  p{
    font-size: 2rem;
    font-family:'Noto Sans KR';
    line-height: 1.5;
  }
}

.mngValueTxt.mngValueCompany{
 margin : 5rem 7rem;
}




//skillVallue


.mngValueTxtBox{
  display: flex;
}

.mngValueList{
  font-size: 3rem;
  font-weight: bold;
  line-height: 10;
  margin-left: 10rem;
}

.mngCompanyValue{
  line-height: 2;
  margin-left: 10rem;
  margin-top: 5rem;
  div{
    font-size: 1.8rem;
    font-weight: bold;
  }
  p{
    font-size: 1.6rem;
    font-family:'Noto Sans KR';
  }
  span{
    font-size: 1.8rem;
  }
}
.mngCompanyValue div{
  margin: 3rem 0;
}

.mngCompanyValue div:nth-of-type(2){
  margin-top: 5rem;
}

.mngCompanyValue div:nth-of-type(4){
  margin-top: 6rem;
}


.mngValueTxt.mngValueStep{
  top:5rem; 
}

.mngValueCompanyProcess{
  display: flex;
  justify-content: space-between;
}

.mngValueProcess{
  height: 50rem;
  margin-top: 10rem;
  margin-left: 3rem;
  div{
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 5rem;
  }
  span{
    font-size: 2.2rem;
    font-weight: 600;
  }
 p{
   font-size: 1.8rem;
   font-family:'Noto Sans KR';
   line-height: 3;
 } 
}
.mngValueProcess {
  div:first-child{
    color: #583cf2;
  }
}
.mngValueProcess {
  div:nth-of-type(2){
    color:#1e3a8b;
  }
}
.mngValueProcess {
  div:nth-of-type(3){
    color: #070f76;
  }
}

.mngValueProcess span{
    color: #000;
}

.mngCircleWrap {
  position:relative; 
  width:32.8125rem;
  height:32.8125rem; 
}

.mngCircleBg {
  background: url('../../img/main/zetaplanLogo.svg') no-repeat 50% 50%;
	width: 100%;
	height: 100%;
  position: absolute;
  bottom: -18rem;
  left: 12rem;
  border: 0.8rem solid #e0e0e0;
  border-radius: 50%;
  box-shadow:0 .625rem 1.25rem rgba(18, 27, 116, .18);
}



.mngCircle {
  position:absolute;
  top:20rem;
  left:12rem;
  width:100%; 
  height:100%;
  animation:rotate linear infinite 40s forwards;
}
.mngCircleItem {
  display:flex;
  justify-content:center;
  align-items:center; 
  position:absolute; 
  width:9.0625rem;
  height:9.0625rem;
  border:.5rem solid #fff;
  border-radius:50%;
  box-shadow:0 .625rem 1.25rem rgba(18, 27, 116, .18);
}


.mngCircleItemLocation {
  width: 17rem;
  height: 17rem;
  top:-1.875rem;
  left:50%; background-color : #583cf2;
  transform: translate(-22rem, -6rem);
  }

.mngCircleItemIndustry {
  width: 17rem;
  height: 17rem;
  bottom:.625rem;
  right:0; background-color:#1e3a8b ; 
  transform:translate(12rem, -8rem)
}

.mngCircleItemTogether {
  width: 17rem;
  height: 17rem;
  bottom:.625rem;
  left:0; background-color:#070f76;
  transform:translateY(11rem);
  }

.mngCircleText {
  font-size:1.7rem; 
  font-weight:600; 
  color:#fff; 
  animation:rotate2 linear infinite 40s forwards;
}
@keyframes rotate {0%{}100%{transform:rotate(360deg);}}
@keyframes rotate2 {0%{}100%{transform:rotate(-360deg);}}



.mngInner{
  @include Inner;
}

@media (min-width: 768px) and (max-width: 1023px){
  .mngFourCircle.mngValueCompanyAssess, .mngCompanyValueAssess{
    flex-wrap: wrap;
    width: 90vw;
      li{
        width: 10rem;
        height: 10rem;
        border-radius: 0;
        margin-top: 2rem;
        flex: 100%;
       &::before{
         display: none;
       }
    }
  }
  .mngFourCircle.mngValueCompanyAssess li{
    display: flex;
    flex-direction: row;
  }
  .mngFourCircle.mngValueCompanyAssess li:nth-child(3){
    flex-wrap: wrap;
  }

}


@media (min-width: 768px) and (max-width: 1024px){
  .mngNeedTxt{
    width: 90%;
    margin-left: 3rem;
  }
  
  .thinGradient{
   width: 100%;
   img{
     width: 100%;
     height: 80%;
   }
  }
  .mngValueGradientLeft .mngValueGradientRight{
    top: 30%;
    font-size: 1.7rem;
  }

  

// mngValueskill

.mngSmTitle.mngValueTitle{
  margin-left: 3rem;
}

.mngValueTxt{
  margin-left: 7rem;
}
.mngValueList{
  width: 10%;
  line-height: 11;
  margin-top: 2%;
  li{
    min-width: 30px;
    }
  }

  .mngCompanyValue{
    line-height: 1.5;
    margin-left: 10rem;
    margin-top: 4rem;
    div{
      font-size: 1.8rem;
      font-weight: bold;
    }
    p{
      font-size: 1.6rem;
      font-family:'Noto Sans KR';
    }
    span{
      font-size: 1.8rem;
    }
  }
  .mngCompanyValue div{
    margin-top:7rem;
  }

  .mngCompanyValue div:nth-of-type(4){
    margin-top: 9rem;
  }
.mngValueTxt.mngValueStep{
  margin-top: 10rem;
}

.mngCircleBg{
  background: url('../../img/main/zetaplanLogo.svg') no-repeat 4rem;
  background-size: 70% 70%;
  width: 150%;
}
.mngCircle{
  top: 21vw;
  left: 15vw;
  width: 100%;
  height: 85%;
}
.mngCircleItemLocation{
  top: -1vw;
  left: 8vw;
}
.mngCircleItemIndustry{
  top: 6vw;
  left: 10vw;
}
.mngCircleItemTogether{
  top: 15vw;
} 

.mngValueProcess{
  width: 50%;
  margin-top: 8rem;
  margin-left: 40%;
  div{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 1.5;
  }
 p{
   font-size: 1.7rem;
   line-height: 2;
  } 
  }
}




@media (min-width: 360px) and (max-width: 767px){

  .mngMenuTab li{
      font-size: 1.5rem;
      margin-left: 2rem;
  }
  .mngSmTitle.mngValueTitle{
    margin-left: 3rem;
  }

  .mngValueTxt{
    margin-left: 7rem;
  }
  .mngNeedTxt{
    margin-left: 3rem;
  }

  .isActive{
    &::after{
     height: 0.3rem;
     width: 10rem;
     background-color: $main-color;
     position: absolute;
     bottom: -3.3rem;
     left: 3%;
    }
   }
  
   
.mngCompanyValueAssess li:nth-child(2n)::before{
  display: none;
}

.thinGradient{
  width: 100%;
  margin-bottom: 1rem;
  img{
    width: 100%;
    height: 60%;
  }
 }
 .mngValueGradientLeft .mngValueGradientRight{
  top: 30%;
  font-size: 1.5rem;
  font-weight: 500;
}


.mngValueTxt.mngValueCompany{
  margin-top: 10rem;
  margin-bottom: 3rem;
}
.mngValueCompanyAssess{
  flex-wrap: wrap;
  width: 90vw;
    li{
      width: 10rem;
      height: 10rem;
      border-radius: 0;
      margin-top: 2rem;
      flex: 100%;
     &::before{
       display: none;
     }
  }
}
.mngCompanyValueAssess{
  flex-wrap: wrap;
  width: 90vw;
    li{
      width: 10rem;
      height: 10rem;
      border-radius: 1%;
      margin-top: 2rem;
      flex: 100%;
     &::before{
       display: none;
     }
  }
}
.mngFourCircle.mngValueCompanyAssess li{
  display: flex;
  flex-direction: row;
}
.mngFourCircle.mngValueCompanyAssess li:nth-child(3){
  flex-wrap: wrap;
}

//mngValueskill
.mngValueList{
  width: 30%;
  font-size: 1rem;
  margin-left: 3rem;
  line-height: 16;
  li{
    min-width: 30px;
  }
}

.mngCompanyValue{
  margin-top: 6rem;
  margin-left: 5rem;
}

.mngCompanyValue div{
  margin-top:5.2rem;
}

.mngCompanyValue div:nth-of-type(3){
  margin-top: 3rem;
}

.mngCompanyValue div:nth-of-type(4){
  margin-top: 8rem;
}

.mngValueCompanyProcess{
  display: block;
}

.mngCircleWrap {
  top: -2vw;
  width: 40vw;
  height: 40vw;
  background-size: 70%;
}
.mngCircleBg{
  background: url('../../img/main/zetaplanLogo.svg') no-repeat 4rem;
  background-size: 70% 70%;
}

.mngCircle{
  top: 37vw;
  left: 28vw;
  width: 80%;
  height: 70%;
}
.mngCircleItem {
  width: 25vw;
  height: 25vw;
}
  &.mngCircleItemLocation {
    top: -13vw;
    left: 27vw;
  }

  &.mngCircleItemIndustry {
    top: 15vw;
    left: 11vw;
  }

  &.mngCircleItemTogether {
   top: 5vw;
   left: -12vw;
  }

  .mngCircleText {
    font-size: 2vw;
  }

.mngValueProcess{
  width: 100%;
  height: 30%;
  margin-top: 30rem;
  margin-bottom: 0;
  
  div{
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 1.5;
  }
 p{
   font-size: 1.7rem;
   line-height: 1.2;
  } 
  }
}


