@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');

@import '../GlobalStyle.scss';
@import '../mng/mngConsulting.scss';


$mngSize : 90rem;
$mngCircleSize : 20rem;

.mngInner.mngValueInner{
  padding-top: 18rem;

}

.mngSubTitle{
  @include Subtitle($sub-title, $basic-gray3);
}

.mngSmTitle.mngValueTitle{
  margin-left: 0;
}

.mngCompanyValueAssess{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  li {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 1px solid $main-color;
    margin-right: 4rem;
    position: relative;
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
    
    &:hover {
      background-color: $main-color;
      color: $basic-white;
    }

    &::before {
      content: "";
      display: block;
      width: 4rem;
      height: 1px;
      border-bottom: 1px dashed black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -4rem;
    }

    &:first-child::before {
      display: none;
    }
  }
}

.mngValueCompanyAssess{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  li {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 1px solid $main-color;
    margin-right: 4rem;
    position: relative;
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
    
    &:hover {
      background-color: $main-color;
      color: $basic-white;
    }

    &::before {
      content: "";
      display: block;
      width: 4rem;
      height: 1px;
      border-bottom: 1px dashed black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -4rem;
    }

    &:first-child::before {
      display: none;
    }
  }
}

.mngFourCircle.mngValueCompanyAssess{
  display: flex;
  li{ 
    flex-direction: column;
    font-size: 2.1rem;
  } span{
    font-size: 1.8rem;
  }
}


.mngCompanyValueAssess li:nth-child(3n)::before {
     display: none;
    }


.mngMenuTabEdge{
  display: flex;
  justify-content: flex-end;
}



.mngMenuTab{
  display: flex;
  cursor: pointer;

  li {
    width: 18rem;
    position: relative;
    line-height: 4.1rem;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 2.3rem;
    text-align: center;
    top: -3rem;

    &:hover {
      color: $main-color;

      &::after {
        content: '';
        height: 0.3rem;
        width: 100%;
        background-color: $main-color;
        z-index: 1;
        position: absolute;
        top: 5.9rem;
        left: 0;
      }
    }
  }
}

  
  .isActive{
    color: $main-color;
    &::after {
      content: '';
      height: 0.3rem;
      width: 100%;
      background-color: $main-color;
      position: absolute;
      top: 5.9rem;
      left: 0;
    }
  }


  .mngValueTxt{
  width: 20rem;
  font-size: 2.5rem;
  margin-left: 4.5rem;
  margin-top: 5rem;
  position: relative;
    &::after{
    content:'';
    display: block;
    height: 0.3rem;
    width: 3rem;
    background-color: $main-color;
    position: absolute;
    top: 1rem;
    left: -4rem;
      }
    }
   

.mngNeedTxt{
      width: 100%;
      margin-left: 0;
      margin-top: 3rem;
      margin-bottom: 10rem;
      p{
        font-size: 2.3rem;
        font-family:'Noto Sans KR';
        line-height: 1.7;
        span{
          font-size: 2.3rem;
          font-family:'Noto Sans KR';
          line-height: 1.7;
          }
      }
  }

.thinGradient {
  position: relative;
  height: 58px;
  margin: 5rem auto;
}

.thinGradient img{
  width: 100%;
  height: 100%;
}

.mngValueGradientLeft{
  position: absolute;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  top: 2rem;
  left: 3rem;
}

.mngValueGradientRight{
  position: absolute;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  top: 2rem;
  right: 3rem;
}


.mngFourCircle{
  position: relative;
}

.mngValueAssess{
  width: 100%;
  margin-top: 3rem;
  p{
    font-size: 2rem;
    font-family:'Noto Sans KR';
    line-height: 1.5;
  }
}

.mngValueAssess p:first-child{
  margin-bottom: 3rem;
}

.mngCompanyAssess{
  width: 100%;
  margin-top: 3rem;
  p{
    font-size: 2rem;
    font-family:'Noto Sans KR';
    line-height: 1.5;
  }
}

.mngValueTxt.mngValueCompany{
 margin : 5rem 7rem;
}




//skillVallue


.mngValueTxtBox{
  width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: -5rem;
}

.mngValueTxtBox{
  display: flex;
  flex-direction: column;
}
.mngValueTxtBox ul{
  padding-left: 10rem;
  li{
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.7;
    font-family: 'Noto Sans KR';
  }
}

.mngBnStep{
  font-size: 2.3rem;
  font-weight: bold;
  display: flex;
  position: relative;
  margin-left: 9rem;
  margin-top: 10rem;
  ul{
    flex: 60%;
  }
}

.darkText.mngBnStepT{
  margin-top: -1rem;
  font-size: 2.3rem;
  font-weight: 600;
}

.mngValueTxt.mngValueStep{
  top:5rem; 
}

.mngValueCompanyProcess{
  display: flex;
  justify-content: space-between;
  margin-top: 15.625vw;
  margin-bottom: 7.813vw;
  margin-left: 10vw;
}

.mngValueProcess{
  margin-top: -7rem;
  div{
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 5rem;
  }
  span{
    font-size: 2.2rem;
    font-weight: 600;
  }
 p{
   font-size: 2rem;
   font-family:'Noto Sans KR';
   line-height: 3;
  } 
}

.mngValueProcess {

  div:first-child{
    color: #583cf2;
  }
}

.mngValueProcess {
  div:nth-of-type(2){
    color:#1e3a8b;
  }
}
.mngValueProcess {
  div:nth-of-type(3){
    color: #070f76;
  }
}


.mngValueProcess span{
    color: #000;
}

.mngCircleWrap {
  width: 20.833vw;
  height: 20.833vw;
  background: url('../../img/icon/zetaplan_logo@2x.png') no-repeat center / 80% 24%;
  border: 1rem solid #ccc;
  border-radius: 50%;
  box-shadow: 0 .625rem 1.25rem rgba(18, 27, 116, .18);
  position: relative;
}


.dark{
  .mngCircleWrap{
    width: 20.833vw;
    height: 20.833vw;
    background: url('../../img/icon/zetaplan_logo_w@2x.png') no-repeat center/ 80% 24%;
    border: 1rem solid #ccc;
    border-radius: 50%;
    box-shadow: 0 .625rem 1.25rem rgba(18, 27, 116, .18);
    position: relative;
  }
}

  .mngCircle {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: circle linear infinite 40s forwards;
  }


@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}

.mngCircleItem {
  width: 9.375vw;
  height: 9.375vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: .5rem solid #fff;
  border-radius: 50%;
  box-shadow: 0 .625rem 1.25rem rgba(18, 27, 116, .18);

  &.mngCircleItemLocation {
    top: -1.042vw;
    left: 9.896vw;
    background-color: #070F76;
    transform: translate(-11.979vw, -4.688vw);
    line-height: 1.5;
    text-align: center;
  }

  &.mngCircleItemIndustry {
    bottom: 0.521vw;
    right: -0.521vw;
    background-color: #1E3A8B;
    transform: translate(7.292vw, -5.208vw)
  }

  &.mngCircleItemTogether {
    bottom: 0.521vw;
    left: 0;
    background-color: #583CF2;
    transform: translate(-1.042vw, 6.771vw);
    line-height: 1.5;
  }

  .mngCircleText {
    font-size: 1.042vw;
    color: #fff;
    animation: txt linear infinite 40s forwards;
  }
}

@keyframes txt {
  100% {
    transform: rotate(-360deg);
  }
}


.dark{

  .mngMenuTab li:hover{
    color: #359aff;
    &::after{
    background-color: #359aff;
    } 
   }

  .isActive{
    color: #359aff;
    &::after{
      background-color: #359aff;
    }
  }

  .mngValueTxt::after{
    background-color: #359aff;
  }
 
  .mngValueProcess div:nth-of-type(2){
    color: #356dfff5;
  }

  .mngValueProcess div:nth-of-type(3){
   color: #3549ff;
  }

}

.mngInner{
  @include Inner;
}


@media (min-width: 768px) and (max-width: 1024px){
 
  .mngNeedTxt{
    width: 90%;
    margin-left: 3rem;
  }
  
  .thinGradient{
   width: 100%;
   img{
     width: 100%;
     height: 80%;
   }
  }
  
  .mngValueGradientLeft .mngValueGradientRight{
    top: 30%;
    font-size: 1.7rem;
  }

  .mngValueCompanyAssess,.mngCompanyValueAssess{
    width: 90vw;
  }

  .mngFourCircle.mngValueCompanyAssess li>span{
    display: flex;
    flex-direction: row;
  }
  
  .mngFourCircle.mngValueCompanyAssess li:nth-child(3){
    flex-wrap: wrap;
  }


// mngValueskill

  .darkText.mngSmTitle.mngValueTitle{
  margin-left: 3rem;
  font-size: 2.7rem;
  }

  .mngValueTxt{
  margin-left: 7rem;
  }

  
  .mngCircleWrap {
    top: 0vw;
    left: 0vw;
  }


  .mngCompanyValue{
    line-height: 1.5;
    margin-left: 10rem;
    margin-top: -4rem;
    div{
      font-size: 1.8rem;
      font-weight: bold;
    }
    p{
      font-size: 1.6rem;
      font-family:'Noto Sans KR';
    }
    span{
      font-size: 1.8rem;
    }
  }

  .darkText.mngCompanyValue div:nth-of-type(2){
    margin-top: 6rem;
  }
  
  .darkText.mngCompanyValue div:nth-of-type(3){
    margin-top: 5.6rem;
  }
  
  .darkText.mngCompanyValue div:nth-of-type(4){
    margin-top: 9.5rem;
  }
  

.mngValueTxt.mngValueStep{
  margin-top: 10rem;
}



.mngValueProcess{
  margin-top: -5rem;
  div{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 1.5;
  }
   p{
   font-size: 1.7rem;
   line-height: 2;
    } 
  }

  .dark{
    .mngCircleWrap{
      background: url('../../img/icon/zetaplan_logo_w@2x.png') no-repeat 50%;
      background-size: 70%;
    }
  }

}


@media (min-width: 360px) and (max-width: 767px) {

  .mngMenuTab li{
      font-size: 2rem;
      width: 85px;
      height: 5px;
      top: -21px;
      margin-left: 0;
  }


  .mngSmTitle.mngValueTitle{
    margin-left: 3rem;
    margin-top: 5rem;
  }

  .mngValueTxt{
    margin-left: 7rem;
    font-size: 2.3rem;
  }

  .mngNeedTxt{
    width: 77vw;
    margin-left: 3rem;
    p{
      font-size: 2.3rem;
    }
  }

  .mngNeedTxt p>span{
    font-size: 2.3rem;
  }

.mngValueAssess p{
  font-size: 2.3rem;
}
  

.darkText.mngBnStep{
  flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.darktext.mngValueT{
  flex: 100%;
  margin-top: 3rem;
  padding-left: 0;
}
   
.mngCompanyValueAssess li:nth-child(2n)::before{
  display: none;
}


.mngCompanyValueAssess{
  flex-wrap: wrap;
  li{
    width: 10rem;
    height: 10rem;
    border-radius: 0;
    margin-top: 3rem;
    flex: 100%;
    &::before{
    display: none;
    }
  }
}


.thinGradient{
  width: 100%;
  margin-bottom: 1rem;
  img{
    width: 100%;
    height: 60%;
  }
 }

 .mngValueGradientLeft .mngValueGradientRight{
  top: 30%;
  font-size: 1.5rem;
  font-weight: 500;
}


.mngValueTxt.mngValueCompany{
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.mngValueCompanyAssess{
  flex-wrap: wrap;
  width: 90vw;
    li{
      width: 10rem;
      height: 10rem;
      border-radius: 0;
      margin-top: 2rem;
      flex: 100%;
     &::before{
       display: none;
     }
  }
}

.mngCompanyValueAssess{
  flex-wrap: wrap;
  width: 90vw;
    li{
      width: 10rem;
      height: 10rem;
      border-radius: 1%;
      margin-top: 2rem;
      flex: 100%;
     &::before{
       display: none;
     }
  }
}

.mngFourCircle.mngValueCompanyAssess li{
  display: flex;
  flex-direction: row;
}
.mngFourCircle.mngValueCompanyAssess li:nth-child(3){
  flex-wrap: wrap;
}

.mngCompanyAssess p{
  font-size: 2.3rem;
  }

}




@media all and (max-width:768px) {


  .mngValueCompanyProcess {
    display: block;
    margin-left: 0;
  }

  .mngCircleWrap {
    top: 6vw;
    left: 26vw;
    width: 30vw;
    height: 30vw;
    background-size: 70%;
  }

  .dark{
    .mngCircleWrap {
      top: 6vw;
      left: 26vw;
      width: 30vw;
      height: 30vw;
      background-size: 70%;
    }
  }

  .mngCircleItem {
    width: 15vw;
    height: 15vw;

    &.mngCircleItemLocation {
      top: -6vw;
      left: 9.896vw;
    }

    &.mngCircleItemIndustry {
      bottom: 0.521vw;
      right: -5vw;
    }

    &.mngCircleItemTogether {
      bottom: -4vw;
      left: 0;
    }
    .mngCircleText {
      font-size: 2vw;
      text-align: center;
      line-height: 1.3;
    }
}


.mngValueProcess{
  width: 100%;
  height: 30%;
  margin-top: 12rem;
  margin-bottom: 0;
  
  div{
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 1.5;
  }
 p{
   font-size: 1.7rem;
   line-height: 1.2;
    } 
  }

  
}



