@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.mngFourCircle {
  display: flex;
  flex-wrap: wrap;
  width: 120rem;
  justify-content: center;
  align-items: center;
}
.mngFourCircle li {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 1px solid #1527a0;
  margin-right: 4rem;
  position: relative;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}
.mngFourCircle li:hover {
  background-color: #1527a0;
  color: #fff;
}
.mngFourCircle li::before {
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  border-bottom: 1px dashed black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -4rem;
}
.mngFourCircle li:first-child::before {
  display: none;
}
.mngFourCircle li {
  font-size: 1.8rem;
  line-height: 1.3;
}

.mngCompanyValueAssess {
  display: flex;
  width: 120rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.mngCompanyValueAssess li {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 1px solid #1527a0;
  margin-right: 4rem;
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
}
.mngCompanyValueAssess li:hover {
  background-color: #1527a0;
  color: #fff;
}

.mngCompanyValueAssess li:nth-child(2n)::before {
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  border-bottom: 1px dashed black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -4rem;
}

.mngMentTabEdge {
  display: flex;
  justify-content: flex-end;
}

.mngMenuTab {
  transform: translate(-5rem, -5rem);
  cursor: pointer;
}
.mngMenuTab li {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 6rem;
  position: relative;
}

.isActive {
  color: #1527a0;
}
.isActive::after {
  content: "";
  display: block;
  height: 0.3rem;
  width: 17rem;
  background-color: #1527a0;
  position: absolute;
  bottom: -3.2rem;
  left: -2rem;
}

.mngValueTitle {
  margin-top: 3rem;
}

.mngValueTxt {
  width: 20rem;
  font-size: 2.08rem;
  margin-left: 12rem;
  margin-top: 5rem;
  position: relative;
}
.mngValueTxt::after {
  content: "";
  display: block;
  height: 0.3rem;
  width: 3rem;
  background-color: #1527a0;
  position: absolute;
  top: 1rem;
  left: -4rem;
}

.mngNeedTxt {
  width: 132.7rem;
  margin-left: 9rem;
  margin-top: 3rem;
  margin-bottom: 10rem;
}
.mngNeedTxt p {
  font-size: 2.08rem;
  font-family: "Noto Sans KR";
  line-height: 1.7;
}

.thinGradient {
  position: relative;
  height: 58px;
  margin: 5rem auto;
}

.thinGradient img {
  width: 100%;
}

.mngValueGradientLeft {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  top: 2rem;
  left: 3rem;
}

.mngValueGradientRight {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  top: 2rem;
  right: 3rem;
}

.mngFourCircle {
  position: relative;
}

.mngValueAssess {
  margin: auto;
  margin-top: 3rem;
}
.mngValueAssess p {
  font-size: 2rem;
  font-family: "Noto Sans KR";
  line-height: 1.5;
}

.mngValueAssess p:first-child {
  margin-bottom: 3rem;
}

.mngCompanyAssess {
  margin: 3rem auto 5rem;
}
.mngCompanyAssess p {
  font-size: 2rem;
  font-family: "Noto Sans KR";
  line-height: 1.5;
}

.mngValueTxt.mngValueCompany {
  top: 10rem;
}

.mngValueCompanyAssess {
  margin-top: 15rem;
}

.mngValueTxtBox {
  display: flex;
}

.mngValueList {
  font-size: 3rem;
  font-weight: bold;
  line-height: 8.3;
  margin-left: 10rem;
}

.mngCompanyValue {
  line-height: 2;
  margin-left: 10rem;
  margin-top: 4.5rem;
}
.mngCompanyValue div {
  font-size: 1.8rem;
  font-weight: bold;
}
.mngCompanyValue p {
  font-size: 1.6rem;
  font-family: "Noto Sans KR";
}
.mngCompanyValue span {
  font-size: 1.8rem;
}

.mngCompanyValue > div {
  margin: 2rem 0;
}

.mngValueTxt.mngValueStep {
  top: 2rem;
}

.mngValueCompanyProcess {
  display: flex;
  justify-content: space-between;
}

.mngValueProcess {
  height: 50rem;
  margin-top: 10rem;
  margin-left: 3rem;
}
.mngValueProcess div {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 5rem;
}
.mngValueProcess p {
  font-size: 1.8rem;
  font-family: "Noto Sans KR";
  line-height: 3;
}

.mngCircleWrap {
  position: relative;
  width: 32.8125rem;
  height: 32.8125rem;
}

.mngCircle {
  position: absolute;
  top: 20rem;
  left: 12rem;
  width: 100%;
  height: 100%;
  -webkit-animation: rotate linear infinite 40s forwards;
          animation: rotate linear infinite 40s forwards;
}

.mngCircleItem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 9.0625rem;
  height: 9.0625rem;
  border: 0.5rem solid #fff;
  border-radius: 50%;
  box-shadow: 0 0.625rem 1.25rem rgba(18, 27, 116, 0.18);
}

.mngCircleItemObject {
  width: 17rem;
  height: 17rem;
  top: -1.875rem;
  left: 50%;
  background-color: #1527a0;
  transform: translate(-22rem, -6rem);
}

.mngCircleItemConnection {
  width: 17rem;
  height: 17rem;
  bottom: 0.625rem;
  right: 0;
  background-color: #1527a0;
  transform: translate(12rem, -8rem);
}

.mngCircleItemSpace {
  width: 17rem;
  height: 17rem;
  bottom: 0.625rem;
  left: 0;
  background-color: #1527a0;
  transform: translateY(11rem);
}

.mngCircleText {
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
  -webkit-animation: rotate2 linear infinite 40s forwards;
          animation: rotate2 linear infinite 40s forwards;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate2 {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate2 {
  100% {
    transform: rotate(-360deg);
  }
}
.mngCircleBg {
  background: url("../../img/main/zetaplanLogo.svg") no-repeat 7rem;
  width: 110%;
  height: 110%;
  position: absolute;
  bottom: -20rem;
  left: 12rem;
  border: 0.8rem solid #e0e0e0;
  background-size: 60% 60%;
  border-radius: 50%;
  box-shadow: 0 0.625rem 1.25rem rgba(18, 27, 116, 0.18);
}

.mngInner {
  width: 85vw;
  padding: 8rem 0;
  margin: 0 auto;
}/*# sourceMappingURL=mngValue.css.map */