@import '../GlobalStyle.scss';

.langAbout {
  background: url(./../../img/main/main_galexy_bg.png);
  height: 81.6rem;

  .langAboutCon {
    width: 85%;
    margin: auto;

    .langAboutT {
      font: {
        weight: bold;
        size: $main-title;
        family: Montserrat;
      }
      color: $basic-white;
      padding-top: 5rem;
      margin-bottom: 4.8rem;
    }

    .langAboutC {
      font-size: 2.5rem;
      color: $basic-white;
      margin-bottom: 4rem;
      line-height: 1.5;
    }
  }
}

.langTec {
  .langTecBox {
    width: 85%;
    margin: 10rem auto;

    .langTecTitle {
      font: {
        weight: bold;
        size: $main-title;
        family: Montserrat;
      }
    }

    .langTecContent {
      .langTecImgBox {
        display: flex;
        justify-content: center;
        margin-top: 7rem;
        img {
          width: 100%;
        }
      }

      .langTecContentC {
        margin-top: 5rem;
        font-size: 2.5rem;
        line-height: 1.5;
      }

      .langTecContentT {
        font: {
          weight: bold;
          size: 2.6rem;
        }
        margin-top: 7rem;
      }

      .langTecChBox {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        align-items: center;

        img {
          width: 40%;
        }

        .langTecContentC {
          width: 60%;
          margin-left: 5rem;
          line-height: 1.5;
        }
      }

      .langTecMap {
        width: 100%;
        margin-top: 5rem;
      }
    }
  }
}

.langTecGlobalImgBox {
  position: relative;
  img {
    width: 100%;
  }
  span {
    font: {
      size: 3rem;
      weight: $main-title;
      family: Montserrat;
    }
    color: $basic-white;
    position: absolute;
    bottom: 4rem;
    right: 5rem;
  }
}

.langTecOC {
  .langTecOCBox {
    width: 85%;
    margin: auto;

    .langTecOCtitle {
      margin: 5rem 0;
      p {
        font: {
          size: 3rem;
          weight: $main-title;
          family: Montserrat;
        }

        &::after {
          content: '';
          display: block;
          background-image: url(./../../img//eng_cn/eng_cn_thin_gradient.png);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    .langTecConT {
      font-size: 4rem;
      margin: 5rem 0;
    }
  }
}
