@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');

$main-color: #1527A0;
$sub-red:#83151B;
$sub-purple: #461D93;
$basic-gray1:#f0f0f0;
$basic-gray2: #e0e0e0;
$basic-gray3:#333;
$basic-black:#000;
$basic-white:#fff;
$main-title: 4.5rem;
$sub-title: 3.2rem;
$size-xl: 2.4rem;
$size-lg: 2.08rem;
$list-md: 1.92rem;
$size-sm: 1.6rem;
$size-xs: 1.44rem;

@mixin Subtitle($sub, $basic) {
  font-size: $sub;
  font-weight: 900;
  padding-left: 3rem;
  position: relative;
  &::before {
    content: "";
    display: block;
    background: url('./../../img/title_box@2x.png') no-repeat;
    background-size: contain;
    width: 1rem;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $basic;
    position: absolute;
    top: 6rem;
    left: 0;
  }
};

@mixin Circle($size, $circleSize) {
  display: flex;
  flex-wrap: wrap;
  width: $size;
  justify-content: center;
  align-items: center;
  li {
    width: $circleSize;
    height: $circleSize;
    border-radius: 50%;
    border: 1px solid $main-color;
    margin-right: 4rem;
    position: relative;
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
    
    &:hover {
      background-color: $main-color;
      color: $basic-white;
    }

    &::before {
      content: "";
      display: block;
      width: 4rem;
      height: 1px;
      border-bottom: 1px dashed black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -4rem;
    }

    &:first-child::before {
      display: none;
    }
  }
}

@mixin Inner {
  width: 1440px;
  padding: 8rem 0;
  margin: 0 auto;
}
