@import '../GlobalStyle.scss';

.dataInfoInner {
  @include Inner;

  .infoTitleBox {
    border-bottom: 1px solid $basic-gray3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .infoTitle {
      font-size: 3.2rem;
      font-family: 'Noto Sans KR',sans-serif;
      padding-bottom: 20px;
    }

    .infoTabList {
      display: flex;
      font-weight: bold;
      
      li {
        margin-left: 50px; // 122px인데 임시 수정(문의)
        font-size: 2.24rem;
        position: relative;
        
        &.active {
          color : $main-color
        }

        &.active::after {
          content: "";
          width: 140px;
          height: 2px;
          display: block;
          background-color: $main-color;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -16px;
          opacity: 1;
        }
      }
    }
  }

  .infoSearchCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin-top: 94px;

    span {
      font-size: 1.76rem;
    }
    
    .infoSearchBox {
      position: relative;
      width: 450px;

      .infoInput {
        width: 450px;
        border: none;
        border-bottom: 1px solid #707070;
        font-size: 2rem;
        display: block;
        outline: none;s

        &::placeholder {
          color: $basic-black;

        }
      }

      .infomagnifier {
        display: block;
        background: url('../../img/zetaplan_splite.png')  no-repeat -419px -151px;
        background-size: 599px 280px;
        width: 18px;
        height: 18px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .dataInfoLiBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .dataInfoItem {
      width: 450px;
      height: 316px;
      margin-bottom: 50px;
      padding: 56px 103px 56px 54px;
      border: 1px solid $basic-black;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      font-family: 'Noto Sans KR',sans-serif;

      &:hover {
        background-color: $main-color;
        color: $basic-white;
      }

      .infoItemTop {
        display: flex;
        justify-content: space-between;

        dd.ddnotice {
          font-size: 1.92rem;
          font-weight: bold;
        }
        dd.ddCate {
          font-size: 1.68rem;
          font-weight: bold;
        }

      }
      dt {
        margin: 49px 0 28px;
        width: 292px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 2.32rem;
        font-weight: bold;
        line-height: 1.5;
      }
      dd.date {
        font-size: 2rem;
        font-weight: bold;
      }
    }

  }

  .infoMoreBtn {
    width: 295px;
    height: 78px;
    border: 1px solid #707070;
    border-radius: 50px;
    outline: none;
    font-size: 1.6rem;
    display: block;
    margin: 167px auto 0;
    font-size: 1.6rem;
    font-weight: bold;
  }

}