@import '../GlobalStyle.scss';

.dataInfoInner {
  @include Inner;

  .infoTitleBox {
    border-bottom: 1px solid $basic-gray3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .infoTitle {
      font-size: 3.2rem;
      font-family: 'Noto Sans KR',sans-serif;
      padding-bottom: 20px;
    }

    .infoTabList {
      display: flex;
      margin-bottom: 24px;
      font-weight: bold;
      justify-content: center;
      flex-wrap: wrap;
      
      li {
        background-color: $basic-gray1;
        font-family: 'Noto Sans KR',sans-serif;
        font-size: 2.24rem;
        position: relative;
        margin: 8px 6px;
        margin-bottom: 8px;
        padding: 1.6rem;
        border-radius: 5%;
        border: 1px solid $basic-gray2;
        cursor: pointer;
        
        &.active {
          background-color : $main-color;
          color: $basic-white;
        }
      }
    }
  }

  .infoSearchCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin-top: 94px;

    span {
      font-family: 'Noto Sans KR',sans-serif;
      font-size: 1.76rem;
    }
    
    .infoSearchBox {
      position: relative;
      width: 40rem;
      border-bottom: 1px solid #707070;

      .infoInput {
        width: 100%;
        border: none;
        font-size: 2rem;
        display: block;
        outline: none;
        padding: 16px 0;
        background: transparent;

        &::placeholder {
          color: $basic-black;

        }
      }

      .infomagnifier {
        display: block;
        background: url('../../img/zetaplan_splite.png')  no-repeat -419px -151px;
        background-size: 599px 280px;
        width: 18px;
        height: 18px;
        position: absolute;
        right: 0;
        bottom: 16px;
        cursor: pointer;
      }
    }
  }

  .dataInfoLiBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;

    .dataInfoItem {
      height: 30rem;
      margin-bottom: 50px;
      padding: 56px 54px;
      border: 1px solid #887b7b;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      font-family: 'Noto Sans KR',sans-serif;
      cursor: pointer;

      &:hover {
        background-color: $main-color;
        color: $basic-white;
      }

      &:last-child {
        align-self: flex-start;
      }

      .infoItemTop {
        display: flex;
        justify-content: space-between;

        dd.ddnotice {
          font-size: 1.92rem;
          font-weight: bold;
        }
        dd.ddCate {
          font-size: 1.68rem;
          font-weight: bold;
        }

      }
      dt {
        margin: 42px 0 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-family: 'Noto Sans KR',sans-serif;
        font-size: 2.32rem;
        font-weight: bold;
        line-height: 1.5;
      }
      dd.date {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  .infoMoreBtn {
    width: 29.5rem;
    height: 7.8rem;
    border: 1px solid #707070;
    border-radius: 50px;
    outline: none;
    font-size: 1.6rem;
    display: block;
    margin: 7rem auto 0;
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    &:hover {
      background-color: $main-color;
      color: $basic-white;
    }
  }

}

.dark {
  .dataInfoInner .infoSearchCon .infoSearchBox{
    border-color: $basic-white;
    .infoInput {
    color: $basic-white;
    &::placeholder {
      color: $basic-white;
    }
    }
    .infomagnifier {
      background:  url('../../img/zetaplan_splite.png') -403px -114px;
      background-size: 599px 280px;
      width: 18px;
      height: 18px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px){

  .dataInfoInner .dataInfoLiBox {
    grid-template-columns: 1fr 1fr;
  }

  .dataInfoInner .dataInfoLiBox .dataInfoItem {
    dt {
      -webkit-line-clamp: 1;
    }
  }
};

@media (min-width: 360px) and (max-width: 767px){
  .dataInfoInner .dataInfoLiBox {
    grid-template-columns: 1fr;
  }
  .dataInfoInner .dataInfoLiBox .dataInfoItem {
    width: 100%;
    padding: 3rem 4rem;
  }
}