@import '../GlobalStyle.scss';

.detailInfoInner {
  @include Inner;

  .detailInfoTitleBox {
    padding-bottom: 20px;
    border-bottom: 1px solid $basic-gray3;
    p {
      font-family: 'Noto Sans KR',sans-serif;
      font-size: $sub-title;
      font-weight: bold;
    }
  }

  .detailContentInner {
    border-bottom: 1px solid $basic-gray2;

    .detailTitleSec {
      padding: 35px;
      text-align: center;
      border-bottom: 1px solid $basic-gray2;

      .detailTitle {
        font-family: 'Noto Sans KR',sans-serif;
        font-size: $size-xl;
        font-weight: 700;
        margin-bottom: 16px;
      }

      .detailDate {
        font-family: 'Noto Sans KR',sans-serif;
        font-size: $list-md;
      }
    }

    img {
      width: 100%;
    }

    .content {
      width: 80%;
      margin: 60px auto;

      div {
        font-size: $size-sm;
        line-height: 1.7;
        font-family: 'Noto Sans KR',sans-serif;
      }

      .content-view {
        font-size: 1.8rem;
        line-height: 1.7;
        font-family: 'Noto Sans KR',sans-serif;

        li, p, tr, td, a, pre, u, b {
          font-size: 1.8rem;
          font-weight: normal;
          line-height: 1.7;
          font-family: 'Noto Sans KR',sans-serif;
        }
        
        tr, td {
          border: 1px solid #707070;
          font-size: 1.8rem;
        }
  
        strong, b {
          font-family: 'Noto Sans KR',sans-serif;
          font-size: 1.8rem;
          line-height: 1.7;
          font-weight: bold;
        }
      }

      table {
        width: 100%;
        text-align: center;
        tr {
          & > td:nth-of-type(1) {
            background-color: $basic-gray1;
            font-weight: 600;
          }
        }
        td {
          height: 32px;
        }
      }

      li, p, tr, td, a, pre, u, b {
        font-size: 1.8rem;
        font-weight: normal;
        line-height: 1.7;
        font-family: 'Noto Sans KR',sans-serif;
      }
      
      tr, td {
        border: 1px solid #707070;
        font-size: 1.8rem;
      }

      strong, b {
        font-family: 'Noto Sans KR',sans-serif;
        font-size: 1.8rem;
        line-height: 1.7;
        font-weight: bold;
      }
    }
  }

  .infoListBtn {
    display: block;
    width: 12rem;
    height: 5rem;
    background-color: $main-color;
    color: $basic-white;
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 1.8rem;
    padding: 1rem 4rem;
    margin: 70px auto 0;
    text-align: center;
    line-height: 1.5;
  }
}