@import '../GlobalStyle.scss';

.dark {
  @include Dark;
  .newsTabTitle, .newsTitle .newsContentBox {
    color: $basic-white; 
  }

}

.newsInner {
  @include Inner;

  .newsTitleBox {
    border-bottom: 1px solid $basic-gray3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .newsTabTitle {
      font-size: 3.2rem;
      font-family: 'Noto Sans KR',sans-serif;
      padding-bottom: 20px;
    }

    .newsTabList {
      display: flex;
      font-weight: bold;

      li {
        width: 13rem;
        display: block;
        font-family: 'Noto Sans KR',sans-serif;
        font-weight: bold;
        font-size: 2.24rem;
        text-align: center;
        position: relative;
        cursor: pointer;

        &.active {
          color: $main-color;

          &::after {
            content: "";
            width: 100%;
            height: 2px;
            display: block;
            background-color: $main-color;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -16px;
            opacity: 1;
          }
        }
      }
    }
  }

  .newsSwiperContainer {
    margin-top: 80px;
  
    .newsContainer {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
  
      .slideImgThumb {
        flex: 1 1 60%;
        margin-bottom: 8px;
  
        img {
          width: 100%;
          object-fit: contain;
          max-height: 400px;
        }
      }
      
      .newsContentBox {
        flex: 1 1 40%;
  
        .newsTitle {
          font-size: 3.04rem;
          width: 95%;
          font-weight: bold;
          line-height: 1.7;
          word-break: keep-all;
          margin-bottom: 16px;
        }
  
        .newsSummary {
          font-family: 'Noto Sans KR',sans-serif;
          font-size: 2.4rem;
          width: 95%;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;    
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          font-weight: normal;
  
          p, ul li {
            font-family: 'Noto Sans KR',sans-serif;
            font-size: $size-xl;
            line-height: 1.7;
          }
        }
  
        .newsCreated {
          font-family: 'Noto Sans KR',sans-serif;
          font-size: 1.6rem;
          font-weight: 600;
          margin: 57px 0 40px;
        }
      }
    }
  }


  .newsListContainer {
    position: relative;
    margin-top: 250px;

    .newsSearchBox {
      position: absolute;
      right: 0;
      top: -24px;
      width: 30rem;
      padding: 1rem 0;
      border-bottom: 1px solid #707070;
      background: transparent;

      .newsInput {
        width: 28rem;
        border: none;
        font-size: 2rem;
        display: block;
        outline: none;
        background: transparent;

        &::placeholder {
          color: $basic-black;
        }
      }
  
      .newsmagnifier {
        display: block;
        background: url('../../img/zetaplan_splite.png')  no-repeat -419px -151px;
        background-size: 599px 280px;
        width: 18px;
        height: 18px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .newsListBox {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      column-gap: 24px;
      grid-template-rows: 1fr 1fr;
    }
  }
  
  .newsSwiperBtnBox {
    width: 138px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;

    .prevBtnBox {
      width: 64px;
      min-width: 64px;
      height: 64px;
      min-height: 64px;
      border-radius: 50%;
      background-color: $basic-gray1;
      position: relative;
      cursor: pointer;

      .prev {
        position: absolute;
        left: 0;
        width: 100%;
        font-size: 0;
        height: 100%;
        border-radius: 50%;

        span {
          display: block;
          background: url('../../img/zetaplan_splite.png') no-repeat -278px -201px;
          background-size: 599px 280px;
          width: 8px;
          height: 13px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.active {
        background-color: $main-color;

        .prev {
          span {
            background: url('../../img/zetaplan_splite.png') no-repeat -195px -221px;
	          background-size: 599px 280px;
	          width: 8px;
	          height: 13px;
          }
        }
      }
    }

    .nextBtnBox {
      width: 64px;
      min-width: 64px;
      height: 64px;
      min-height: 64px;
      border-radius: 50%;
      background-color: $basic-gray1;
      position: relative;
      padding: 14px 10px;
      cursor: pointer;

      .next {
        position: absolute;
        font-size: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        right: 0;
        top: 0;

        span {
          display: block;
          background: url('../../img/zetaplan_splite.png') no-repeat -298px -201px;
          background-size: 599px 280px;
          width: 8px;
          height: 13px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.active {
        background-color: $main-color;

        .next {
          span {
            background: url('../../img/zetaplan_splite.png') no-repeat -236px -221px;
            background-size: 599px 280px;
            width: 8px;
            height: 13px;
          }
        }
      }

    }
  }
  .pagination {
    display: flex;
    width: 890px;
    margin: 70px auto 88px;
    justify-content: center;

    .page-item {  
      a {
        display: block;
        width: 5.8rem;
        height: 5.8rem;
        padding: 2.1rem;
        text-align: center;
        font-family: 'Noto Sans KR',sans-serif;
        font-size: $size-sm;
        cursor: pointer;
      }

      &.active {
        background-color: $main-color;
        color: $basic-white;
      }

      &.disabled {
        display: none;
      }
    }

  }
}

.dark {
  .newsInner .newsTitleBox .newsTabList li {
    color: $basic-white;
    &.active {
      color: #359aff;
      &::after {
        background-color: #359aff;
      }
    }

  }
  .newsInner .newsListContainer .newsSearchBox {
    border-color: $basic-white;
    .newsInput {
      &::placeholder {
        color: $basic-white;
      }
    }
    .newsmagnifier {
      background:  url('../../img/zetaplan_splite.png') -403px -114px;
	    background-size: 599px 280px;
	    width: 18px;
	    height: 18px;
    }

  }
}


@media (min-width: 768px) and (max-width: 1023px){
  .newsInner .pagination {
    width: 100%;
  }

  .newsInner .newsListContainer .newsListBox {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 24px;
  }

}

@media (min-width: 360px) and (max-width: 767px){
  .newsInner .pagination {
    width: 100%;
  }
  .newsInner .newsContainer {
    flex-wrap: wrap-reverse;
  }

  .newsInner .newsSwiperContainer .newsContainer .slideImgThumb {
    flex: 1 1 100%;
  }

  .newsInner .newsSwiperContainer .newsContainer .slideImgThumb img {
    max-height: 320px;
    object-fit: contain;
  }

  .newsInner .newsSwiperBtnBox {
    margin: 0 auto;
  }
  .newsInner .newsListContainer .newsListBox {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}