@import '../GlobalStyle.scss';

.newsInner {
  @include Inner;

  .newsTitleBox {
    border-bottom: 1px solid $basic-gray3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .newsTabTitle {
      font-size: 3.2rem;
      font-family: 'Noto Sans KR',sans-serif;
      padding-bottom: 20px;
    }

    .newsTabList {
      display: flex;
      font-weight: bold;

      li {
        margin-left: 50px;
        font-size: 2.24rem;
        position: relative;

        &.active {
          color: $main-color;

          &::after {
            content: "";
            width: 94px;
            height: 2px;
            display: block;
            background-color: $main-color;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -16px;
            opacity: 1;
          }
        }
      }
    }
  }

  .swiper-slide {

  }

  .newsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 178px; 
    
    .newsContentBox {
      flex: 30%;
      width: 400px;
      height: 570px;
      .newsTitle {
        font-size: 3.04rem;
        width: 329px;
        height: 166px;
        font-weight: bold;
      }

      .newsSummary {
        font-size: 2.4rem;
        width: 398px;
        height: 176px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: normal;

        p, ul li {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: $size-xl;
          line-height: 1.5;

        }
      }

      .newsCreated {
        font-size: 1.6rem;
        font-weight: 600;
        margin: 57px 0 40px;
      }
      
      img {
        width: auto;
      }

    }

    .newsThumbnail {
      width: 904px;
      height: 550px;
    } 
  }

  .newsSearchBox {
    position: relative;
    width: 470px;
    margin: 328px 0 57px 970px;

    .newsInput {
      width: 470px;
      border: none;
      border-bottom: 1px solid #707070;
      font-size: 2rem;
      display: block;
      outline: none;s

      &::placeholder {
        color: $basic-black;

      }
    }

    .newsmagnifier {
      display: block;
      background: url('../../img/zetaplan_splite.png')  no-repeat -419px -151px;
      background-size: 599px 280px;
      width: 18px;
      height: 18px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .newsListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .swiperBtnBox {
    width: 138px;
    justify-content: space-between;
    bottom: 0;
    left: 0;

    .prevBtnBox {
      width: 64px;
      min-width: 64px;
      height: 64px;
      min-height: 64px;
      border-radius: 50%;
      background-color: $basic-gray1;
      position: relative;

      &.active {
        background-color: $main-color;

        .prev {
          background: url('../../img/zetaplan_splite.png') no-repeat -195px -221px;
          background-size: 599px 280px;
          width: 8px;
          height: 13px;
        }
      }

      .prev {
        background: url('../../img/zetaplan_splite.png') no-repeat -278px -201px;
        background-size: 599px 280px;
        width: 8px;
        height: 13px;
        position: absolute;
        left: 45%;
        top: 50%;
        transform: translateY(-50%);
      }
      
    }

    .nextBtnBox {
      width: 64px;
      min-width: 64px;
      height: 64px;
      min-height: 64px;
      border-radius: 50%;
      background-color: $basic-gray1;
      position: relative;
      padding: 14px 10px;

      .next {
        background: url('../../img/zetaplan_splite.png') no-repeat -298px -201px;
        background-size: 599px 280px;
        width: 8px;
        height: 13px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
      }

      &.active {
        background-color: $main-color;

        .next {
          background: url('../../img/zetaplan_splite.png') no-repeat -236px -221px;
          background-size: 599px 280px;
          width: 8px;
          height: 13px;
        }
      }

    }
  }
  .pagination {
    display: flex;
    width: 890px;
    margin: 70px auto 88px;
    justify-content: center;
    .page-item {
      
      a {
        display: block;
        width: 58px;
        height: 58px;
        padding: 21px;
        text-align: center;
        font-size: $size-sm;
        cursor: pointer;
      }

      &.active {
        background-color: $main-color;
        color: $basic-white;
      }

      &.disabled {
        display: none;
      }
    }

  }
}