@import '../GlobalStyle.scss';

.newsDetailInner {
  @include Inner;
  
  .detailTitle {
    padding-bottom: 20px;
    border-bottom: 1px solid $basic-gray3;
    p {
      font-size: $sub-title;
      font-weight: bold;
    }
  }
  .detailItemBox {
    border-bottom: 1px solid $basic-gray2;
    .detailItemTitle {
      padding: 35px;
      text-align: center;
      font-size: $size-xl;
      font-weight: 700;
      border-bottom: 1px solid $basic-gray2;

    }
    .contentBox {
      width: 1000px;
      margin: 60px auto;

      img {
        width: auto;
        margin: 0 auto 30px;

      }
      .content {

        p, li, div {
          font-size: $size-sm;
          font-weight: normal;
          line-height: 1.5;
        }
      }

    }
  }
  .newsListBtn {
    display: block;
    width: 120px;
    height: 40px;
    background-color: $main-color;
    color: $basic-white;
    font-size: $size-sm;
    padding: 10px 40px;
    margin: 70px auto 0;
    text-align: center;
  }
}