@import '../GlobalStyle.scss';

.newsItemContainer {
  width: 440px;
  margin: 113px 0;

  .thumbnail {
    width: 440px;
    height: auto;
    min-height: 370px;
    margin-bottom: 49px;
  }
  .newsTitle {
    width: 300px;
    font-size: $size-xl;
    font-weight: bold;
    line-height: 1.5;
  }
  .newsContent {
    width: 408px;
    font-size: $list-md;
    line-height: 1.5;
    margin: 25px 0 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;    
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    h3, div, p, ul li {
      font-size: $list-md;
      font-weight: normal;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
      list-style: none;

    }

  }
  .createdAt {
    font-size: $size-sm;
  }
}