@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
@import '../GlobalStyle.scss';

.loginBackGround {
  background: url('../../img/main/main_galexy_bg@2x.png');
  height: 100vh;
  
  .loginContainer {
    @include Inner;
    padding: 0;
    height: 100%;
    margin: 0 auto;
    display: flex;
  
    .logLeftContainer {
      width: 35%;
      background: url('../../img/bg/sitemap_bg@2x.png') no-repeat;
      font-size: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
  
      .logText {
        color: $basic-white;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 900;
        line-height: 1.7;
        font-size: 3.4rem;
        position: absolute;
        top: 100px;
        left: 31px; 
        
        .logTextFirst {
          font-size: 3.4rem;
        }
  
        .logTextSecond {
          font-size: 3.3rem;
        }
      }
  
      .loginLogo {
        position: absolute;
        width: 211px;
        height: 57px;
        bottom: 0;
        left: 33px;
        display: block;
        background: url('../../img/zetaplan_splite.png') no-repeat 1.667% 2.141%;
        background-size: 599px 280px;
      }
    }
  
    .logRightContainer {
      width: 65%;
      // height: 100%;
      background-color: $basic-white;
  
      .loginForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 650px;
        margin: 0 auto;
  
        .logIdInput {
          outline: none;
          width: 400px;
          height: 45px;
          font-size: 1.6rem;
          background-color: $basic-white;
          border: none;
          border-bottom: 1px solid $basic-gray2;
          margin-bottom: 26px;
          &::placeholder {
            font-size: 1.6rem;
          }
        }
        
        .logPwdInput {
          outline: none;
          width: 400px;
          height: 45px;
          font-size: 1.6rem;
          border: none;
          border-bottom: 1px solid $basic-gray2;
  
          &::placeholder {
            font-size: 1.6rem;
          }
        }
  
        .loginBtn {
          width: 199px;
          height: 60px;
          background-color: #1527A0;
          color: #fff;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 1.6rem;
          font-weight: bold;
          margin: 80px 0;
        }
      }
    }
  }


}
