@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.loginBackGround {
  background: url("../../img/main/main_galexy_bg@2x.png");
  height: 100vh;
}
.loginBackGround .loginContainer {
  width: 85vw;
  padding: 8rem 0;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.loginBackGround .loginContainer .logLeftContainer {
  width: 35%;
  background: url("../../img/bg/sitemap_bg@2x.png") no-repeat;
  font-size: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.loginBackGround .loginContainer .logLeftContainer .logText {
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  line-height: 1.7;
  font-size: 3.4rem;
  position: absolute;
  top: 100px;
  left: 31px;
}
.loginBackGround .loginContainer .logLeftContainer .logText .logTextFirst {
  font-size: 3.4rem;
}
.loginBackGround .loginContainer .logLeftContainer .logText .logTextSecond {
  font-size: 3.3rem;
}
.loginBackGround .loginContainer .logLeftContainer .loginLogo {
  position: absolute;
  width: 211px;
  height: 57px;
  bottom: 0;
  left: 33px;
  display: block;
  background: url("../../img/zetaplan_splite.png") no-repeat 1.667% 2.141%;
  background-size: 599px 280px;
}
.loginBackGround .loginContainer .logRightContainer {
  width: 65%;
  background-color: #fff;
}
.loginBackGround .loginContainer .logRightContainer .loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 650px;
  margin: 0 auto;
}
.loginBackGround .loginContainer .logRightContainer .loginForm .logIdInput {
  outline: none;
  width: 400px;
  height: 45px;
  font-size: 1.6rem;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 26px;
}
.loginBackGround .loginContainer .logRightContainer .loginForm .logIdInput::-moz-placeholder {
  font-size: 1.6rem;
}
.loginBackGround .loginContainer .logRightContainer .loginForm .logIdInput:-ms-input-placeholder {
  font-size: 1.6rem;
}
.loginBackGround .loginContainer .logRightContainer .loginForm .logIdInput::placeholder {
  font-size: 1.6rem;
}
.loginBackGround .loginContainer .logRightContainer .loginForm .logPwdInput {
  outline: none;
  width: 400px;
  height: 45px;
  font-size: 1.6rem;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}
.loginBackGround .loginContainer .logRightContainer .loginForm .logPwdInput::-moz-placeholder {
  font-size: 1.6rem;
}
.loginBackGround .loginContainer .logRightContainer .loginForm .logPwdInput:-ms-input-placeholder {
  font-size: 1.6rem;
}
.loginBackGround .loginContainer .logRightContainer .loginForm .logPwdInput::placeholder {
  font-size: 1.6rem;
}
.loginBackGround .loginContainer .logRightContainer .loginForm .loginBtn {
  width: 199px;
  height: 60px;
  background-color: #1527A0;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 80px 0;
}/*# sourceMappingURL=login.css.map */