@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
@import '../GlobalStyle.scss';

.loginBackGround {
  background: url('../../img/main/main_galexy_bg@2x.png');
  height: 100vh;
  
  .loginContainer {
    @include Inner;
    padding: 0;
    height: 100%;
    margin: 0 auto;
    display: flex;
  
    .logLeftContainer {
      width: 35%;
      background: url('../../img/bg/sitemap_bg@2x.png') no-repeat;
      font-size: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
  
      .logText {
        color: $basic-white;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 900;
        line-height: 1.7;
        font-size: 3.4rem;
        position: absolute;
        top: 100px;
        left: 31px; 
        
        .logTextFirst {
          font-size: 3.4rem;
        }
  
        .logTextSecond {
          font-size: 3.3rem;
        }
      }
  
      .loginLogo {
        position: absolute;
        width: 21.1rem;
        height: 57px;
        bottom: 0;
        left: 33px;
        display: block;
        background: url('../../img/icon/zetaplan_logo_w@2x.png') no-repeat;
        background-size: 100%;
      }
    }
  
    .logRightContainer {
      width: 65%;
      // height: 100%;
      background-color: $basic-white;
  
      .loginForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 650px;
        margin: 0 auto;
        
        .loginIdBox {
          width: 60%;
          display: flex;
          flex-direction: column;
          .logIdInput {
            // outline: none;
            width: 100%;
            height: 45px;
            font-size: 1.6rem;
            background-color: $basic-white;
            border: none;
            border-bottom: 1px solid $basic-gray2;
            margin-bottom: 4px;
            padding: 1%;
            &::placeholder {
              font-size: 1.6rem;
            }
          }
          
          .errorBox {
            height: 4rem;
            justify-items: flex-end;
            p {
              font-size: 1.2rem;
            }
          }

        }

        .pwdBox {
          width: 60%;
          display: flex;
          flex-direction: column;
        }
  
        .logPwdInput {
          // outline: none;
          width: 100%;
          height: 45px;
          font-size: 1.6rem;
          border: none;
          padding: 1%;
          border-bottom: 1px solid $basic-gray2;
          &::placeholder {
            font-size: 1.6rem;
          }
        }
        
        .errorBox {
          height: 4rem;
          justify-items: flex-end;
          p {
            font-size: 1.2rem;
          }
        }
  
        .loginBtn {
          width: 20rem;
          height: 6rem;
          background-color: #1527A0;
          color: #fff;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 1.6rem;
          font-weight: bold;
          margin: 80px 0;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 820px){
  // .loginBackGround .loginContainer .logLeftContainer .logText {
  //   font-size: 
  // }
  
  

}
@media (min-width: 360px) and (max-width: 767px){
}
