@import '../GlobalStyle.scss';

.inner {
  @include Inner;
}

/* head */
.miPerfoHead {
  display: flex;
  justify-content: space-between;
  @include Subtitle($sub-title, $basic-gray3)
}

.miPerfoTab {
  display: flex;

  button {
    width: 13rem;
    position: relative;
    line-height: 4.1rem;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 2.8rem;

    &:hover {
      color: $main-color;

      &::after {
        content: '';
        height: 0.3rem;
        width: 100%;
        background-color: $main-color;
        position: absolute;
        top: 5.9rem;
        left: 0;
      }
    }
  }
}

// 버튼 클릭 후 효과
.miPerfoTab>button.on {
  color: $main-color;

  &::after {
    content: '';
    height: 0.3rem;
    width: 100%;
    background-color: $main-color;
    position: absolute;
    top: 5.9rem;
    left: 0;
  }
}


/* content */
.miPerfoMainImg {
  width: 90%;
  margin: 10rem 7rem;
}



/* ipo 성과 */
.ipoPerfo {
  display: flex;
  margin-top: 25rem;
}

.ipoCircleWrap {
  position: relative;
  width: 25%;
  height: 35rem;
}

.ipoCircle {
  position: absolute;
  left: 12rem;
  top: 5rem;
  width: 100%;
  height: 100%;
  animation: rotate linear infinite 40s forwards;
}

.ipoCircleItem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 9.0625rem;
  height: 9.0625rem;
  border: .5rem solid #fff;
  border-radius: 50%;
  box-shadow: 0 .625rem 1.25rem rgba(18, 27, 116, .18);
}

.ipoCircleItemObject {
  width: 18rem;
  height: 18rem;
  top: -1.875rem;
  left: 50%;
  background-color: #070F76;
  transform: translate(-23rem, -9rem);
}

.ipoCircleItemConnection {
  width: 18rem;
  height: 18rem;
  bottom: .625rem;
  right: 0;
  background-color: #1E3A8B;
  transform: translate(14rem, -10rem)
}

.ipoCircleItemSpace {
  width: 18rem;
  height: 18rem;
  bottom: .625rem;
  left: 0;
  background-color: #583CF2;
  transform: translate(-2rem, 13rem);
}

.ipoCircleText {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  animation: rotate2 linear infinite 40s forwards;
}

@keyframes rotate {
  0% {}

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {}

  100% {
    transform: rotate(-360deg);
  }
}

.ipoCircleBg {
  background: url('../../img/main/zetaplanLogo.svg') no-repeat 5rem 3rem;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 12rem;
  top: 5rem;
  border: 1rem solid #ccc;
  background-size: 80% 80%;
  border-radius: 50%;
  box-shadow: 0 .625rem 1.25rem rgba(18, 27, 116, .18);
}

.ipoValueProcess {
  position: relative;
  bottom: 15rem;
  left: 30rem;
  padding: 4rem;

  h3 {
    font-size: 3.2rem;
    margin-top: 4rem;
  }

  h3:nth-of-type(1) {
    color: #070F76;
  }

  h3:nth-of-type(2) {
    color: #1E3A8B;
  }

  h3:nth-of-type(3) {
    color: #583CF2;
  }

  div {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 7rem;
  }

  p {
    font-size: 1.8rem;
    font-family: 'Noto Sans KR';
    line-height: 2.8rem;
    color: gray;
  }
}