@import '../GlobalStyle.scss';

.inner {
  @include Inner;

}

/* head */
.miInfoHead {
  display: flex;
  justify-content: space-between;
  @include Subtitle($sub-title, $basic-gray3)
}

.miInfoTab {
  display: flex;

  button {
    width: 13rem;
    position: relative;
    line-height: 4.1rem;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 2.8rem;

    &:hover {
      color: $main-color;

      &::after {
        content: '';
        height: 0.3rem;
        width: 100%;
        background-color: $main-color;
        position: absolute;
        top: 5.9rem;
        left: 0;
      }
    }
  }
}

// 버튼 클릭 후 효과
.miInfoTab>button.on {
  color: $main-color;

  &::after {
    background-color: $main-color;
  }
}


/* content */
.miInfoMainImg {
  width: 100%;
  padding-top: 9.1rem;
}

.miInfoTxt {
  width: 100%;
  text-align: center;
  margin-top: 12.1rem;

  p:nth-child(1) {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.7rem;
    margin-bottom: 5.1rem;
  }

  p:nth-child(2) {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 12.2rem;
    line-height: 4rem;
  }

  p:nth-child(3) {
    color: $main-color;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 3.8rem;
    margin-bottom: 12.2rem;
  }
}