@import '../GlobalStyle.scss';


// accordion start

.maPro {
  display: flex;
  justify-content: center;
  align-items: center;

  .maProAcco {
    width: 100%;
  }
}

.maProItem {
  margin-bottom: 0.260vw;
  padding: 1.042vw;
  width: 100%;
  box-sizing: border-box;

  .maProBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid $main-color;
    padding: 0.521vw 1.042vw;
    font-size: 1.250vw;
    letter-spacing: 1.2px;
    color: #000;

    &.on {
      background-color: $main-color;
      color: #fff;
    }

    .maProTitle {
      font-size: $size-lg;
      font-weight: bold;
      margin: 1.042vw 1.563vw;
    }

    .maUnderBtn {
      background: url('../../img/icon/bottom_arrow@2x.png') no-repeat center / cover;
      width: 1.406vw;
      height: 0.938vw;
    }

    .maTopBtn {
      background: url('../../img/icon/top_arrow@2x.png') no-repeat center / cover;
      width: 1.406vw;
      height: 0.938vw;
    }
  }
}

.maProContents {
  max-height: 0;
  overflow: hidden;
  width: 100%;


  &.show {
    height: auto;
    max-height: 520.313vw;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
    border: 1px solid $main-color;
  }
}



// 일반적 절차
.maProContWrap {
  background: url(../../img/m&a_ipo/m&a_ipo_process.png) no-repeat top left / 100%;
  margin-top: 3vw;
  margin-left: 3vw;
  width: 60%;
  height: 83.333vw;
  position: relative;

  .maProCont {
    width: 70vw;
    height: 10.417vw;
    display: flex;
    position: absolute;

    &:hover .maProCircle {
      opacity: 1;
      transition: 0.3s;

    }

    .maProCircle {
      width: 5.104vw;
      height: 5.104vw;
      border-radius: 100%;
      background-color: $main-color;
      opacity: 0;

      p {
        font-weight: 700;
        color: $basic-white;
        text-align: center;
        line-height: 5.104vw;
        font-size: 1.146vw;
        font-family: 'Noto Sans Kr'
      }
    }

    .maProTxt {
      width: 60vw;
      padding-top: 1.771vw;
      padding-left: 1.563vw;


      p {
        display: flex;
        font-weight: 700;
        font-size: 2.1rem;
        line-height: 2vw;

        .maProIcon {
          display: block;
          margin-left: 1.5rem;
        }
      }

      li {
        font-size: 1.8rem;
        line-height: 1.823vw;
      }
    }
  }
}


// 단계 위치 하나씩 따로
.maProCont:nth-child(1) {
  top: 0;
  left: 0;

  .maProIcon {
    background: url(../../img/m&a_ipo/m&a@2x.png) no-repeat center / cover;
    width: 1.823vw;
    height: 1.823vw;
  }
}

.maProCont:nth-child(2) {
  top: 6.563vw;
  left: 44.479vw;

  .maProIcon {
    background: url(../../img/m&a_ipo/m&a2@2x.png) no-repeat center / cover;
    width: 1.823vw;
    height: 1.823vw;
  }
}

.maProCont:nth-child(3) {
  top: 15.417vw;
  left: 0;

  .maProIcon {
    background: url(../../img/m&a_ipo/m&a3@2x.png) no-repeat center / cover;
    width: 2vw;
    height: 1.823vw;
  }
}

.maProCont:nth-child(4) {
  top: 25.625vw;
  left: 44.479vw;

  .maProIcon {
    background: url(../../img/m&a_ipo/m&a4@2x.png) no-repeat center / cover;
    width: 1.823vw;
    height: 2vw;
  }
}

.maProCont:nth-child(5) {
  top: 35.417vw;
  left: 0;

  .maProIcon {
    background: url(../../img/m&a_ipo/m&a6@2x.png) no-repeat center / cover;
    width: 2vw;
    height: 1.823vw;
  }
}

.maProCont:nth-child(6) {
  top: 45.677vw;
  left: 44.479vw;

  .maProIcon {
    background: url(../../img/m&a_ipo/m&a7@2x.png) no-repeat center / cover;
    width: 2vw;
    height: 1.823vw;
  }
}

.maProCont:nth-child(7) {
  top: 55.313vw;
  left: 0;

  .maProIcon {
    background: url(../../img/m&a_ipo/m&a8@2x.png) no-repeat center / cover;
    width: 2vw;
    height: 1.823vw;
  }
}

.maProCont:nth-child(8) {
  top: 61.354vw;
  left: 44.479vw;

  .maProIcon {
    background: url(../../img/m&a_ipo/m&a9@2x.png) no-repeat center / cover;
    width: 1.7vw;
    height: 1.8vw;
  }
}

.maProCont:nth-child(9) {
  top: 71.042vw;
  left: 0;

  .maProIcon {
    background: url(../../img/m&a_ipo/m&a10@2x.png) no-repeat center / cover;
    width: 1.823vw;
    height: 1.823vw;
  }
}


// 미디어 쿼리
// 1160~1400 텍스트 하단 폰트 사이즈 조절
@media (min-width:1160px) and (max-width:1400px) {
  .maProContWrap .maProCont .maProTxt {
    li {
      font-size: 1.5rem;
    }
  }
}

// 769~1159 텍스트 전체 폰트 사이즈 조절
@media (min-width:769px) and (max-width:1159px) {
  .maProContWrap .maProCont .maProTxt {
    p {
      font-size: 1.8rem;
    }

    li {
      font-size: 1.3rem;
    }
  }
}

// 769~1660 텍스트 전체 넓이, 상하단 각각 마진 조절
@media (min-width:769px) and (max-width:1660px) {

  .maProContWrap .maProCont .maProTxt {
    width: 50vw;

    p {
      margin-bottom: 1rem;
    }

    li {
      margin-bottom: 1rem;
    }
  }
}

// ~768 배경사진 없애고 목록으로 만들기
@media (max-width:768px) {
  .maProContWrap {
    background: none;
    position: sticky;
    height: 110vw;

    .maProCont .maProCircle {
      opacity: 1;
    }
  }

  .maProCont {
    &:nth-child(2) {
      top: 12vw;
      left: 0;
    }

    &:nth-child(3) {
      top: 24vw;
      left: 0;
    }

    &:nth-child(4) {
      top: 36vw;
      left: 0;
    }

    &:nth-child(5) {
      top: 48vw;
      left: 0;
    }

    &:nth-child(6) {
      top: 60vw;
      left: 0;
    }

    &:nth-child(7) {
      top: 72vw;
      left: 0;
    }

    &:nth-child(8) {
      top: 84vw;
      left: 0;
    }

    &:nth-child(9) {
      top: 96vw;
      left: 0;
    }
  }

  .maProContWrap .maProCont .maProTxt p {
    margin-bottom: 2vw;
    font-size: 2.1rem;
  }

  .maProContWrap .maProCont .maProTxt li {
    margin-bottom: 1vw;
    font-size: 1.8rem;
  }
}


// 중개기관을 통한 절차
.maProImgWrap {
  width: 100%;
  height: 109.375vw;

  .maProImg {
    background: url(../../img//m&a_ipo/m&a_process.png) no-repeat top left / 100%;
    width: 90%;
    height: 98.958vw;
    margin: 5.208vw auto;
  }
}