@import '../GlobalStyle.scss';

.miProinner {
  @include Inner;

}

/* head */
.miProHead {
  display: flex;
  justify-content: space-between;
  @include Subtitle($sub-title, $basic-gray3)
}

.miProTab {
  display: flex;

  button {
    width: 13rem;
    position: relative;
    line-height: 4.1rem;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 2.3rem;

    &:hover {
      color: $main-color;

      &::after {
        content: '';
        height: 0.3rem;
        width: 100%;
        background-color: $main-color;
        position: absolute;
        top: 5.9rem;
        left: 0;
      }
    }
  }
}

// 버튼 클릭 후 효과
.miProTab>button.on {
  color: $main-color;

  &::after {
    content: '';
    height: 0.3rem;
    width: 100%;
    background-color: $main-color;
    position: absolute;
    top: 5.9rem;
    left: 0;
  }
}


/* content */
.maPro {
  margin-top: 10rem;
}



/* ipo 부분 */

.ipoProWrap {
  background: url(../../img/m&a_ipo/m&a_ipo_process.png) no-repeat top left / 100%;
  margin-top: 7vw;
  margin-left: 5vw;
  width: 51.042vw;
  height: 83.333vw;
  position: relative;

  .ipoProStap {
    width: 70vw;
    height: 10.417vw;
    display: flex;
    position: absolute;

    &:hover .ipoProCircle {
      opacity: 1;
      transition: 0.3s;
    }

    .ipoProCircle {
      width: 5.156vw;
      height: 5.156vw;
      border-radius: 100%;
      background-color: $main-color;
      opacity: 0;

      p {
        font-weight: 700;
        color: $basic-white;
        text-align: center;
        line-height: 5.156vw;
        font-size: 1.146vw;
        font-family: 'Noto Sans Kr'
      }
    }

    .ipoProTxt {
      width: 60vw;
      padding-top: 1vw;
      padding-left: 1.563vw;

      p {
        display: flex;
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 3.3vw;

        span {
          display: block;
          margin-left: 1.042vw;
        }
      }

      li {
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-family: 'Noto Sans Kr';

      }
    }
  }
}


// 단계 위치 하나씩 따로
.ipoProStap:nth-child(1) {
  top: 0;
  left: 0;

  .ipoProIcon {
    background: url(../../img/m&a_ipo/ipo_pro_icon1.png) no-repeat center / cover;
    width: 3vw;
    height: 3vw;
  }
}

.ipoProStap:nth-child(2) {
  top: 6.771vw;
  left: 45.833vw;

  .ipoProIcon {
    background: url(../../img/m&a_ipo/ipo_pro_icon2.png) no-repeat center / cover;
    width: 3.3vw;
    height: 3vw;
  }
}

.ipoProStap:nth-child(3) {
  top: 15.833vw;
  left: 0;

  .ipoProIcon {
    background: url(../../img/m&a_ipo/ipo_pro_icon3.png) no-repeat center / cover;
    width: 3.3vw;
    height: 3.3vw;
  }
}

.ipoProStap:nth-child(4) {
  top: 26.458vw;
  left: 45.833vw;

  .ipoProIcon {
    background: url(../../img/m&a_ipo/ipo_pro_icon4.png) no-repeat center / cover;
    width: 2.5vw;
    height: 2.5vw;
  }
}

.ipoProStap:nth-child(5) {
  top: 36.406vw;
  left: 0;

  .ipoProIcon {
    background: url(../../img/m&a_ipo/ipo_pro_icon5.png) no-repeat center / cover;
    width: 3vw;
    height: 3vw;
  }
}

.ipoProStap:nth-child(6) {
  top: 46.875vw;
  left: 45.833vw;

  .ipoProIcon {
    background: url(../../img/m&a_ipo/ipo_pro_icon6.png) no-repeat center / cover;
    width: 3.2vw;
    height: 3.2vw;
  }
}

.ipoProStap:nth-child(7) {
  top: 56.771vw;
  left: 0;

  .ipoProIcon {
    background: url(../../img/m&a_ipo/ipo_pro_icon7.png) no-repeat center / cover;
    width: 2.5vw;
    height: 2.5vw;
  }
}

.ipoProStap:nth-child(8) {
  top: 63.021vw;
  left: 45.833vw;

  .ipoProIcon {
    background: url(../../img/m&a_ipo/ipo_pro_icon8.png) no-repeat center / cover;
    width: 2.8vw;
    height: 2.8vw;
  }
}

.ipoProStap:nth-child(9) {
  top: 73.021vw;
  left: 0;

  .ipoProIcon {
    background: url(../../img/m&a_ipo/ipo_pro_icon9.png) no-repeat center / cover;
    width: 3vw;
    height: 3vw;
  }
}



// 미디어 쿼리
@media (min-width:769px) and (max-width:1100px) {
  .ipoProWrap .ipoProStap .ipoProTxt li {
    font-size: 1.5rem;
  }
}

@media (max-width:768px) {
  .ipoProWrap .ipoProStap .ipoProTxt li {
    font-size: 0.5vw;
  }
}

@media (max-width:600px) {
  .ipoProWrap {
    margin-left: 0;
  }

  .ipoProWrap .ipoProStap .ipoProTxt p {
    font-size: 2.5vw;
  }

}

@media (max-width:500px) {

  .ipoProWrap {
    background: none;
    position: sticky;
    height: 135rem;
    margin-top: 6rem;

    .ipoProStap .ipoProCircle {
      opacity: 1;
      width: 6rem;
      height: 6rem;

      p {
        font-size: 2rem;
        line-height: 6rem;
      }
    }

    .ipoProStap .ipoProTxt {
      padding-left: 2rem;
      padding-top: 2rem;
    }
  }

  .ipoProStap {
    &:nth-child(2) {
      top: 15rem;
      left: 0;
    }

    &:nth-child(3) {
      top: 30rem;
      left: 0;
    }

    &:nth-child(4) {
      top: 45rem;
      left: 0;
    }

    &:nth-child(5) {
      top: 60rem;
      left: 0;
    }

    &:nth-child(6) {
      top: 75rem;
      left: 0;
    }

    &:nth-child(7) {
      top: 90rem;
      left: 0;
    }

    &:nth-child(8) {
      top: 105rem;
      left: 0;
    }

    &:nth-child(9) {
      top: 120rem;
      left: 0;
    }
  }

  .ipoProWrap .ipoProStap .ipoProTxt p {
    margin-bottom: 2vw;
    font-size: 2.1rem;
  }

  .ipoProWrap .ipoProStap .ipoProTxt li {
    margin-bottom: 1vw;
    font-size: 1.8rem;
  }

  .ipoProWrap .ipoProStap .ipoProTxt p .ipoProIcon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width:375px) {
  .miProTab button{
    font-size: 2rem;
    width: 8rem;
  }
  .ipoProWrap .ipoProStap .ipoProTxt p {
    line-height: 3rem;
  }
}