@import '../GlobalStyle.scss';

.miInfoInner {
  @include Inner;
  padding-top: 15rem;
}

/* head */
.miInfoHead {
  display: flex;
  justify-content: space-between;
  @include Subtitle($sub-title, $basic-gray3)
}

.miInfoTab {
  display: flex;
  cursor: pointer;

  li {
    position: relative;
    width: 13rem;
    line-height: 4.1rem;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 2.3rem;
    text-align: center;

    &:hover {
      color: $main-color;

      &::after {
        content: '';
        height: 0.3rem;
        width: 100%;
        background-color: $main-color;
        z-index: 1;
        position: absolute;
        top: 5.9rem;
        left: 0;
      }
    }
  }
}

// 버튼 클릭 후 효과
.miInfoTab>li.miInfoTabOn {
  color: $main-color;

  &::after {
    content: '';
    height: 0.3rem;
    width: 100%;
    background-color: $main-color;
    z-index: 1;
    position: absolute;
    top: 5.9rem;
    left: 0;
  }
}

/* dark 모드 */
 .dark{ 

  .maInfoMainImg{
    background: url(../../img/m&a_ipo/m&a_summery_w.png) no-repeat top left / contain;
    width: 75%;
    height: 36vw;
  }  

  .ipoInfoMainImg{
    background: url(../../img/m&a_ipo/ipo_summery_w.png) no-repeat center / contain;
    width: 95%;
    height: 40vw;
  }

  .miInfoTab li:hover {
    color: #359aff;
  
    &::after {
          background-color: #359aff;
    }
  }
  .miInfoTab li.miInfoTabOn {
    color: #359aff;
     &::after {
       background-color:#359aff;
     }
   }

   .miInfoTxt p:nth-child(3){
     color: #359aff;
   }
 }


/* content */
.miInfoContent{
  margin-top: 20rem;
}

.maInfoMainImg{
  background: url(../../img/m&a_ipo/m&a_summery@2x.png) no-repeat top left / contain;
  width: 75%;
  height: 36vw;  
  margin: auto;
  font-size: 0;
}
.ipoInfoMainImg{
  background: url(../../img/m&a_ipo/ipo_summery@2x.png) no-repeat center / contain;
  width: 95%;
  height: 40vw;
  margin: auto;
  font-size: 0;
}

.miInfoTxt {
  width: 100%;
  text-align: center;
  margin-top: 12.1rem;
  p:nth-child(1) {
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.7rem;
    margin-bottom: 5.1rem;
  }

  p:nth-child(2) {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 12rem;
    line-height: 3.5rem;
  }

  p:nth-child(3) {
    color: $main-color;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 3.8rem;
    margin-bottom: 12.2rem;
  }
}


// 미디어 쿼리
@media (min-width:1024px) and (max-width:1400px) {
  .miInfoTxt p:nth-child(1) {
    font-size: 3.5rem;
  }

  .miInfoTxt p:nth-child(2) {
    font-size: 1.6rem;
  }

  .miInfoTxt p:nth-child(3) {
    font-size: 2.2rem;
  }
}

@media (min-width:769px) and (max-width:1024px) {
  .miInfoTxt p:nth-child(1) {
    font-size: 3rem;
  }

  .miInfoTxt p:nth-child(2) {
    font-size: 1.5rem;
  }

  .miInfoTxt p:nth-child(3) {
    font-size: 2rem;
  }
}

@media (max-width:768px) {
  .miInfoContent{
    margin-top: 20vw;
  }
  
  .maInfoMainImg{
    margin-top: 10rem;
    margin: auto;
    width: 100%;
    height: 50vw;
  }
  .dark .maInfoMainImg{
    margin-top: 10rem;
    margin: auto;
    width: 100%;
    height: 50vw;
  }

  .ipoInfoMainImg{
    width: 100%;
    height: 50vw;
  }
  .dark .ipoInfoMainImg{
    width: 100%;
    height: 50vw;
  }

  .miInfoTxt {
    margin-top: 10vw;

    p:nth-child(1) {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }

   p:nth-child(2) {
    font-size: 2.3rem;
    margin-bottom: 7rem;
    line-height: 3rem;
  }

   p:nth-child(3) {
    font-size: 2.2rem;
  }
  }
  
}

@media (max-width:475px) {
  .miInfoInner{
    padding-top: 12rem;
  }
}

@media all and (max-width:400px) {
  .miInfoTab li{
    font-size: 2rem;
    width: 8rem;
  }
  
}