@import '../GlobalStyle.scss';

.miPerfoInner {
  @include Inner;
}

/* 제목 */
.miPerfoHead {
  display: flex;
  justify-content: space-between;
  @include Subtitle($sub-title, $basic-gray3)
}

.miPerfoTab {
  display: flex;
  cursor: pointer;

  li {
    width: 13rem;
    position: relative;
    line-height: 4.1rem;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 2.3rem;
    text-align: center;

    &:hover {
      color: $main-color;

      &::after {
        content: '';
        height: 0.3rem;
        width: 100%;
        background-color: $main-color;
        z-index: 1;
        position: absolute;
        top: 5.9rem;
        left: 0;
      }
    }
  }
}

// 버튼 클릭 후 효과
.miPerfoTab>li.on {
  color: $main-color;

  &::after {
    content: '';
    height: 0.3rem;
    width: 100%;
    background-color: $main-color;
    z-index: 1;
    position: absolute;
    top: 5.9rem;
    left: 0;
  }
}



/* dark 모드 */
// .dark{
//   @include Dark;
  
//   .miPerfoTab li:hover {
//     color: #359aff;
  
//     &::after {
//           background-color: #359aff;
//     }
//   }
//   .miPerfoTab li.on {
//     color: #359aff;
  
//     &::after {
//       background-color:#359aff;
//     }
//   }
//   .maPerfoContent{
//     background: url(../../img/m&a_ipo/m&a_performance_w.png) no-repeat center / contain;
//     height: 45vw;
//     margin-left: 0;
//   }

//   // ipo
//   .ipoPerfoCircleWrap{
//       background: url('../../img/icon/zetaplan_logo_w@2x.png') no-repeat center / 80% 24%;
//   }
// }



// content

// m&a 성과
.maPerfoContent {
  background: url(../../img/m&a_ipo/m&a_performance@2x.png) no-repeat center / contain;
  width: 100%;
  height: 50vw;
  margin: 8vw 0;
  margin-left: 5vw;
  font-size: 0;
}

// ipo 성과
.ipoPerfo {
  display: flex;
  margin-top: 15.625vw;
  margin-bottom: 7.813vw;
  margin-left: 10vw;
}

.ipoPerfoCircleWrap {
  width: 20.833vw;
  height: 20.833vw;
  background: url('../../img/icon/zetaplan_logo@2x.png') no-repeat center / 80% 24%;
  border: 1rem solid #ccc;
  border-radius: 50%;
  box-shadow: 0 .625rem 1.25rem rgba(18, 27, 116, .18);
  position: relative;

  .ipoPerfoCircle {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: circle linear infinite 40s forwards;
  }
}

@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}

.ipoPerfoCircleItem {
  width: 9.375vw;
  height: 9.375vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: .5rem solid #fff;
  border-radius: 50%;
  box-shadow: 0 .625rem 1.25rem rgba(18, 27, 116, .18);

  &.ipoPerfoCircleItemRestruc {
    top: -1.042vw;
    left: 9.896vw;
    background-color: #070F76;
    transform: translate(-11.979vw, -4.688vw);
  }

  &.ipoPerfoCircleItemFunds {
    bottom: 0.521vw;
    right: -0.521vw;
    background-color: #1E3A8B;
    transform: translate(7.292vw, -5.208vw)
  }

  &.ipoPerfoCircleItemPub {
    bottom: 0.521vw;
    left: 0;
    background-color: #583CF2;
    transform: translate(-1.042vw, 6.771vw);
  }

  .ipoPerfoCircleTxt {
    font-size: 1.042vw;
    color: #fff;
    animation: txt linear infinite 40s forwards;
  }
}

@keyframes txt {
  100% {
    transform: rotate(-360deg);
  }
}

.ipoPerfoTxt {
  padding-left: 11.979vw;
  margin-top: -5.208vw;

  .ipoPerfoTxtTop {
    font-size: 3rem;

    &:nth-of-type(1) {
      color: #070F76;
    }

    &:nth-of-type(2) {
      color: #1E3A8B;
    }

    &:nth-of-type(3) {
      color: #583CF2;
    }
  }

  .ipoPerfoTxtMid {
    font-size: 4rem;
    font-weight: 600;
    line-height: 6rem;
  }

  .ipoPerfoTxtBt {
    font-size: 1.7rem;
    font-family: 'Noto Sans KR';
    line-height: 3rem;
    color: gray;
    margin-bottom: 2.083vw;
  }
}

@media (max-width:1550px) {

  .ipoPerfoTxt .ipoPerfoTxtTop {
    font-size: 2.8rem;
  }

  .ipoPerfoTxt .ipoPerfoTxtMid {
    font-size: 3.3rem;
  }

  .ipoPerfoTxt .ipoPerfoTxtBt {
    font-size: 1.4rem;
  }
}

@media (max-width:1360px) {
  .ipoPerfo {
    display: block;
    margin-left: 0;
  }

  .ipoPerfoCircleWrap {
    top: 2.083vw;
    left: 26vw;
    width: 30vw;
    height: 30vw;
    background-size: 70%;
  }

  .ipoPerfoCircleItem {
    width: 15vw;
    height: 15vw;

    &.ipoPerfoCircleItemRestruc {
      top: -6vw;
      left: 9.896vw;
    }

    &.ipoPerfoCircleItemFunds {
      bottom: 0.521vw;
      right: -5vw;
    }

    &.ipoPerfoCircleItemPub {
      bottom: -4vw;
      left: 0;
    }

    .ipoPerfoCircleTxt {
      font-size: 2vw;
    }
  }

  .ipoPerfoTxt {
    margin-top: 20vw;
    margin-left: 2.5vw;
  }

  .ipoPerfoTxt .ipoPerfoTxtTop {
    font-size: 2.8rem;
  }

  .ipoPerfoTxt .ipoPerfoTxtMid {
    font-size: 3.2rem;
  }

  .ipoPerfoTxt .ipoPerfoTxtBt {
    font-size: 2rem;
    margin-bottom: 3vw;
  }
}

@media (max-width:1120px) {

  .ipoPerfoTxt .ipoPerfoTxtTop {
    font-size: 2.5rem;
  }

  .ipoPerfoTxt .ipoPerfoTxtMid {
    font-size: 2.8rem;
  }

  .ipoPerfoTxt .ipoPerfoTxtBt {
    font-size: 1.8rem;
  }
}

@media (max-width:810px) {
  .ipoPerfoTxt {
    margin-left: -3vw;
  }
}

@media (max-width:600px) {
  .ipoPerfoTxt {
    margin-left: -6vw;
  }
}