@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.consulPage {
	background: url('./../../img/bg/consulPageBlue_bg@2x.png') no-repeat
  
}

.consulInner {
  @include Inner;

	.consultingAppForm {
		margin-top: 10rem;

		.consulPageInner {
			background-color: #fff;
			padding: 10%;
			margin: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			.consulFormTitle {
				font-size: 3.5rem;
				font-weight: bold;
				font-family: 'Montserrat';
				margin-bottom: 3.2rem;

			}
		}
	}
}

.consulPageFormArea {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pageFieldset {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10%;
  margin-bottom: 6.4rem;
  
  .pageConsulCategory {
    display: flex;
    flex-direction: column;

    .pageConsulItem {
      width: 100%;
      display: flex;
      justify-content: space-between;
  
      label {
        font-size: 1.6rem;
        line-height: 2.7;
        width: 20%;
        border-radius: 0;

      }
      
      input {
        border: none;
        border-bottom: 1px solid #000;
        width: 84%;
        font-size: 1.6rem;
        margin-left: 3rem;
        font-weight: lighter;
        border-radius: 0;

      }
    }
    .errorBox {
      font-size: 1.4rem;
      color: $sub-red;
      align-self: flex-end;
      margin: 1rem 0 0 3rem;
    }
  }
}

option {
  font-size: 1.6rem;
}

.pageConsulLongCategory {
  width: 100%;
  display: flex;
  justify-content: space-between;
	flex-direction: column;
  grid-column: span 2;

  .pageConsulLongItem {
		width: 100%;
		display: flex;
		justify-content: space-between;
    .long {
      width: 13%;
    }
    .address.long {
      width: 10%;
    }
		.website, .address {
			font-size: 1.6rem;
			line-height: 2.7;
      border-radius: 0;

		}

    .webSiteInput, .addressInput {
			width: 100%;
			border: none;
			border-bottom: 1px solid #000;
			font-size: 1.6rem;
			margin-left: 3rem;
      border-radius: 0;

		}

    .address {
      margin-right: 3rem;
    }
  }
  .errorBox {
    font-size: 1.4rem;
    color: $sub-red;
    align-self: flex-end;
    margin: 1rem 0 0 3rem;
  }
}

.pageFieldset.long {
  margin-top: 6.4rem;

  .pageConsultingCategory {
    grid-column: span 2;
    width: 100%;

    .pageConsultingItem {
    .consultingInput {
      width: 100%;
      border: 1px solid #000;
      height: 20rem;
      margin: 0;
      border-radius: 0;

    }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1453px){
  .pageFieldset .pageConsulCategory .pageConsulItem input {

    width: 30rem;
  }
  .pageConsulLongCategory .pageConsulLongItem .long {
    width: 10%;
  }
  .pageConsulLongCategory .pageConsulLongItem .address.long {
    width: 6%;
  }

}
@media (min-width: 768px) and (max-width: 1137px){
  .pageFieldset .pageConsulCategory .pageConsulItem label {
    width: 21%;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .pageFieldset .pageConsulCategory .pageConsulItem label {
    width: 21%;
  }
  .consulInner .consultingAppForm .consulPageInner {
    background-color: #fff;
    padding: 5%;
  }
}
@media all and (max-width: 767px){
  .pageFieldset {
    grid-template-columns: auto;
  }
  .pageConsulLongCategory {
    grid-column: auto;
  }
  .pageConsulLongCategory .pageConsulLongItem .long {
    width: 20%;
  }
  .pageFieldset.long .pageConsultingCategory .pageConsultingItem .consultingInput {
    width: 85%;
    font-size: 2.3rem;
  }
  .pageFieldset .pageConsulCategory .pageConsulItem label {
    font-size: 2.3rem;
    width: 27%;
  }
  .pageConsulLongCategory .pageConsulLongItem .website, .pageConsulLongCategory .pageConsulLongItem .address {
    width: 31%;
    font-size: 2.3rem;
  }
  .pageConsulLongCategory .pageConsulLongItem .address.long {
    width: 17%;
}
.pageFieldset .pageConsulCategory .pageConsulItem input {
  font-size: 2.3rem;
}
.pageFieldset .pageConsulLongCategory .pageConsulLongItem input {
  font-size: 2.3rem;
}
}