@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.consulBtnArea {
	position: relative;

	&:hover {
		.consulDimmed {
			opacity: 1;
			transition: all 0.1s linear;
		}
	}
}

.consulBtn {
  background-color: $main-color;
	width: 7rem;
	height: 7rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-radius: 50%;
	position: fixed;
	bottom: 10rem;
	right: 4rem;
	z-index: 15;

	img {
		width: 4rem;
		height: auto;
		margin: 0.3rem;
	}

}

.consulDimmed {
	width: 25rem;
	height: 7rem;
	background: url('./../../img/bg/consul_hover_box@2x.png') no-repeat;
	background-size: contain;
	position: fixed;
	bottom: 10rem;
	right: 0rem;
	opacity: 0;
	display: flex;
	align-items: center;
	z-index: 15;
	img {
		width: 4rem;
		height: auto;
		margin: 1rem 1rem 1rem 3.3rem;
	}

	p {
		color: #fff;
		font-size: 1.7rem;
		font-weight: bold;
	}
}

.consulBox {
	display: flex;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	transform: translate(-50%, -50%);
	z-index: 1000;

	.consulBg {
		background: url('./../../img/bg/consul_bg@2x.png') no-repeat;
		width: 400px;
		height: 800px;
		padding: 5.1rem 3.1rem 5.1rem 4rem;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	
		h1 {
			font-size: 3.4rem;
			color: #fff;
			line-height: 1.5;
		}
	
		.zetaLogo {
			background: url('./../../img/zetaplan_splite.png') no-repeat -6px -5px;
			background-size: 599px 280px;
			width: 209px;
			height: 47px;
			font-size: 0;
		}
	}
	.consulForm {
		width: 88.5rem;
		height: 800px;
		overflow: auto;
		padding: 5rem 3rem 5rem 5rem;
		box-sizing: border-box;
		background-color: #fff;
		
		.consulFormTop {
			display: flex;
			justify-content: space-between;

			.consulFormTitle {
				font-size: 3.5rem;
				font-weight: bold;
				font-family: 'Montserrat';
				margin-bottom: 3.2rem;
			}

			.closeButton {
				background: url('./../../img/zetaplan_splite.png') no-repeat -574px -101px;
				background-size: 599px 280px;
				width: 19px;
				height: 18px;
				font-size: 0;
			}
		}

		.consultingAppForm {
			display: flex;
			flex-direction: column;
			width: 79rem;
			margin: auto;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

}

.fieldset {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 6.4rem;
	width: 75rem;
}

.info {
	margin-bottom: 6.4rem;
}

.legend {
	margin-bottom: 3rem;
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 3rem;
}

.consultingBtn {
	background-color: $main-color;
	width: 20rem;
	height: 7rem;
	color: #fff;
	font-size: 1.8rem;
	margin: 3rem auto;
}


.formKey {
	position: relative;
	&::after {
		content: '*';
		color: $sub-red;
		position: absolute;
		top: -1rem;
    left: 5rem;
	}
}

.consulCategory {
	display: flex;
	flex-direction: column;
	
	.consulItem {
		display: flex;
		width: 35rem;
		display: flex;
		justify-content: space-between;

		label {
			font-size: 1.6rem;
			line-height: 2.7;
			width: 6rem;
			border-radius: 0;

		}
		
		input {
			border: none;
			border-bottom: 1px solid #000;
			width: 23rem;
			font-size: 1.6rem;
			margin-left: 3rem;
			border-radius: 0;

		}
	}
	
	.errorBox {
		font-size: 1.4rem;
		color: $sub-red;
		align-self: flex-end;
		margin: 1rem 0 0 3rem;
	}
}

.consulLongCategory {
	display: flex;
	flex-direction: column;
	
	.consulLongItem{
		width: 75rem;
		display: flex;
		justify-content: space-between;
		.website, .address {
			font-size: 1.6rem;
			line-height: 2.7;
			border-radius: 0;

		}

		.webSiteInput, .addressInput {
			width: 63rem;
			border: none;
			border-bottom: 1px solid #000;
			font-size: 1.6rem;
			margin-left: 3rem;
			border-radius: 0;
		}
	}
	.errorBox {
		font-size: 1.4rem;
		color: $sub-red;
		align-self: flex-end;
		margin: 1rem 0 0 3rem;
	}
}


.selectFieldset {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.selectCategory {
		.selectItem{
			display: flex;
			width: 30rem;
			display: flex;
			justify-content: space-between;
	
			.selectLabel {
				margin-right: 1rem;
				width: 16rem;
				font-size: 1.6rem;
				line-height: 2.7;
				font-family: 'Noto Sans KR';
				
	
			}
			.select {
				width: 20rem;
				border: none;
				border-bottom: 1px solid #000;
				font-size: 1.6rem;
				font-family: 'Noto Sans KR';
				background-color: #fff;
				border-radius: 0;
				-webkit-appearance:none;
        -moz-appearance:none;
        -webkit-border-radius: 0;
        appearance: none;
				background:url('./../../img/icon/thin_bottom_arrow.png') no-repeat 97% 50%/15px auto;

			}
		}
	}
}

.selectFieldset .selectCategory .selectItem {
	width: 35rem;
}

.consulFieldset {
	margin-top: 5rem;
	.consultingCategory {
		.consultingItem {
			.consultingInput {
				border: 1px solid #000;
				width: 100%;
				height: 20rem;
				margin: 0;
				font-size: 1.6rem;
			}
		}
	}
}


.consulOverlay {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 999;
}

.fileArea {
	display: flex;
	flex-direction: column;
	margin: 3rem 0;
	.fileLabel {
		font-size: 1.6rem;
		font-weight: bold;
		margin-bottom: 2rem;
	}
	#file {
		font-size: 1.6rem;
	}
}


@media (min-width: 1025px) and (max-width: 1285px){
  .consulBox .consulBg {
		width: 357px;
		height: 90vh;
  }
	.consulBox .consulForm {
		width: 80rem;
		height: 90vh;
	}
	
	.consulBox {
    width: 90%;
  }
  .consulBox .consulForm .consultingAppForm {
    width: 100%;
    margin: 0;

  }
  .consulBox .consulForm {
    width: 100%;
  }
  .fieldset {
    width: 100%;
  }
	
	.consulLongCategory {
		width: 100%;
		.consulLongItem {
			width: 100%;
		}
	}
	.consulLongCategory .consulLongItem .webSiteInput, .consulLongCategory .consulLongItem .addressInput, .webSiteInput {
    width: 83%;
	}

	.selectFieldset {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
	}

	.consulFieldset .consultingCategory .consultingItem .consultingInput {
    width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 1024px){
  .consulBox .consulBg {
    display: none;
  }

}
@media all and (max-width: 767px){
  .consulBox .consulBg {
    display: none;
  }
  .consulBox {
    width: 100%;
  }
  .consulBox .consulForm .consultingAppForm {
    width: 100%;
    margin: 0;

  }
  .consulBox .consulForm {
    width: 100%;
  }
  .fieldset {
    width: 100%;
  }
	
	.consulLongCategory {
		width: 100%;
		.consulLongItem {
			width: 100%;
		}
	}

	.consulLongCategory .consulLongItem .webSiteInput, .consulLongCategory .consulLongItem .addressInput {
		width: 85%;
	}

	.selectFieldset {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
	}
	.consulFieldset .consultingCategory .consultingItem .consultingInput {
    width: 100%;
	}

	.consulCategory .consulItem label {
		font-size: 2.3rem;
		width: 10rem;
	}
	.formKey::after {
    left: 7rem;
}

.consulLongCategory .consulLongItem .website, .consulLongCategory .consulLongItem .address{
	font-size: 2.3rem;
	width: 10rem;

}

.selectFieldset .selectCategory .selectItem .selectLabel {
	font-size: 2.3rem;

}

.legend {
	font-size: 2.5rem;
}

.selectFieldset .selectCategory .selectItem .select {
	font-size: 2.3rem;
	padding: 3%;
}

.fileArea {
	.fileLabel {
		font-size: 2.3rem;
	}
	#file {
		font-size: 2.3rem;
	}
}
.consultingBtn {
	font-size: 2.5rem;
	width: 25rem;
	height: 9rem;
}
.consulFieldset .consultingCategory .consultingItem .consultingInput {
	font-size: 2.3rem;
	width: 90%;
}
.fieldset .consulCategory .consulItem input {
  font-size: 2.3rem;
}
.fieldset .consulLongCategory .consulLongItem input {
  font-size: 2.3rem;
}

}

@media all and (max-width: 444px){
	.consulLongCategory .consulLongItem .webSiteInput, .consulLongCategory .consulLongItem .addressInput {
		width: 80%;
	}
	.consulBox .consulForm {
		padding-top: 12rem;
	}
}



