@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

$zt-ftBold:700;
$zt-OnFtSz:4rem;
$zt-grayColor:#707070;
$zt-darkBlueCol:#359aff;

@mixin ztNotoKr($zt-krWeight,$zt-krSize){
  font-family: 'Noto Sans KR';
  font-weight:$zt-krWeight;
  font-size:$zt-krSize;
}

.ztInner{
  @include Inner;
}

.ztTitle{
  @include Subtitle($sub-title, $basic-gray3);
  color:$basic-white;
  &::after{
    display: none;
  }
}

.ztHisBox .ztTitle{
  color: $basic-black;
}

.ztHisContent{
  display: flex;
  margin-top: 10rem;
  .ztHisTitle{
    flex:35%;
    margin-top:8rem;
    position: sticky;
    height: 50rem;
    left: 0;
    top:8rem; 
    .ztHisTitleOrBox{
      margin-bottom: 2rem;
      line-height: 1.4;
      .ztHisTitleOr{
        @include ztNotoKr($zt-ftBold,$sub-title);
        display: block;
      }
    }
    .ztHisTitleLi{
      @include ztNotoKr($zt-ftBold,$sub-title);
      margin-bottom: 6.5rem;
      cursor: pointer;
      color:$zt-grayColor;
      &:hover{
        color:$basic-gray3;
      }
    }
    .ztHisTitleLiOn{
      @include ztNotoKr($zt-ftBold,$zt-OnFtSz);
      color:$main-color;
      margin-bottom: 6.5rem;
      cursor: pointer;
    }

  }
  .ztHisTxtBox{
    flex:65%;
  }
}

.ztHisTxtsBoxs{
  padding-top: 3rem;
  .ztHisTxtCotain{
    .ztHisTxtsTotal{
      margin-top: 6rem;
    }
  }
}

.ztHisTxtsTitle{
  @include ztNotoKr($zt-ftBold,$sub-title);
  color:$main-color;
  border-bottom:2.5px solid $zt-grayColor;
  padding-bottom: 1.5rem;
}

.ztHisTexts{
  display: flex;
  .ztHisTxtYear{
    flex: 10%;
    margin-right: 2rem;
    @include ztNotoKr($zt-ftBold,$size-xl);
    color:$main-color;
    margin-top: 1.5rem;
    &::after{
      content: '';
      display: inline-block;
      width: 0.4rem;
      height: 0.4rem;
      border: 2px solid $main-color;
      border-radius: 50%;
      vertical-align: middle;
      margin-left: 1rem;
    }
  }
  .ztHisListsTxt{
    flex: 90%;
    margin-bottom: 5rem;
    .ztHisListTxt{
      @include ztNotoKr($zt-ftBold,$list-md);
      line-height:3;
    }
  }
}

.dark{
  .ztHisContent .ztHisTxtsTitle{
    color:$zt-darkBlueCol;
  }
  .ztHisContent .ztHisTitleLi{
    color:rgb(163, 158, 158);
    &:hover{
      color:#fff;
    }
  }
  .ztHisContent .ztHisTitle .ztHisTitleLiOn{
    color:$zt-darkBlueCol;
  }
  .ztHisTexts .ztHisTxtYear{
    color:$zt-darkBlueCol;
  }
  .ztHisTexts .ztHisTxtYear::after{
    border: 2px solid $zt-darkBlueCol;
  }
}

@mixin ztHisMedia {
  .ztHisContent{
    margin-top:6rem;
  }
  .ztHisContent .ztHisTitle{
    flex: 20%;
  }
  .ztHisContent .ztHisTitle .ztHisTitleOrBox .ztHisTitleOr{
    font-size: 2rem;
  }
  .ztHisContent .ztHisTitle .ztHisTitleLiOn{
    font-size: 2.2rem;
    margin-bottom: 3.5rem;
  }
  .ztHisContent .ztHisTitle .ztHisTitleLi{
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }
  
  .ztHisTxtsBoxs .ztHisTxtCotain .ztHisTxtsTotal{
    margin-top: 4rem;
  }
  .ztHisTexts .ztHisTxtYear{
    margin-right: 0.5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .ztHisTexts .ztHisListsTxt .ztHisListTxt{
    font-size: 1.65rem;
    line-height: 2.4;
  }
}

@media all and (min-width:1024px) and (max-width:1400px) {
  @include ztHisMedia;
  .ztHisTexts .ztHisTxtYear{
    font-size: 2rem;
    flex: 12%;
    margin-top: 0.7rem;
  }
} 

@media all and (min-width:768px) and (max-width:1023px) {
  @include ztHisMedia;
} 

@media all and (max-width:767px){
  .ztHisContent{
    display: block;
    margin-top: 6rem;
  }
  .ztHisContent .ztHisTitle{
    z-index: 999;
    background: #fff;
    height: 15rem;
    padding-top: 2rem;
    top: 0;
  }
  .ztHisContent .ztHisTitle .ztHisTitleOrBox .ztHisTitleOr{
    font-size: 2rem;
    display: inline-block;
    margin-right: 0.6rem;
  }
  .ztHisContent .ztHisTitle .ztHisTitleLiOn{
    font-size: 4rem;
  }
  .ztHisContent .ztHisTitle .ztHisTitleLi{
    display: none;
  }
  .ztHisTexts .ztHisTxtYear{
    margin-right: 0rem;
    font-size: 2rem;
    flex: 18%;
    margin-top: 1.5rem;
  }
  .ztHisTexts .ztHisListsTxt{
    flex: 88%;
  }
  .ztHisTexts .ztHisListsTxt .ztHisListTxt{
    font-size: 2.2rem;
    letter-spacing: -0.1rem;
    line-height: 2.3;
  }

  .dark{
    .ztHisContent .ztHisTitle{
    background-color: #1e1d1d;
    }
  }
} 
