@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.ztHisBox .ztTitle {
  color: #000;
}

.ztHisContent {
  display: flex;
  margin-top: 10rem;
}
.ztHisContent .ztHisTitle {
  flex: 35%;
  margin-top: 8rem;
  position: -webkit-sticky;
  position: sticky;
  height: 50rem;
  left: 0;
  top: 8rem;
}
.ztHisContent .ztHisTitle .ztHisTitleOrBox {
  margin-bottom: 2rem;
  line-height: 1.4;
}
.ztHisContent .ztHisTitle .ztHisTitleOrBox .ztHisTitleOr {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 3.2rem;
  display: block;
}
.ztHisContent .ztHisTitle .ztHisTitleLi {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 3.2rem;
  margin-bottom: 6.5rem;
  cursor: pointer;
  color: #707070;
}
.ztHisContent .ztHisTitle .ztHisTitleLi:hover {
  color: #333;
}
.ztHisContent .ztHisTitle .ztHisTitleLiOn {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 4rem;
  color: #1527a0;
  margin-bottom: 6.5rem;
  cursor: pointer;
}
.ztHisContent .ztHisTxtBox {
  flex: 65%;
}

.ztHisTxtsBoxs {
  padding-top: 3rem;
}
.ztHisTxtsBoxs .ztHisTxtCotain .ztHisTxtsTotal {
  margin-top: 6rem;
}

.ztHisTxtsTitle {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 3.2rem;
  color: #1527a0;
  border-bottom: 2.5px solid #707070;
  padding-bottom: 1.5rem;
}

.ztHisTexts {
  display: flex;
}
.ztHisTexts .ztHisTxtYear {
  flex: 10%;
  margin-right: 2rem;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 2.4rem;
  color: #1527a0;
  margin-top: 1.5rem;
}
.ztHisTexts .ztHisTxtYear::after {
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border: 2px solid #1527a0;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 1rem;
}
.ztHisTexts .ztHisListsTxt {
  flex: 90%;
  margin-bottom: 5rem;
}
.ztHisTexts .ztHisListsTxt .ztHisListTxt {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 1.92rem;
  line-height: 3;
}

@media all and (min-width: 1024px) and (max-width: 1400px) {
  .ztHisContent {
    margin-top: 6rem;
  }
  .ztHisContent .ztHisTitle {
    flex: 20%;
  }
  .ztHisContent .ztHisTitle .ztHisTitleOrBox .ztHisTitleOr {
    font-size: 2rem;
  }
  .ztHisContent .ztHisTitle .ztHisTitleLiOn {
    font-size: 2.2rem;
    margin-bottom: 3.5rem;
  }
  .ztHisContent .ztHisTitle .ztHisTitleLi {
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }
  .ztHisTxtsBoxs .ztHisTxtCotain .ztHisTxtsTotal {
    margin-top: 4rem;
  }
  .ztHisTexts .ztHisTxtYear {
    margin-right: 0.5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .ztHisTexts .ztHisListsTxt .ztHisListTxt {
    font-size: 1.65rem;
    line-height: 2.4;
  }
  .ztHisTexts .ztHisTxtYear {
    font-size: 2rem;
    flex: 12%;
    margin-top: 0.7rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .ztHisContent {
    margin-top: 6rem;
  }
  .ztHisContent .ztHisTitle {
    flex: 20%;
  }
  .ztHisContent .ztHisTitle .ztHisTitleOrBox .ztHisTitleOr {
    font-size: 2rem;
  }
  .ztHisContent .ztHisTitle .ztHisTitleLiOn {
    font-size: 2.2rem;
    margin-bottom: 3.5rem;
  }
  .ztHisContent .ztHisTitle .ztHisTitleLi {
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }
  .ztHisTxtsBoxs .ztHisTxtCotain .ztHisTxtsTotal {
    margin-top: 4rem;
  }
  .ztHisTexts .ztHisTxtYear {
    margin-right: 0.5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .ztHisTexts .ztHisListsTxt .ztHisListTxt {
    font-size: 1.65rem;
    line-height: 2.4;
  }
}
@media all and (max-width: 767px) {
  .ztHisContent {
    display: block;
    margin-top: 6rem;
  }
  .ztHisContent .ztHisTitle {
    z-index: 999;
    background: #fff;
    height: 15rem;
    padding-top: 2rem;
    top: 0;
  }
  .ztHisContent .ztHisTitle .ztHisTitleOrBox .ztHisTitleOr {
    font-size: 2rem;
    display: inline-block;
    margin-right: 0.6rem;
  }
  .ztHisContent .ztHisTitle .ztHisTitleLiOn {
    font-size: 4rem;
  }
  .ztHisContent .ztHisTitle .ztHisTitleLi {
    display: none;
  }
  .ztHisTexts .ztHisTxtYear {
    margin-right: 0rem;
    font-size: 2rem;
    flex: 18%;
    margin-top: 1.5rem;
  }
  .ztHisTexts .ztHisListsTxt {
    flex: 88%;
  }
  .ztHisTexts .ztHisListsTxt .ztHisListTxt {
    font-size: 2.2rem;
    letter-spacing: -0.1rem;
    line-height: 2.3;
  }
}/*# sourceMappingURL=zetaHistory.css.map */