@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
.ztCiContain {
  background-color: #000;
  color: #fff;
}

.ztInner {
  width: 1440px;
  margin: 0 auto;
  padding: 8rem 0;
  /*margin:8rem auto 를 위로 수정해야할듯*/
}

.ztCiBox .ztColTitle {
  color: #000;
  margin-bottom: 12.8rem;
}

.ztCiContent {
  margin-top: 16rem;
}
.ztCiContent .ztCiInfoImg {
  background: url("./../../img/zetaplan_splite.png") no-repeat -13px -10px;
  width: 417px;
  height: 93px;
  margin: 0 auto;
  text-indent: -9999px;
  font-size: 0;
}
.ztCiContent .ztCiInfoImg:hover {
  opacity: 0.7;
}
.ztCiContent .ztCiInfoTxt {
  font-weight: 700;
  margin-top: 9.5rem;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 10.5rem;
  line-height: 2;
}
.ztCiContent .ztCiInfoTxt span {
  display: block;
}

.ztCiSt .ztCiStBox {
  padding: 0 13.2rem 24.5rem 13.2rem;
}
.ztCiSt .ztCiStBox .ztCiStImg {
  display: flex;
  justify-content: space-between;
}
.ztCiSt .ztCiStBox .ztCiStImg .ztCiStImgfull .ztCiStImgfTitle {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.84rem;
  margin-bottom: 1.8rem;
}
.ztCiSt .ztCiStBox .ztCiStImg .ztCiStImgfull .ztCiStImgfLogo {
  background: url("./../../img/zeta/zeta_ciSystem_full@2x.png") no-repeat;
  background-size: contain;
  width: 55.6rem;
  height: 17.8rem;
  margin: 0 auto;
  text-indent: -9999px;
  font-size: 0;
}
.ztCiSt .ztCiStBox .ztCiStImg .ztCiStImgSim .ztCiStImgsTitle {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.84rem;
  margin-bottom: 4.5rem;
}
.ztCiSt .ztCiStBox .ztCiStImg .ztCiStImgSim .ztCiStImgLogo {
  background: url("./../../img/zeta/zeta_ciSystem_simple@2x.png") no-repeat;
  background-size: contain;
  width: 55.6rem;
  height: 13.6rem;
  margin: 0 auto;
  text-indent: -9999px;
  font-size: 0;
}
.ztCiSt .ztCiStBox .ztCiStTxt {
  margin-top: 7rem;
  padding-left: 5rem;
}
.ztCiSt .ztCiStBox .ztCiStTxt p {
  line-height: 1.6;
}
.ztCiSt .ztCiStBox .ztCiStTxt p span {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 2.08rem;
  display: block;
  color: #011933;
}

.ztColSt .ztColStBox .ztColStIn {
  padding: 0 14rem;
}
.ztColSt .ztColStBox .ztColStIn .ztColStTitle {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 4.16rem;
  display: inline-block;
}
.ztColSt .ztColStBox .ztColStIn .ztColStTxt {
  display: inline-block;
  color: #707070;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 2.4rem;
  margin-left: 2.2rem;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox {
  margin-top: 5.4rem;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColStGr {
  background: url("./../../img/zeta/zeta_gradient.png") no-repeat;
  background-size: contain;
  width: 100%;
  height: 13.6rem;
  margin: 0 auto;
  position: relative;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColStGr::before {
  content: "#1527A0";
  display: block;
  font-size: 1.44rem;
  color: #fff;
  z-index: 999;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColStGr::after {
  content: "#83151B";
  display: block;
  font-size: 1.44rem;
  color: #fff;
  z-index: 999;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColStInRed {
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColStInRed .ztColStInRImg {
  width: 9.8rem;
  height: 9.8rem;
  background: #83151B;
  text-indent: -9999px;
  font-size: 0;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColStInRed .ztColStInRTxt {
  line-height: 4.8rem;
  margin-right: 1.4rem;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColStInRed .ztColStInRTxt span {
  display: block;
  font-size: 2.08rem;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColStInRed .ztColStInRTxt .ztTxtBold {
  font-weight: 700;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColStInBlue {
  display: flex;
  margin-top: 4rem;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColStInBlue .ztColStInBImg {
  width: 9.8rem;
  height: 9.8rem;
  background: #1527A0;
  text-indent: -9999px;
  font-size: 0;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColStInBlue .ztColStInBTxt {
  line-height: 4.8rem;
  margin-left: 1.4rem;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColStInBlue .ztColStInBTxt span {
  display: block;
  font-size: 2.08rem;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColStInBlue .ztColStInBTxt .ztTxtBold {
  font-weight: 700;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztNewTitle {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.56rem;
  margin-top: 13rem;
  margin-bottom: 3rem;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztNewImg {
  width: 100%;
  height: 12rem;
  margin: 0 auto;
  position: relative;
  background-color: #461D93;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztNewImg::after {
  content: "#461D93";
  display: block;
  font-size: 1.44rem;
  color: #fff;
  z-index: 999;
  position: absolute;
  bottom: 0.8rem;
  right: 0.8rem;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztNewTxt {
  margin-top: 2.4rem;
  line-height: 1.6;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztNewTxt span {
  font-size: 2.08rem;
  display: block;
}
.ztColSt .ztColStBox .ztColStIn .ztColStInBox .ztColLastTxt {
  margin-top: 16rem;
  text-align: center;
  font-size: 2.4rem;
  color: #461D93;
  font-weight: 700;
}/*# sourceMappingURL=zetaCi.css.map */