@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.ztCsBox .ztTitle {
  color: #000;
  margin-bottom: 12rem;
}

.ztCsTitle .ztCsTitleBig {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 3.6rem;
  margin-bottom: 2.2rem;
}
.ztCsTitle .ztCsTitleSub {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 2.24rem;
  color: #707070;
}

.ztCsDataBox {
  padding-top: 18rem;
}
.ztCsDataBox .ztCsData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ztCsDataBox .ztCsData .ztCsDataTitle {
  flex: 40%;
}
.ztCsDataBox .ztCsData .ztCsDataTitle .ztCsDataNum {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 2.24rem;
}
.ztCsDataBox .ztCsData .ztCsDataTitle .ztCsDataNum::after {
  content: "";
  display: inline-block;
  width: 9.4rem;
  height: 0.5rem;
  background: #461d93;
  vertical-align: middle;
  margin-left: 2rem;
}
.ztCsDataBox .ztCsData .ztCsDataTitle .ztCsDataSub {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 2.8rem;
  margin-top: 2rem;
  margin-bottom: 17rem;
  text-indent: 4.5rem;
}
.ztCsDataBox .ztCsData .ztCsDataCont {
  flex: 60%;
}
.ztCsDataBox .ztCsData .ztCsDataCont ul {
  line-height: 2.3;
}
.ztCsDataBox .ztCsData .ztCsDataCont ul li {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 2.08rem;
}
.ztCsDataBox .ztCsData .ztCsDataCont ul li span {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 2.08rem;
  display: block;
  padding-left: 2.5rem;
}

@media all and (min-width: 401px) and (max-width: 800px) {
  .ztCsDataBox .ztCsData .ztCsDataTitle {
    flex: 100%;
  }
  .ztCsDataBox .ztCsData .ztCsDataTitle .ztCsDataSub {
    margin-bottom: 4rem;
    margin-top: 1rem;
  }
  .ztCsDataBox .ztCsData .ztCsDataCont {
    flex: 100%;
    margin-bottom: 10rem;
  }
  .ztCsTitle .ztCsTitleSub {
    line-height: 1.4;
    word-break: keep-all;
  }
}
@media all and (min-width: 381px) and (max-width: 400px) {
  .ztCsDataBox .ztCsData .ztCsDataTitle {
    flex: 100%;
  }
  .ztCsDataBox .ztCsData .ztCsDataTitle .ztCsDataSub {
    margin-bottom: 4rem;
    margin-top: 1rem;
  }
  .ztCsDataBox .ztCsData .ztCsDataCont {
    flex: 100%;
    margin-bottom: 10rem;
  }
  .ztCsTitle .ztCsTitleSub {
    line-height: 1.4;
    word-break: keep-all;
  }
  .ztCsDataBox .ztCsData .ztCsDataCont ul li span {
    padding-left: 0.7rem;
    display: inline;
  }
}
@media all and (max-width: 380px) {
  .ztCsDataBox .ztCsData .ztCsDataTitle {
    flex: 100%;
  }
  .ztCsDataBox .ztCsData .ztCsDataTitle .ztCsDataSub {
    margin-bottom: 4rem;
    margin-top: 1rem;
  }
  .ztCsDataBox .ztCsData .ztCsDataCont {
    flex: 100%;
    margin-bottom: 10rem;
  }
  .ztCsTitle .ztCsTitleSub {
    line-height: 1.4;
    word-break: keep-all;
  }
  .ztCsTitle .ztCsTitleBig {
    word-break: keep-all;
  }
  .ztCsDataBox .ztCsData .ztCsDataCont ul li span {
    padding-left: 0.7rem;
    display: inline;
  }
}/*# sourceMappingURL=zetaConsul.css.map */