@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.inner {
  @include Inner
}

.zetaPeoSubtitle {
  @include Subtitle($sub-title, $basic-gray3)
}

.zetaPeoList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 8.5rem 0;
}

.zetaPeoBox {
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
}

.zetaPeoImgBOX img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.zetaDimmed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 74%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6% 4% 6% 4%;
  box-sizing: border-box;
  .zetaPeoName {
    font-size: $size-xl;
    margin-bottom: 1.5rem;
  }

  .zetaPeoPos {
    font-size: $size-sm;
    color: $main-color;
    font-weight: bold;
    margin-bottom: 3rem;
    // margin-top: 5rem;

  }

  .zetaPeoDetail {
    font-size: 1.3rem;
    line-height: 1.7;
  }

  .zetaPeoHPos {
    font-size: $size-xs;
    margin-bottom: 1rem;
    font-weight: bold;
  }


}

.zetaPeoDes {
  align-self: flex-end;
}

.zetaPeoBox:hover {
  .zetaDimmed {
    background-color: rgba($color: $main-color, $alpha: 0.8);
    color: #fff;
    top: 0;
    left: 0;
    .zetaPeoPos {
      font-size: $size-sm;
      color: #fff;
    }
  }
}



@media (min-width: 768px) and (max-width: 1280px){
  .zetaPeoList {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
@media all and (max-width: 767px){
  .zetaPeoList {
    grid-template-columns: 1fr 1fr;
  }

.zetaDimmed {
    top: 79%;

}

}
@media all and (max-width: 428px) {
  .zetaPeoList {
    grid-template-columns: 1fr;
  }
  .zetaPeoList {
    place-items: center;
  }
  .zetaPeoBox {
    overflow: visible;
  }
  .zetaDimmed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5rem 2rem 2rem 2rem;
    box-sizing: border-box;
}
.zetaPeoBox {
  pointer-events: none;
  }
  .zetaDimmed .zetaPeoDetail {
    font-size: 1.7rem;
}
.zetaDimmed .zetaPeoName {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}
.zetaDimmed .zetaPeoHPos {
  font-size: 2.3rem;
  margin-bottom: 2rem;

}
.zetaDimmed .zetaPeoPos {
  font-size: 2rem;

}
}
