@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.ztTitle {
  font-size: 3.2rem;
  font-weight: 900;
  padding-left: 3rem;
  position: relative;
  color: #fff;
}
.ztTitle::before {
  content: "";
  display: block;
  background: url("./../../img/title_box@2x.png") no-repeat;
  background-size: contain;
  width: 1rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}
.ztTitle::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #333;
  position: absolute;
  top: 6rem;
  left: 0;
}
.ztTitle::after {
  display: none;
}

.ztInfoBox {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 1.92rem;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}
.ztInfoBox .ztInner {
  width: 85vw;
  padding: 8rem 0;
  margin: 0 auto;
}

.ztIntro {
  background: url("./../../img/zeta/zt_bg.jpg") no-repeat top;
  background-size: cover;
  font-weight: 700;
  margin-bottom: -3px;
}
.ztIntro .ztTitle:after {
  display: none;
}
.ztIntro .ztInfoText {
  text-align: center;
  margin-top: 9.5rem;
  line-height: 2;
}
.ztIntro .ztInfoText .ztTextTitle {
  color: #fff;
}
.ztIntro .ztInfoText .ztTextTitle span {
  font-size: 3.84rem;
}
.ztIntro .ztInfoText .ztTextWh {
  font-size: 2.08rem;
  color: #fff;
  margin: 7.5rem 0;
}
.ztIntro .ztInfoText .ztTextGr {
  font-size: 2.08rem;
  color: rgba(206, 199, 199, 0.831372549);
}

.ztMessage {
  padding-top: 25rem;
  background-color: #000;
  color: #fff;
  line-height: 1.4;
}
.ztMessage .ztMessageInner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 112rem;
}
.ztMessage .ztMessageInner .ztMessageBox {
  position: relative;
  margin-top: 12rem;
}
.ztMessage .ztMessageInner .ztMessageBox .ztCircle {
  width: 30rem;
  position: absolute;
  left: -18rem;
  top: -15rem;
}
.ztMessage .ztMessageInner .ztMessageBox .ztCeoTexts {
  font-family: "NotoSansKR";
  font-weight: 500;
  width: 63.5rem;
  position: absolute;
  z-index: 1;
}
.ztMessage .ztMessageInner .ztMessageBox .ztCeoTexts h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.84rem;
}
.ztMessage .ztMessageInner .ztMessageBox .ztCeoTexts .ztCeoText {
  font-size: 1.92rem;
  margin: 6rem 0 3.4rem 0;
  line-height: 1.7;
}
.ztMessage .ztMessageInner .ztMessageBox .ztCeoTexts .ztCeoName {
  font-size: 2.08rem;
  font-weight: 700;
}
.ztMessage .ztMessageInner .ztCeoImg img {
  width: 50rem;
}

.ztRedTabBox .ztRedTabInner {
  width: 85vw;
  padding: 8rem 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ztRedTabBox .ztRedTabInner .ztRedTab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 40%;
  font-weight: 700;
}
.ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock {
  flex: 40%;
}
.ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock .ztRedTabFirst {
  color: #707070;
  font-size: 2.24rem;
  margin-bottom: 6.3rem;
  margin-left: 10rem;
  cursor: pointer;
}
.ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock .ztRedTabFirst.active {
  color: #94151C;
  margin-left: 0rem;
}
.ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock .ztRedTabFirst.active::before {
  content: "";
  display: inline-block;
  background: #94151C;
  width: 8rem;
  height: 0.25rem;
  vertical-align: middle;
  margin-right: 2rem;
}
.ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock .ztRedTabFirst:hover {
  color: #94151C;
}
.ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock .ztRedTabTwo {
  color: #707070;
  font-size: 2.24rem;
  margin-left: 10rem;
  cursor: pointer;
}
.ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock .ztRedTabTwo.active {
  color: #94151C;
  margin-left: 0rem;
}
.ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock .ztRedTabTwo.active::before {
  content: "";
  display: inline-block;
  background: #94151C;
  width: 8rem;
  height: 0.25rem;
  vertical-align: middle;
  margin-right: 2rem;
}
.ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock .ztRedTabTwo:hover {
  color: #94151C;
}
.ztRedTabBox .ztRedTabInner .ztRedTabTitle {
  flex: 60%;
}
.ztRedTabBox .ztRedTabInner .ztRedTabTitle .ztRedTabTitleTop {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 4.8rem;
  position: relative;
}
.ztRedTabBox .ztRedTabInner .ztRedTabTitle .ztRedTabTitleTop::before {
  content: "";
  display: block;
  background: #94151C;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  position: absolute;
  left: 1.5rem;
  top: -0.7rem;
}
.ztRedTabBox .ztRedTabInner .ztRedTabTitle .ztRedTabTitleTxt {
  font-weight: 700;
  font-size: 2.24rem;
  color: #707070;
  margin-top: 2rem;
}
.ztRedTabBox .ztRedTabInner .ztRedTabContent {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 70rem;
}
.ztRedTabBox .ztRedTabInner .ztRedTabContent .ztRedTabList {
  flex: 50%;
  padding-left: 3rem;
  margin-bottom: 6rem;
}
.ztRedTabBox .ztRedTabInner .ztRedTabContent .ztRedTabList .ztRedTabListTitle {
  font-size: 3.2rem;
  font-weight: 700;
  position: relative;
}
.ztRedTabBox .ztRedTabInner .ztRedTabContent .ztRedTabList .ztRedTabListTitle::after {
  content: "";
  display: block;
  background: #94151C;
  width: 7.4rem;
  height: 0.4rem;
  position: absolute;
  bottom: 1px;
  z-index: -1;
}
.ztRedTabBox .ztRedTabInner .ztRedTabContent .ztRedTabList .ztRedTabContentTitle {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 4rem 0 2rem;
}
.ztRedTabBox .ztRedTabInner .ztRedTabContent .ztRedTabList .ztRedTabContentTxt {
  font-size: 1.44rem;
  font-weight: 500;
  line-height: 3.5rem;
}

.ztFixed {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 8rem;
  height: 20rem;
}

@media all and (min-width: 1024px) and (max-width: 1380px) {
  .ztMessage {
    padding-top: 0;
  }
  .ztMessage .ztMessageInner {
    width: 85vw;
    padding: 8rem 0 0 0;
  }
  .ztMessage .ztMessageInner .ztMessageBox .ztCircle {
    width: 14rem;
    top: -4rem;
    left: -3rem;
  }
  .ztMessage .ztMessageInner .ztMessageBox .ztCeoTexts {
    width: 45vw;
    padding-top: 3rem;
  }
  .ztMessage .ztMessageInner .ztMessageBox .ztCeoTexts .ztCeoText {
    margin: 3rem 0 3.4rem 0;
  }
  .ztMessage .ztMessageInner .ztCeoImg {
    padding-top: 2rem;
  }
  .ztMessage .ztMessageInner .ztCeoImg img {
    width: 35vw;
  }
  .ztRedTabBox .ztRedTabInner .ztRedTabContent {
    display: block;
    flex-basis: 33%;
    padding-left: 0;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .ztMessage {
    padding-top: 0;
  }
  .ztMessage .ztMessageInner {
    width: 85vw;
    padding: 8rem 0 0 0;
  }
  .ztMessage .ztMessageInner .ztMessageBox .ztCircle {
    width: 14rem;
    top: -4rem;
    left: -3rem;
  }
  .ztMessage .ztMessageInner .ztMessageBox .ztCeoTexts {
    width: 45vw;
    padding-top: 3rem;
  }
  .ztMessage .ztMessageInner .ztMessageBox .ztCeoTexts .ztCeoText {
    margin: 3rem 0 3.4rem 0;
  }
  .ztMessage .ztMessageInner .ztCeoImg {
    padding-top: 2rem;
  }
  .ztMessage .ztMessageInner .ztCeoImg img {
    width: 35vw;
  }
  .ztMessage .ztMessageInner {
    padding: 10rem 0 0 0;
  }
  .ztMessage .ztMessageInner .ztMessageBox {
    margin-top: 0;
  }
  .ztRedTabBox .ztRedTabInner .ztRedTabContent {
    display: block;
    flex-basis: 35%;
    padding-left: 0;
  }
}
@media all and (max-width: 767px) {
  .ztMessage {
    padding-top: 0;
  }
  .ztMessage .ztMessageInner {
    width: 85vw;
    padding: 8rem 0 0 0;
  }
  .ztMessage .ztMessageInner .ztMessageBox .ztCircle {
    width: 14rem;
    top: -4rem;
    left: -3rem;
  }
  .ztMessage .ztMessageInner .ztMessageBox .ztCeoTexts {
    width: 45vw;
    padding-top: 3rem;
  }
  .ztMessage .ztMessageInner .ztMessageBox .ztCeoTexts .ztCeoText {
    margin: 3rem 0 3.4rem 0;
  }
  .ztMessage .ztMessageInner .ztCeoImg {
    padding-top: 2rem;
  }
  .ztMessage .ztMessageInner .ztCeoImg img {
    width: 35vw;
  }
  .ztMessage .ztMessageInner {
    height: 65rem;
  }
  .ztMessage .ztMessageInner .ztMessageBox {
    margin-top: 0;
  }
  .ztMessage .ztMessageInner .ztMessageBox .ztCeoTexts {
    width: 86vw;
  }
  .ztMessage .ztMessageInner .ztMessageBox .ztCeoTexts .ztCeoText {
    margin: 8rem 0 3.4rem 0;
  }
  .ztMessage .ztMessageInner .ztCeoImg {
    display: none;
  }
  .ztIntro .ztInfoText .ztTextTitle span {
    display: block;
    line-height: 1.5;
  }
  .ztRedTabBox .ztRedTabInner {
    display: flex;
  }
  .ztRedTabBox .ztRedTabInner .ztRedTabContent {
    display: block;
    flex: 60%;
    padding-left: 0;
  }
  .ztRedTabBox .ztRedTabInner .ztRedTab {
    flex: 40%;
  }
  .ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock {
    flex: 100%;
  }
  .ztRedTabBox .ztRedTabInner .ztRedTabTitle {
    flex: 100%;
    margin-top: 8rem;
  }
  .ztRedTabBox .ztRedTabInner .ztRedTabTitle .ztRedTabTitleTxt {
    font-size: 1.5rem;
  }
}
.ztNetWorkBox .ztNtInner {
  width: 85vw;
  padding: 8rem 0;
  margin: 0 auto;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.ztNetWorkBox .ztTitle {
  font-size: 3.2rem;
  font-weight: 900;
  padding-left: 3rem;
  position: relative;
  color: #000;
}
.ztNetWorkBox .ztTitle::before {
  content: "";
  display: block;
  background: url("./../../img/title_box@2x.png") no-repeat;
  background-size: contain;
  width: 1rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}
.ztNetWorkBox .ztTitle::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #333;
  position: absolute;
  top: 6rem;
  left: 0;
}
.ztNetWorkBox .ztTitle::after {
  display: none;
}

.ztNetWorkBox .ztRedTabBox .ztRedTabInner {
  width: 100%;
  margin: 0;
  padding: 12.3rem 0;
}

.ztNetWorkBox .ztRedTabTwo {
  margin-bottom: 6.3rem;
}

.ztNetWorkBox .ztRedTabBlock p {
  color: #707070;
  font-size: 2.24rem;
  margin-left: 10rem;
  cursor: pointer;
}
.ztNetWorkBox .ztRedTabBlock p.active {
  color: #94151C;
  margin-left: 0rem;
}
.ztNetWorkBox .ztRedTabBlock p.active::before {
  content: "";
  display: inline-block;
  background: #94151C;
  width: 8rem;
  height: 0.25rem;
  vertical-align: middle;
  margin-right: 2rem;
}
.ztNetWorkBox .ztRedTabBlock p:hover {
  color: #94151C;
}

.ztNetWorkBox .ztNetWorkImgBig:hover {
  opacity: 0.7;
}

@media all and (min-width: 1024px) and (max-width: 1590px) {
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTab {
    flex: 50%;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock p {
    margin-left: 6rem;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock p.active {
    margin-left: 0;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock p.active::before {
    margin-right: 2rem;
    width: 4rem;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTabTitle {
    flex: 44%;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTabTitle .ztRedTabTitleTxt {
    font-size: 1.8rem;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTabContent {
    flex: 50%;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTabContent .ztRedTabList {
    padding-left: 0;
  }
}
@media all and (max-width: 1023px) {
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTab {
    flex: 100%;
    position: relative;
    top: 0;
    height: auto;
    margin-bottom: 3rem;
    display: block;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock {
    flex: 100%;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock p {
    background: #707070;
    margin-left: 0;
    text-align: center;
    padding: 3rem 0;
    color: #fff;
    margin-bottom: 1rem;
    border-radius: 8px;
    font-size: 2.8rem;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock p.active {
    background: #83151b;
    color: #fff;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTabTitle {
    flex: 100%;
    margin-top: 8rem;
    height: auto;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTabContent {
    flex: 100%;
    border: 3px solid rgba(159, 154, 154, 0.2196078431);
    box-shadow: 3px 3px 2px #f9f8f8;
    border-radius: 8px;
    padding: 6rem 0;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTabContent .ztRedTabList {
    margin-bottom: 0;
    padding-left: 0;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock p.active::before {
    display: none;
  }
  .ztNetWorkBox .ztRedTabBox .ztRedTabInner .ztRedTab .ztRedTabBlock p:hover {
    color: #000;
  }
}/*# sourceMappingURL=zetaNetwork.css.map */