@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* header 전체 */
/* 서브 페이지에 헤더 배경 하얀색, 기본틀
header.hdSubStyle {
  color: red;
} 
*/
header {
  width: 100%;
  height: 14.1rem;
  position: relative;
  z-index: 10000000;
}
header:hover > .hd {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
}
header:hover > .hd .hdLogo {
  background: url("../../img/zetaplan_splite.png") no-repeat -240px -8px;
  background-size: 599px 280px;
  width: 209px;
  height: 46px;
}
header:hover .hdUtil .hdSearchBtn {
  background: url("../../img/zetaplan_splite.png") no-repeat -419px -151px;
  background-size: 599px 280px;
  width: 18px;
  height: 18px;
}
header:hover .hdUtil .hdSitemapBtn {
  background: url("../../img/zetaplan_splite.png") no-repeat -487px -153px;
  background-size: 599px 280px;
  width: 21px;
  height: 13px;
}
header .hd {
  width: 100%;
  height: 14.1rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
header .hd .hdLogo {
  display: block;
  margin-top: 4.1rem;
  margin-left: 7.8rem;
  font-size: 0;
  background: url("../../img/zetaplan_splite.png") no-repeat -6px -5px;
  background-size: 599px 280px;
  width: 209px;
  height: 47px;
}

/* gnb */
.hdGnbArea {
  display: flex;
  justify-content: space-between;
}
.hdGnbArea .hdDep1:hover > .hdDep2 {
  visibility: visible;
  height: 25rem;
  transition: 1s;
}
.hdGnbArea .hdDep1:hover > .hdSub {
  color: #1527a0;
}
.hdGnbArea .hdDep1 .hdSub {
  font-size: 2.3rem;
  font-family: "Montserrat";
  font-weight: 600;
  display: block;
  width: 15.5rem;
  height: 14.1rem;
  line-height: 14.1rem;
  text-align: center;
}
.hdGnbArea .hdDep1 .hdDep2 {
  position: absolute;
  top: 14.1rem;
  left: 0;
  background-color: #f9f9f9;
  color: #000;
  width: 100vw;
  height: 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #e0e0e0;
  visibility: hidden;
  overflow: hidden;
}
.hdGnbArea .hdDep1 .hdDep2 > li {
  padding: 2.5rem;
  min-width: 14rem;
}
.hdGnbArea .hdDep1 .hdDep2 > li:hover {
  background-color: rgba(21, 39, 160, 0.13);
}
.hdGnbArea .hdDep1 .hdDep2 > li:hover > a {
  color: #1527a0;
}
.hdGnbArea .hdDep1 .hdDep2 > li > a {
  display: block;
  font-size: 2rem;
  font-family: "Noto Sans KR";
  font-weight: 700;
}
.hdGnbArea .hdDep1 .hdDep2 > li .hdDep3 li {
  margin-top: 2rem;
}
.hdGnbArea .hdDep1 .hdDep2 > li .hdDep3 li:hover > a {
  color: #1527a0;
}
.hdGnbArea .hdDep1 .hdDep2 > li .hdDep3 li a {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 1.7rem;
}

/* util */
.hdUtil {
  width: 15rem;
  height: 14.1rem;
  padding-top: 5.7rem;
  display: flex;
  justify-content: space-between;
  margin-right: 7.8rem;
}
.hdUtil .hdLang > a {
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: 600;
  display: block;
  height: 3rem;
}
.hdUtil .hdLang:hover > .hdLangLi {
  display: block;
}
.hdUtil .hdLang .hdLangLi {
  display: none;
}
.hdUtil .hdLang .hdLangLi a {
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: 600;
  display: block;
  padding-bottom: 1rem;
}
.hdUtil .hdSearchBtn {
  background: url("../../img/zetaplan_splite.png") no-repeat -403px -114px;
  background-size: 599px 280px;
  width: 18px;
  height: 18px;
  font-size: 0;
  margin-top: 0.1rem;
}
.hdUtil .hdSitemapBtn {
  background: url("../../img/zetaplan_splite.png") no-repeat -471px -117px;
  background-size: 599px 280px;
  width: 21px;
  height: 13px;
  font-size: 0;
  margin-top: 0.2rem;
}

/* search 창 */
.hdSearch {
  position: absolute;
  top: 12rem;
  left: 0;
  width: 100%;
  height: 400rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid #e0e0e0;
}
.hdSearch .hdSearchWrap {
  width: 100%;
  height: 45.6rem;
  background-color: #f0f0f0;
}
.hdSearch .hdSearchWrap .hdSearchContent {
  width: 90rem;
  margin: auto;
  padding-top: 12rem;
}
.hdSearch .hdSearchWrap .hdSearchContent .hdSearchInput {
  position: relative;
}
.hdSearch .hdSearchWrap .hdSearchContent .hdSearchInput input {
  width: 100%;
  height: 7rem;
  border-radius: 5rem;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  padding: 4rem;
  font-size: 2.3rem;
  font-family: "Noto Sans KR";
  font-weight: 700;
  color: #707070;
}
.hdSearch .hdSearchWrap .hdSearchContent .hdSearchInput button {
  background: url("../../img/zetaplan_splite.png") no-repeat -522px -98px;
  background-size: 599px 280px;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  font-size: 0;
}
.hdSearch .hdSearchWrap .hdSearchContent .hdButtonsArea p {
  font-size: 1.6rem;
  color: #707070;
  font-family: "Noto Sans KR";
  font-weight: 500;
  margin-top: 5.7rem;
}
.hdSearch .hdSearchWrap .hdSearchContent .hdButtonsArea .hdButtons {
  display: flex;
  margin-top: 2.5rem;
}
.hdSearch .hdSearchWrap .hdSearchContent .hdButtonsArea .hdButtons button {
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  padding: 1.5rem 2.2rem;
  margin-right: 2rem;
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 1.8rem;
  background-color: #fff;
}

/* sitemap */
.hdModal {
  position: fixed;
  top: 0;
  left: 100vw;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  visibility: hidden;
}

.hdModal.hdOpenModal {
  visibility: visible;
  left: 0;
  transition: 1s;
}

.hdSitemap {
  display: flex;
  width: 100%;
  height: 100%;
}
.hdSitemap .hdSmLeft {
  background: url(../../img/bg/consul_bg@2x.png) no-repeat center/cover;
  width: 35%;
}
.hdSitemap .hdSmLeft h2 {
  margin-top: 6rem;
  margin-left: 6rem;
  background: url("../../img/zetaplan_splite.png") no-repeat -6px -5px;
  background-size: 599px 280px;
  width: 209px;
  height: 47px;
  font-size: 0;
}
.hdSitemap .hdSmLeft p {
  margin-left: 6rem;
  color: #fff;
}
.hdSitemap .hdSmLeft p:nth-child(2) {
  font-size: 5rem;
  font-family: "Noto Sans KR";
  font-weight: 900;
  line-height: 7.4rem;
  margin-top: 12.5rem;
}
.hdSitemap .hdSmLeft p:nth-child(3) {
  font-size: 3rem;
  font-family: "Noto Sans KR";
  font-weight: 400;
  line-height: 6rem;
  margin-top: 26.1rem;
}
.hdSitemap .hdSmRight {
  width: 65%;
  height: 100%;
  color: #000;
}
.hdSitemap .hdSmRight .hdSmArea {
  margin-left: 19.1rem;
  margin-top: 13.4rem;
}
.hdSitemap .hdSmRight .hdSmArea .hdSmList {
  display: flex;
  margin-bottom: 6rem;
  position: relative;
}
.hdSitemap .hdSmRight .hdSmArea .hdSmList > a {
  width: 25rem;
  font-family: "Montserrat";
  font-weight: 700;
}
.hdSitemap .hdSmRight .hdSmArea .hdSmList > a span {
  position: relative;
  font-size: 3rem;
  width: 20rem;
  font-family: "Montserrat";
  font-weight: 700;
}
.hdSitemap .hdSmRight .hdSmArea .hdSmList > a span::after {
  content: "";
  height: 1rem;
  width: 0;
  background-color: rgba(21, 39, 158, 0.502);
  position: absolute;
  top: 2.2rem;
  left: 0;
}
.hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 {
  display: flex;
}
.hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 .hdSmMargin {
  margin-left: 3.5rem;
}
.hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 .hdMargin2 {
  margin-left: -5rem;
}
.hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 li {
  margin-right: 2.5rem;
  line-height: 2.9rem;
}
.hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 li:hover > a {
  color: #1527a0;
}
.hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 li > a {
  font-size: 2.1rem;
  font-family: "Noto Sans KR";
  font-weight: 700;
}
.hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 li .hdSmList3 li a {
  font-size: 2rem;
  font-family: "Noto Sans KR";
  font-weight: 400;
  line-height: 4rem;
}
.hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 li .hdSmList3 li:hover > a {
  color: #1527a0;
}
.hdSitemap .hdSmRight .hdSmArea .hdSmList:hover > a > span::after {
  width: 100%;
  transition: 0.4s;
}
.hdSitemap .hdSmRight button {
  position: absolute;
  top: 8.8rem;
  right: 8.7rem;
  background: url("../../img/zetaplan_splite.png") no-repeat -574px -101px;
  background-size: 599px 280px;
  width: 19px;
  height: 18px;
  font-size: 0;
}/*# sourceMappingURL=Header.css.map */