@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');

@import '../GlobalStyle.scss';

$header-height: 12.1rem;


/* header 전체 */


header.hdMain {
  width: 100vw;
  height: $header-height;
  position: absolute;
  z-index: 1000;
  transition: 0.5s;

  .hd {
    width: 100%;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    color: $basic-white;

    .hdLogo {
      display: block;
      margin-top: 4rem;
      margin-left: 4.063vw;
      font-size: 0;
      background: url('../../img/icon/zetaplan_logo_w@2x.png') no-repeat center / cover;
      width: 20.9rem;
      height: 5.5rem;
    }
  }


  /* header hover */
  &:hover>.hd {
    background-color: $basic-white;
    color: $basic-black;
    transition: 0.5s;

    .hdLogo {
      background: url(../../img/icon/zetaplan_logo@2x.png) no-repeat center / cover;
    }

    .hdUtil{
      .hdLang {
        color: $basic-black;

        svg{
          fill: $basic-black;
        }

        .hdLangLi {
          background-color: $basic-white;
          li{
            color: $basic-black;
          }
        }
        
      }
  
      .hdSearchBtn {
        background: url('../../img/icon/search_black@2x.png') no-repeat center / cover;
        width: 1.302vw;
    height: 1.302vw;
      }
  
      .hdSitemapBtn {
        background: url('../../img/icon/menu_black@2x.png') no-repeat center / cover;
        width: 1.302vw;
        height: 0.990vw;
      }
    } 
  }
}

header.hdMain.on{
  background-color: $basic-white;

  .hdLogo {
    background: url('../../img/icon/zetaplan_logo@2x.png') no-repeat center / cover;
    width: 20.9rem;
    height: 5.5rem;
  }

  .hdGnbArea {
    color: $basic-black;
  }

  .hdUtil {
    .hdLang {
      svg{
        fill: $basic-black;
      }
      color: $basic-black;
    }

    .hdSearchBtn {
      background: url('../../img/icon/search_black@2x.png') no-repeat center / cover;
      width: 1.302vw;
    height: 1.302vw;
    }

    .hdSitemapBtn {
      background: url('../../img/icon/menu_black@2x.png') no-repeat center / cover;
      width: 1.302vw;
      height: 0.990vw;
    }
  }
}

/* 서브 페이지 header 스타일링 */
header.hdSub {
  position: relative;
  background-color: $basic-white;

  .hd .hdLogo {
    background: url('../../img/icon/zetaplan_logo@2x.png') no-repeat center / cover;
    width: 20.9rem;
    height: 5.5rem;
  }

  .hdGnbArea {
    color: $basic-black;
  }

  .hdUtil {
    .hdLang {
      svg{
        fill: $basic-black;
      }
      color: $basic-black;
    }

    .hdSearchBtn {
      background: url('../../img/icon/search_black@2x.png') no-repeat center / cover;
      width: 1.302vw;
    height: 1.302vw;
    }

    .hdSitemapBtn {
      background: url('../../img/icon/menu_black@2x.png') no-repeat center / cover;
      width: 1.302vw;
      height: 0.990vw;
    }
  }
}


/* gnb */
.hdGnbArea {
  display: flex;
  justify-content: space-between;

  .hdDep1 {
    &:hover>.hdDep2 {
      visibility: visible;
      height: 23rem;
      transition: 1s;
    }

    &:hover>.hdSub {
      color: $main-color;
    }

    .hdSub {
      font-size: 2.2rem;
      font-family: 'Montserrat';
      font-weight: 600;
      display: block;
      width: 8.333vw;
      height: $header-height;
      line-height: $header-height;
      text-align: center;
    }

    .hdDep2 {
      position: absolute;
      top: $header-height;
      left: 0;
      background-color: #f9f9f9;
      color: $basic-black;
      width: 100vw;
      height: 0;
      display: flex;
      justify-content: center;
      border-top: 1px solid $basic-gray2;
      visibility: hidden;
      overflow: hidden;

      >li {
        padding: 1.302vw;
        min-width: 7.292vw;

        &:hover {
          background-color: rgba(21, 39, 160, 0.13);
        }

        &:hover>a {
          color: $main-color;
        }

        >a {
          display: block;
          font-size: 1.9rem;
          font-family: 'Noto Sans KR';
          font-weight: 700;
        }

        .hdDep3 {
          li {
            margin-top: 1.042vw;

            &:hover>a {
              color: $main-color;
            }

            a {
              font-family: 'Noto Sans KR';
              font-weight: 400;
              font-size: 1.7rem;

            }
          }
        }
      }
    }
  }
}




/* util */
.hdUtil {
  width: 9.375vw;
  height: $header-height;
  padding-top: 4.8rem;
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;

  .hdLang {
    width: 2.2vw;
    
    svg{
      width: 2vw;
      height: 2vw;
      fill: $basic-white;
      cursor: pointer;
    }

    .hdLangLi {
      z-index: 100;
      position: relative;
      top: 0;
      left: -1rem;
      width: 3.5vw;
      margin-top: 0.5rem;
      padding-bottom: 0.5rem;

      li{
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.5rem;
        color: $basic-white;
      }
    }
    
  }

  .hdSearchBtn {
    background: url('../../img/icon/search@2x.png') no-repeat center / cover;
    width: 1.302vw;
    height: 1.302vw;
    font-size: 0;
    margin-top: 0.5rem;
  }
  
  .hdSearchBtnX {
    background: url(../../img/icon/close_btn@2x.png) no-repeat center / cover;
    width: 1.302vw;
    height: 1.302vw;
    margin-top: 0.5rem;
  }

  .hdSitemapBtn {
    background: url('../../img/icon/menu@2x.png') no-repeat center / cover;
    width: 1.302vw;
    height: 0.990vw;
    font-size: 0;
    margin-top: 0.5rem;
    margin-left: 0.521vw;
  }
}




/* search 창 */

.hdSearch {
  position: fixed;
  top: $header-height;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid $basic-gray2;


  .hdSearchWrap {
    width: 100%;
    height: 45rem;
    background-color: $basic-gray1;

    .hdSearchContent {
      width: 40%;
      margin: auto;
      padding-top: 10rem;

      .hdSearchInput {
        position: relative;

        input {
          width: 100%;
          border-radius: 5rem;
          border: 1px solid $basic-gray2;
          background-color: $basic-white;
          padding: 1.5vw;
          font-size: 1.8rem;
          font-weight: 700;
          color: #707070;
          outline: none;
        }

        button {
          background: url('../../img/icon/search_b@2x.png') no-repeat center / cover;
          width: 3rem;
          height: 3rem;
          position: absolute;
          top: 1.5vw;
          right: 2.5rem;
          font-size: 0;
        }
      }

      .hdButtonsArea {
        p {
          font-size: 1.5rem;
          color: #707070;
          font-family: 'Noto Sans KR';
          font-weight: 500;
          margin-top: 2.969vw;
        }

        .hdButtons {
          display: flex;
          margin-top: 1.302vw;

          button {
            border: 1px solid $basic-gray2;
            border-radius: 1rem;
            width: 10rem;
            height: 5rem;
            margin-right: 1.042vw;
            font-weight: 400;
            font-size: 2.3rem;
            background-color: $basic-white;
          }
        }
      }
    }
  }
}

.hdSerarchClose {
  font-size: 5rem;
  position: absolute;
  top: 2.083vw;
  right: 6.250vw;
}




/* sitemap */

.hdSmModal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 100vw;
  background-color: $basic-white;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
}

.hdSmModal.hdSmOpenModal {
  visibility: visible;
  left: 0;
  transition: 1s;
}

.hdSitemap {
  display: flex;
  width: 100vw;
  height: 100%;

  .hdSmLeft {
    background: url(../../img/bg/consul_bg@2x.png) no-repeat center / cover;
    position: fixed;
    width: 55rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7rem;

    .hdSmLeftTop {
      background: url('../../img/icon/zetaplan_logo_w@2x.png') no-repeat center / cover;
      width: 20.9rem;
      height: 5.5rem;
      font-size: 0;
    }

    .hdSmLeftMid {
      color: $basic-white;
      font-size: 4.5rem;
      font-family: 'Noto Sans KR';
      font-weight: 900;
      line-height: 7rem;
    }

    .hdSmLeftBt {
      color: $basic-white;
      font-size: 28px;
      font-family: 'Noto Sans KR';
      font-weight: 400;
      line-height: 5rem;
    }
  }

  .hdSmRight {
    width: 100%;
    height: 100%;
    position: relative;
    left: 55rem;
    color: $basic-black;
    overflow-x: hidden;
    overflow-y: visible;
    padding-left: 8rem;


    .hdSmArea {
      width: 100%;
      height: 90%;
      padding: 8rem 0;

      .hdSmList {
        display: flex;
        margin-bottom: 7.5rem;

        >a {
          width: 25rem;

          span {
            position: relative;
            font-size: 3rem;
            font-weight: 800;

            &::after {
              content: '';
              height: 1rem;
              width: 0;
              background-color: rgba(21, 39, 158, 0.502);
              position: absolute;
              top: 1.2vw;
              left: 0;
            }

          }
        }

        .hdSmList2 {
          display: flex;

          .hdSmMargin {
            margin-left: 3rem;
          }

          .hdMargin2 {
            margin-left: -6rem;
          }

          li {
            margin-right: 4rem;

            &:hover>a {
              color: $main-color;
            }

            >a {
              font-size: 1.9rem;
              font-family: 'Noto Sans KR';
              font-weight: 700;
            }

            .hdSmList3 {

              li {

                a {
                  font-size: 1.6rem;
                  font-family: 'Noto Sans KR';
                  font-weight: 400;
                  line-height: 2.4rem;
                  margin-top: 1rem;
                  display: block;
                }

                &:hover>a {
                  color: $main-color;
                }
              }
            }
          }
        }

        &:hover>a>span::after {
          width: 100%;
          transition: 0.4s;
        }
      }
    }
  }

  button {
    position: absolute;
    top: 7rem;
    right: 7rem;
    background: url('../../img/icon/close_btn@2x.png') no-repeat center / cover;
    width: 1.7rem;
    height: 1.7rem;
    font-size: 0;
  }
}






// 미디어 쿼리

@media (max-width:1822px) {

  .hdSitemap .hdSmRight .hdSmArea .hdSmList {
    display: block;
    margin-bottom: 4rem;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList>a span {
    display: inline-block;
    height: 4.6rem;
  }
}

@media (max-width:1600px) {
  header.hdMain .hd .hdLogo {
    width: 19rem;
    height: 4.5rem;
  }

  header:hover>.hd .hdLogo {
    width: 19rem;
    height: 4.5rem;
  }

  .hdGnbArea .hdDep1 .hdSub {
    font-size: 2rem;
  }
}

@media (max-width:1500px) {
  header.hdMain:hover > .hd .hdUtil .hdLang .hdLangLi{
    width: 6.5rem;
    left: -1.5rem;
  }
  .hdUtil .hdLang .hdLangLi{
    width: 6.5rem;
    left: -1.5rem;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList {
    width: 47vw;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 {
    display: flex;
    flex-wrap: wrap;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 li>a {
    line-height: 3rem;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList>a span {
    font-size: 2.7rem;
    margin-bottom: -1rem;
  }
}

@media (max-width:1380px) {
  .hdGnbArea .hdDep1 .hdSub {
    font-size: 1.8rem;
  }

  .hdUtil .hdLang {
    font-size: 1.6rem;
    margin-right: 1rem;
  }

  .hdGnbArea .hdDep1:hover>.hdDep2>li {
    >a {
      font-size: 1.8rem;
    }

    .hdDep3 a {
      font-size: 1.5rem;
    }
  }

  .hdSearch .hdSearchWrap .hdSearchContent .hdButtonsArea .hdButtons button {
    font-size: 2rem;
  }
}

@media (max-width:1250px) {
  .hdGnbArea .hdDep1 .hdSub {
    font-size: 1.6rem;
    width: 10rem;
  }

  .hdGnbArea .hdDep1:hover>.hdDep2>li>a {
    font-size: 1.5rem;
  }

  .hdUtil {
    width: 12rem;
  }

  .hdSearch .hdSearchWrap .hdSearchContent .hdButtonsArea .hdButtons button {
    font-size: 1.7rem;
  }

  .hdSitemap .hdSmRight {
    left: 50rem;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 {
    width: 100%;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 li {
    margin-right: 3rem;

    a {
      font-size: 1.5rem;
    }
  }
}

@media (max-width:1090px) {
  .hdSitemap .hdSmRight .hdSmArea {
    width: 100%;
  }

  .hdSitemap .hdSmLeft {
    display: none;
  }

  .hdSitemap .hdSmRight {
    left: 0;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList {
    display: flex;
    width: 80vw;
  }

  .hdSitemap .hdSmRight button {
    top: 5rem;
    right: 5rem
  }
}

@media (max-width:1023px) {

  header.hdMain .hd .hdLogo {
    width: 23rem;
    height: 6rem;
    margin-top: 3rem;
  }

  header.hdMain:hover>.hd .hdLogo {
    width: 23rem;
    height: 6rem;
  }

  .hdGnbArea {
    display: none;
  }

  .hdUtil {
    width: 18rem;
  }

  .hdUtil .hdLang svg {
    width: 3rem;
    height: 3rem;
  }

  .hdUtil .hdSearchBtn {
    width: 2.5rem;
    height: 2.5rem;
  }

  header.hdMain:hover>.hd .hdUtil .hdSearchBtn {
    width: 2.5rem;
    height: 2.5rem;
  }

  header.hdSub .hdUtil .hdSearchBtn {
    width: 2.5rem;
    height: 2.5rem;
  }

  .hdUtil .hdSitemapBtn {
    width: 2.5rem;
    height: 2.1rem;
  }


  header.hdMain:hover>.hd .hdUtil .hdSitemapBtn {
    width: 2.5rem;
    height: 2.1rem;
  }

  header.hdSub .hdUtil .hdSitemapBtn {
    width: 2.5rem;
    height: 2.1rem;
  }

  .hdSearch .hdSearchWrap .hdSearchContent {
    width: 50vw;
  }

  .hdSearch .hdSearchWrap .hdSearchContent .hdButtonsArea .hdButtons button {
    font-size: 1.3rem;
    padding: 0.8rem 0.8rem;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 li a {
    font-size: 2rem;
  }
}

@media (max-width:840px) {
  .hdSitemap .hdSmRight .hdSmArea .hdSmList {
    display: block;
    border-bottom: 3px solid #cac3da9e;
    padding-bottom: 3rem;

    &:last-child {
      border: none;
    }
  }
}

@media (max-width:770px) {

  .hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 .hdMargin2 {
    margin-left: -4rem;
  }

  .hdSitemap .hdSmRight button {
    top: 7rem;
    right: 7rem;
  }
}

@media (max-width:670px) {


  .hdSearch .hdSearchWrap .hdSearchContent {
    width: 65vw;
  }
}

@media (max-width:625px) {

  .hdUtil .hdLang{
    margin-right: 2rem;
  }
  .hdSearch .hdSearchWrap .hdSearchContent .hdSearchInput input {
    height: 5rem;
  }

  .hdSearch .hdSearchWrap .hdSearchContent .hdSearchInput button {
    position: absolute;
    top: 1.5rem;
    right: 1.8rem;
    height: 2.5rem;
    width: 2.5rem;
  }

  .hdSitemap .hdSmRight .hdSmArea {
    display: flex;
    flex-wrap: wrap;

  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList {
    width: 50%;
    border: none;
    margin-bottom: 0;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList>a span {
    font-size: 3.6rem;
    margin-bottom: 1rem;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 {
    display: block;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 li {
    padding-bottom: 2rem;

    a {
      font-size: 2.3rem;
    }
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 .hdMargin2 {
    margin-left: 0;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 .hdSmMargin {
    margin-left: 0;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 li .hdSmList3 {
    display: flex;
    flex-wrap: wrap;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList .hdSmList2 li .hdSmList3 li {
    margin-bottom: -1rem;

    a {
      font-size: 2.2rem;
      display: block;

    }
  }
}

@media (max-width:500px) {
  header.hdMain:hover>.hd {
    height: 10rem;
  }

  header.hdMain .hd .hdLogo {
    width: 21rem;
    height: 5rem;
    margin-top: 3rem;
  }

  header.hdMain:hover>.hd .hdLogo {
    width: 21rem;
    height: 5rem;
    margin-top: 3rem;
  }

  .hdUtil {
    margin-top: -1rem;
  }

  .hdSearch.hdOpenSearch {
    top: 10rem;
  }

  .hdSearch .hdSearchWrap .hdSearchContent {
    width: 75vw;
  }
}

@media (max-width:380px) {

  .hdUtil{
    width: 13rem;
  }
  header.hdMain:hover > .hd .hdUtil .hdLang{
    margin-right: 1.5rem;
  }
  .hdSearch .hdSearchWrap .hdSearchContent .hdButtonsArea .hdButtons {
    flex-wrap: wrap;
  }

  .hdSitemap .hdSmRight .hdSmArea .hdSmList {
    width: 100%;
  }

}