@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');

@import '../GlobalStyle.scss'
;

$header-height: 14.1rem;


/* header 전체 */
.hdSubStyle {
  background-color: red;
}


header {
  width: 100%;
  height: $header-height;
  position: relative;
  z-index: 10000000;
  background-color: black;

  &:hover>.hd {
    background-color: $basic-white;
    color: $basic-black;
    transition: 0.5s;

  }

  &:hover>.hd .hdLogo {
    background: url('../../img/zetaplan_splite.png') no-repeat -240px -8px;
    background-size: 599px 280px;
    width: 209px;
    height: 46px;
  }

  &:hover .hdUtil .hdSearchBtn {
    background: url('../../img/zetaplan_splite.png') no-repeat -419px -151px;
    background-size: 599px 280px;
    width: 18px;
    height: 18px;
  }

  &:hover .hdUtil .hdSitemapBtn {
    background: url('../../img/zetaplan_splite.png') no-repeat -487px -153px;
    background-size: 599px 280px;
    width: 21px;
    height: 13px;
  }

  .hd {
    width: 100%;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    color: $basic-white;

    .hdLogo {
      display: block;
      margin-top: 4.1rem;
      margin-left: 7.8rem;
      font-size: 0;
      background: url('../../img/zetaplan_splite.png') no-repeat -6px -5px;
      background-size: 599px 280px;
      width: 209px;
      height: 47px;
    }
  }
}


/* gnb */
.hdGnbArea {
  display: flex;
  justify-content: space-between;

  .hdDep1 {
    &:hover>.hdDep2 {
      visibility: visible;
      height: 25rem;
      transition: 1s;
    }

    &:hover>.hdSub {
      color: $main-color;
    }

    .hdSub {
      font-size: 2.2rem;
      font-family: 'Montserrat';
      font-weight: 600;
      display: block;
      width: 16rem;
      height: $header-height;
      line-height: $header-height;
      text-align: center;
    }

    .hdDep2 {
      position: absolute;
      top: $header-height;
      left: 0;
      background-color: #f9f9f9;
      color: $basic-black;
      width: 100vw;
      height: 0;
      display: flex;
      justify-content: center;
      border-top: 1px solid $basic-gray2;
      visibility: hidden;
      overflow: hidden;

      >li {
        padding: 2.5rem;
        min-width: 14rem;

        &:hover {
          background-color: rgba(21, 39, 160, 0.13);
        }

        &:hover>a {
          color: $main-color;
        }

        >a {
          display: block;
          font-size: 1.9rem;
          font-family: 'Noto Sans KR';
          font-weight: 700;
        }

        .hdDep3 {
          li {
            margin-top: 2rem;

            &:hover>a {
              color: $main-color;
            }

            a {
              font-family: 'Noto Sans KR';
              font-weight: 400;
              font-size: 1.7rem;

            }
          }
        }
      }
    }
  }
}




/* util */
.hdUtil {
  width: 15rem;
  height: $header-height;
  padding-top: 5.7rem;
  display: flex;
  justify-content: space-between;
  margin-right: 7.8rem;

  .hdLang {
    >a {
      font-size: 2rem;
      font-family: 'Montserrat';
      font-weight: 600;
      display: block;
      height: 3rem;
    }

    &:hover>.hdLangLi {
      display: block;
    }

    .hdLangLi {
      display: none;

      a {
        font-size: 2rem;
        font-family: 'Montserrat';
        font-weight: 600;
        display: block;
        padding-bottom: 1rem;
      }
    }
  }

  .hdSearchBtn {
    background: url('../../img/zetaplan_splite.png') no-repeat -403px -114px;
    background-size: 599px 280px;
    width: 18px;
    height: 18px;
    font-size: 0;
    margin-top: 0.1rem;
  }

  .hdSitemapBtn {
    background: url('../../img/zetaplan_splite.png') no-repeat -471px -117px;
    background-size: 599px 280px;
    width: 21px;
    height: 13px;
    font-size: 0;
    margin-top: 0.2rem;

  }
}




/* search 창 */

.hdSearch {
  position: absolute;
  top: 12rem;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid $basic-gray2;

  .hdSearchWrap {
    width: 100%;
    height: 45.6rem;
    background-color: $basic-gray1;

    .hdSearchContent {
      width: 90rem;
      margin: auto;
      padding-top: 12rem;

      .hdSearchInput {
        position: relative;

        input {
          width: 100%;
          height: 7rem;
          border-radius: 5rem;
          border: 1px solid $basic-gray2;
          background-color: $basic-white;
          padding: 4rem;
          font-size: 2.3rem;
          font-family: 'Noto Sans KR';
          font-weight: 700;
          color: #707070;
        }

        button {
          background: url('../../img/zetaplan_splite.png') no-repeat -522px -98px;
          background-size: 599px 280px;
          width: 33px;
          height: 33px;
          position: absolute;
          top: 2.5rem;
          right: 3rem;
          font-size: 0;
        }
      }

      .hdButtonsArea {
        p {
          font-size: 1.6rem;
          color: #707070;
          font-family: 'Noto Sans KR';
          font-weight: 500;
          margin-top: 5.7rem;
        }

        .hdButtons {
          display: flex;
          margin-top: 2.5rem;

          button {
            border: 1px solid $basic-gray2;
            border-radius: 1rem;
            padding: 1.5rem 2.2rem;
            margin-right: 2rem;
            font-family: 'Noto Sans KR';
            font-weight: 400;
            font-size: 1.8rem;
            background-color: $basic-white;
          }
        }
      }
    }
  }
}




/* sitemap */

.hdModal {
  position: fixed;
  top: 0;
  left: 100vw;
  background-color: $basic-white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  visibility: hidden;
}

.hdModal.hdOpenModal {
  visibility: visible;
  left: 0;
  transition: 1s;
}

.hdSitemap {
  display: flex;
  width: 100%;
  height: 100%;

  .hdSmLeft {
    background: url(../../img/bg/consul_bg@2x.png) no-repeat center / cover;
    width: 30%;

    h2 {
      margin-top: 6rem;
      margin-left: 6rem;
      background: url('../../img/zetaplan_splite.png') no-repeat -6px -5px;
      background-size: 599px 280px;
      width: 209px;
      height: 47px;
      font-size: 0;
    }

    p {
      margin-left: 6rem;
      color: $basic-white;
    }

    p:nth-child(2) {
      font-size: 5rem;
      font-family: 'Noto Sans KR';
      font-weight: 900;
      line-height: 7.4rem;
      margin-top: 12.5rem;
    }

    p:nth-child(3) {
      font-size: 3rem;
      font-family: 'Noto Sans KR';
      font-weight: 400;
      line-height: 6rem;
      margin-top: 26.1rem;
    }
  }

  .hdSmRight {
    width: 70%;
    height: 100%;
    color: $basic-black;

    .hdSmArea {
      margin-left: 15rem;
      margin-top: 12rem;

      .hdSmList {
        display: flex;
        margin-bottom: 6rem;
        position: relative;

        >a {
          width: 25rem;
          font-family: 'Montserrat';
          font-weight: 700;

          span {
            position: relative;
            font-size: 2.8rem;
            width: 20rem;
            font-family: 'Montserrat';
            font-weight: 700;

            &::after {
              content: '';
              height: 1rem;
              width: 0;
              background-color: rgba(21, 39, 158, 0.502);
              position: absolute;
              top: 2.2rem;
              left: 0;
            }

          }
        }

        .hdSmList2 {
          display: flex;

          .hdSmMargin {
            margin-left: 3.5rem;
          }

          .hdMargin2 {
            margin-left: -4rem;
          }

          li {
            margin-right: 2.5rem;

            &:hover>a {
              color: $main-color;
            }

            >a {
              font-size: 1.9rem;
              font-family: 'Noto Sans KR';
              font-weight: 700;
            }

            .hdSmList3 {

              li {

                a {
                  font-size: 1.6rem;
                  font-family: 'Noto Sans KR';
                  font-weight: 400;
                  line-height: 2.5rem;
                  margin-top: 1rem;
                  display: block;
                }

                &:hover>a {
                  color: $main-color;
                }
              }
            }
          }
        }

        &:hover>a>span::after {
          width: 100%;
          transition: 0.4s;
        }
      }
    }

    button {
      position: absolute;
      top: 8.8rem;
      right: 8.7rem;
      background: url('../../img/zetaplan_splite.png') no-repeat -574px -101px;
      background-size: 599px 280px;
      width: 19px;
      height: 18px;
      font-size: 0;
    }

  }
}