@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.irInner {
  @include Inner;
  background-color: #707070
}

.irSubtitle {
  @include Subtitle($sub-title, $basic-gray3)
};

.irSubImg {
  display: flex;
  justify-content: center;
}

.irSubImg   {
  height: 94rem;
  width: auto;
  margin: 7rem 0 14rem;
  img {
    height: 100%;
  }
}

.irContent {
  margin-bottom: 10rem;
  .irSubTitleSmall{
    font-size: 2.8rem;
    font-weight: 900;
    padding-left: 3rem;
    position: relative;
    margin: 1rem 0 3rem;
    &::before {
      content: "";
      display: block;
      background: url('./../../img/title_box@2x.png') no-repeat;
      background-size: contain;
      width: 1rem;
      height: 3rem;
      position: absolute;
      top: 0;
      left: 0;
    }
  };
  .irSubTxt {
    font-size: $list-md;
    line-height: 1.7;
  }
  .irListTitle {
    font-size: $size-lg;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .irListDetail {
    font-size: $list-md;
    line-height: 1.7;
  }

  .irListContent {
    .irList {
      display: grid;
      grid-template-columns: 1fr 3fr;
      border-bottom: 1px solid #707070;
      padding: 2.2rem;
      li {
        font-size: $list-md;
        line-height: 1.5;
      }
      &:first-child {
        font-weight: bold;
        border-bottom: 2px solid black;
      }
      &:last-child {
        border-bottom: 2px solid black;
      }
    }

    
  }
}

.irListProcessImg {
  display: flex;
  justify-content: center;
}
.irListProcessImg img{
  width: auto;
  height: 90rem;
}
.irListDes {
  font-size: $list-md;
  line-height: 1.7;

  li {
    font-size: $list-md;
    line-height: 1.7;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .irSubImg   {
    height: 80rem;
    width: auto;
    margin: 7rem 0 14rem;
    img {
      height: auto;
      width: 100%;
    }
  }

}
@media (min-width: 360px) and (max-width: 767px){
  .irSubImg   {
    height: 60rem;
    width: auto;
    margin: 7rem 0 14rem;
    img {
      height: auto;
      width: 100%;
    }
  }



}