@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.inner {
  @include Inner
}

.irSubtitle {
  @include Subtitle($sub-title, $basic-gray3)
}

.irPerfoContent {
  margin: 8rem 0;

  .irPerfoContentBoxLeft {
    margin: 8rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    .irPerfoImg {
      img {
        width: 100%;
        height: auto;
      }
    }

    .irPerfoContentTitle {
      font-size: 2.3rem;
      font-weight: bold;
      margin-bottom: 1.2rem;
      font-family: 'Noto Sans KR';
      line-height: 1.5;
    }
  }
}

.irPerfoContentTxt {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
  font-family: 'Noto Sans KR';


  span {
    font-size: 2rem;
    font-weight: bold;
  }
}

.irPerfoContentBoxRight {
  margin: 8rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
  .irPerfoImg {
    margin-bottom: 2rem;
    img {
      width: 100%;
      height: auto;
    }
  }

  .irPerfoContentTitle {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    font-family: 'Noto Sans KR';
    line-height: 1.5;
  }
}

.irPerfoDecoBg {
  background: url('./../../img/ir/ir_perfo_decoBg.jpg');
  background-position: center;
  width: 100%;
  height: 50rem;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  p {
    font-size: 5rem;
    color: #FFF;
    font-family: 'Montserrat';
    padding-bottom: 5%;
    padding-right: 5%;
  }
}

.irPerfoImgTop {
  display: none;
}

.irPerfoImgBottom {
  display: block;
  img {
    width: 100%;
    height: auto;
  }
} 
@media all and (max-width: 767px){
  .irPerfoContent .irPerfoContentBoxLeft  {
  grid-template-columns: auto;
  }
  .irPerfoContent .irPerfoContentBoxRight  {
  grid-template-columns: auto;
  }

  .irPerfoImgTop {
    display: block;
    img {
      width: 100%;
      height: auto;
    }
  }

  .irPerfoImgBottom {
    display: none;
  }

  .irPerfoDecoBg  {
    height: 30rem;
  }
}

