@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.inner {
  @include Inner
}

.irSubtitle {
  @include Subtitle($sub-title, $basic-gray3)
}

.irPerfoContent {
  margin: 5rem 0;

  .irPerfoContentBox {
    margin: 3rem 0;

    .irPerfoContentTitle {
      font-size: 2.3rem;
      font-weight: bold;
      margin-bottom: 1.2rem;
    }
  }
}

.irPerfoContentTxt {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;

  span {
    font-size: 2rem;
    font-weight: bold;
  }
}