@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.inner {
  @include Inner
}


.irSubtitle {
  @include Subtitle($sub-title, $basic-gray3)
}

.irCircle {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin: 8.5rem auto;
  li {
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    border: 1px solid $main-color;
    margin-right: 4rem;
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
    flex-direction: column;
    
    span {
      font-size: 1.2vw;
      line-height: 1.5;
    }
    &:hover {
      background-color: $main-color;
      color: $basic-white;

    }

    &::before {
      content: "";
      display: block;
      width: 4rem;
      height: 1px;
      border-bottom: 1px dashed black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -4rem;
    }

    &:first-child::before {
      display: none;
    }
  }
}

.irBusinessContent {
  ul {
    margin-bottom: 6rem;

    .irBusTitle {
      font-size: $size-lg;
      font-weight: bold;
      margin-bottom: 2rem;
    }    
    .irBusTxt {
      font-size: $list-md;
      line-height: 1.7;
    }
  }
  .irBnIndex {
    .irBnTitle {
      font-size: $size-lg;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    .irBnTxt {
      font-size: $list-md;
      line-height: 1.7;
    }
    .irBnStep {
      font-size: $list-md;
      font-weight: bold;
      display: flex;
      position: relative;
      margin-left: 9rem;

      &::before {
        content: "";
        width: 6rem;
        height: 3px;
        background-color: $main-color;
        top: 10px;
        left: -8.6rem;
        position: absolute;

      }
      ul {
        padding-left: 4rem;

        .irBnStepT {
          font-size: 2rem;
          line-height: 2;
          font-weight: bold;
        }
        
        li {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
        }
      }
    }
  }
  
  .irBnTotal {
    font-size: $size-lg;
    font-weight: bold;
    color: $main-color;
    text-align: center;
    line-height: 1.5;
  }

}


@media (min-width: 768px) and (max-width: 1023px){


}
@media (min-width: 360px) and (max-width: 767px){
  .irCircle {
    display: flex;
    flex-wrap: wrap;
    width: 82vw;
    justify-content: center;
    align-items: center;
    margin: 8.5rem auto;
    li {
      width: 70%;
      height: 70%;
      border-radius: 0;
      border: 1px solid $main-color;
      margin-right: 0;
      position: relative;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.7;
      flex-direction: column;
      padding: 1.5rem;
      box-sizing: border-box;
      margin-bottom: 2rem;
      
      span {
        font-size: 1.8rem;
        line-height: 1.5;
      }
      &:hover {
        background-color: $main-color;
        color: $basic-white;
  
      }
  
      &::before {
        display: none;
      }
    }
  }
}

