@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.inner {
  @include Inner;
  .irSubtitle {
    @include Subtitle($sub-title, $basic-gray3)
  }
}

.irProCircleArea {
  display: flex;
  justify-content: center;
}

.irProCircle {
  @include Circle(175rem, 25rem);
  margin: 8.5rem 0;
}

.irProContents {
  margin-bottom: 4rem;
  .irProContent {
    font-size: 2rem;
    line-height: 1.5;
    margin: 1.5rem;
    font-family: 'Noto Sans KR';

    &:last-child {
      margin-bottom: 10rem;
    }
  }
}

// accordion start
.irAccordion {
  .irProcessTitle {
    font-size: $size-lg;
    font-weight: bold;
    margin: 2rem 3rem;
  }

  .irAccoCircleArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .irAccoProCircleContent {
    width: 130rem;
    .irAccoProCircleM {
      @include Circle(130rem, 18rem);
      margin-bottom: 2.8rem ;
      li {
        font-size: $size-sm;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .irAccoProCircleDes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 130rem;
      margin: auto;
      
      li {
        font-size: $size-sm;
        width: 20rem;
        text-align: center;
        margin-bottom: 3rem;
      }
    }
  }
  
  .irProText {
    font-size: $size-sm;
    line-height: 1.7;
    text-align: center;
    margin: 2rem 0 6rem;
    color: $main-color;
    font-weight: bold;
  }
  //기업 진단 end
  
  .irAccoProCircleAreaS {
    position: relative;
    .irAccoProCircleSDes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 87rem;
      margin: auto;
      position: absolute;
      right: 35rem;
      bottom: 13rem;
  
      li {
        font-size: $size-sm;
        color: #999;
      }
    }

  }
}


.irAccoProCircleS {
  display: flex;
  flex-wrap: wrap;
  width: 130rem;
  justify-content: center;
  align-items: center;
  margin: 8.5rem 0;
  margin: auto;
  li {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 1px solid $main-color;
    margin-right: 15rem;
    position: relative;
    font-size: $size-sm;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
    
    &:hover {
      background-color: $main-color;
      color: $basic-white;
    }

    &::before {
      content: "";
      display: block;
      width: 15rem;
      height: 1px;
      border-bottom: 1px dashed black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -15rem;
    }

    &:first-child::before {
      display: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.irAccoProCircleAreaS {
  .irAccoProCircleBox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .irAccoProCircleSDes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85rem;
      margin: auto;
      position: absolute;
      bottom: 13rem;
      left: 22rem;
  
      li {
        font-size: $size-sm;
        color: #999;
        width: 13rem;
        text-align: center;
      }
    }
    .irAccoProCircleSDetail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 130rem;
      margin: auto;
      padding: 2rem;
      li {
        color: #333;
        font-size: $size-sm;
        width: 22rem;
        text-align: center;
      }
    }
  }
}

.irProcessStation {
  width: 78%;
  height: auto; 
}

.irProcessStep {
  width: auto;
  height: 90rem; 
}

.irProcessWrapper{
  display: flex;
  width: 100vh;
  justify-content: center;
  align-items: center;
}
.irAccordion{
  width: 100%;

}
.irProcessItem{
  margin-bottom: 0.5rem;
  padding: 2rem;
  width: 140rem;
  box-sizing: border-box;


  .irProcessBtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid $main-color;
    padding: 1rem 2rem;
    font-size: $size-xl;
    letter-spacing: 1.2px;
    color: #000;
  }
}

.irProcessContent{
  max-height: 0;
  overflow: hidden;
  width: 100%;
}
.irProcessContent.show{
  height: auto;
  max-height: 999rem;
  transition: all 0.5s cubic-bezier(1,0,1,0);
  border: 1px solid $main-color;
}

.irProcessBtn.on{
  background-color: $main-color;
  color: #fff;
}

.irUnderBtn{
  background: url('../../img/zetaplan_splite.png') no-repeat -137px -194px;
  background-size: 599px 280px;
  width: 22px;
  height: 14px;
}
.irTopBtn{
  background: url('../../img/zetaplan_splite.png') no-repeat -137px -235px;
  background-size: 599px 280px;
  width: 22px;
  height: 14px;
}

.irAccoContentArea {
  padding: 3rem;
  .irAccoContentT {
    font-size: $size-lg;
    font-weight: bold;
    margin-bottom: 5rem;
    
  }
}

.irAccoCenter {
  display: flex;
  justify-content: center;
}