@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.inner {
  width: 1440px;
  padding: 8rem 0;
  margin: 0 auto;
}
.inner .irSubtitle {
  font-size: 3.2rem;
  font-weight: 900;
  padding-left: 3rem;
  position: relative;
}
.inner .irSubtitle::before {
  content: "";
  display: block;
  background: url("./../../img/title_box@2x.png") no-repeat;
  background-size: contain;
  width: 1rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}
.inner .irSubtitle::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #333;
  position: absolute;
  top: 6rem;
  left: 0;
}

.irProCircleArea {
  display: flex;
  justify-content: center;
}

.irProCircle {
  display: flex;
  flex-wrap: wrap;
  width: 175rem;
  justify-content: center;
  align-items: center;
  margin: 8.5rem 0;
}
.irProCircle li {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: 1px solid #1527a0;
  margin-right: 4rem;
  position: relative;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}
.irProCircle li:hover {
  background-color: #1527a0;
  color: #fff;
}
.irProCircle li::before {
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  border-bottom: 1px dashed black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -4rem;
}
.irProCircle li:first-child::before {
  display: none;
}

.irProContents {
  margin-bottom: 4rem;
}
.irProContents .irProContent {
  font-size: 2rem;
  line-height: 1.5;
  margin: 1.5rem;
}
.irProContents .irProContent:last-child {
  margin-bottom: 10rem;
}

.irAccordion .irProcessTitle {
  font-size: 2.08rem;
  font-weight: bold;
  margin: 2rem 3rem;
}
.irAccordion .irAccoCircleArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.irAccordion .irAccoProCircleContent {
  width: 130rem;
}
.irAccordion .irAccoProCircleContent .irAccoProCircleM {
  display: flex;
  flex-wrap: wrap;
  width: 130rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.8rem;
}
.irAccordion .irAccoProCircleContent .irAccoProCircleM li {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  border: 1px solid #1527a0;
  margin-right: 4rem;
  position: relative;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}
.irAccordion .irAccoProCircleContent .irAccoProCircleM li:hover {
  background-color: #1527a0;
  color: #fff;
}
.irAccordion .irAccoProCircleContent .irAccoProCircleM li::before {
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  border-bottom: 1px dashed black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -4rem;
}
.irAccordion .irAccoProCircleContent .irAccoProCircleM li:first-child::before {
  display: none;
}
.irAccordion .irAccoProCircleContent .irAccoProCircleM li {
  font-size: 1.6rem;
}
.irAccordion .irAccoProCircleContent .irAccoProCircleM li:last-child {
  margin-right: 0;
}
.irAccordion .irAccoProCircleContent .irAccoProCircleDes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130rem;
  margin: auto;
}
.irAccordion .irAccoProCircleContent .irAccoProCircleDes li {
  font-size: 1.6rem;
  width: 20rem;
  text-align: center;
  margin-bottom: 3rem;
}
.irAccordion .irProText {
  font-size: 1.6rem;
  line-height: 1.7;
  text-align: center;
  margin: 2rem 0 6rem;
  color: #1527a0;
  font-weight: bold;
}
.irAccordion .irAccoProCircleAreaS {
  position: relative;
}
.irAccordion .irAccoProCircleAreaS .irAccoProCircleSDes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87rem;
  margin: auto;
  position: absolute;
  right: 35rem;
  bottom: 13rem;
}
.irAccordion .irAccoProCircleAreaS .irAccoProCircleSDes li {
  font-size: 1.6rem;
  color: #999;
}

.irAccoProCircleS {
  display: flex;
  flex-wrap: wrap;
  width: 130rem;
  justify-content: center;
  align-items: center;
  margin: 8.5rem 0;
  margin: auto;
}
.irAccoProCircleS li {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 1px solid #1527a0;
  margin-right: 15rem;
  position: relative;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}
.irAccoProCircleS li:hover {
  background-color: #1527a0;
  color: #fff;
}
.irAccoProCircleS li::before {
  content: "";
  display: block;
  width: 15rem;
  height: 1px;
  border-bottom: 1px dashed black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15rem;
}
.irAccoProCircleS li:first-child::before {
  display: none;
}
.irAccoProCircleS li:last-child {
  margin-right: 0;
}

.irAccoProCircleAreaS .irAccoProCircleBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.irAccoProCircleAreaS .irAccoProCircleBox .irAccoProCircleSDes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85rem;
  margin: auto;
  position: absolute;
  bottom: 13rem;
  left: 22rem;
}
.irAccoProCircleAreaS .irAccoProCircleBox .irAccoProCircleSDes li {
  font-size: 1.6rem;
  color: #999;
  width: 13rem;
  text-align: center;
}
.irAccoProCircleAreaS .irAccoProCircleBox .irAccoProCircleSDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130rem;
  margin: auto;
  padding: 2rem;
}
.irAccoProCircleAreaS .irAccoProCircleBox .irAccoProCircleSDetail li {
  color: #333;
  font-size: 1.6rem;
  width: 22rem;
  text-align: center;
}

.irProcessStation {
  width: 78%;
  height: auto;
}

.irProcessStep {
  width: auto;
  height: 90rem;
}

.irProcessWrapper {
  display: flex;
  width: 100vh;
  justify-content: center;
  align-items: center;
}

.irAccordion {
  width: 100%;
}

.irProcessItem {
  margin-bottom: 0.5rem;
  padding: 2rem;
  width: 140rem;
  box-sizing: border-box;
}
.irProcessItem .irProcessBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid #1527a0;
  padding: 1rem 2rem;
  font-size: 2.4rem;
  letter-spacing: 1.2px;
  color: #000;
}

.irProcessContent {
  max-height: 0;
  overflow: hidden;
  width: 100%;
}

.irProcessContent.show {
  height: auto;
  max-height: 999rem;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  border: 1px solid #1527a0;
}

.irProcessBtn.on {
  background-color: #1527a0;
  color: #fff;
}

.irUnderBtn {
  background: url("../../img/zetaplan_splite.png") no-repeat -137px -194px;
  background-size: 599px 280px;
  width: 22px;
  height: 14px;
}

.irTopBtn {
  background: url("../../img/zetaplan_splite.png") no-repeat -137px -235px;
  background-size: 599px 280px;
  width: 22px;
  height: 14px;
}

.irAccoContentArea {
  padding: 3rem;
}
.irAccoContentArea .irAccoContentT {
  font-size: 2.08rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.irAccoCenter {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=irProcess.css.map */