@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@700&display=swap');
@import '../GlobalStyle.scss';

.inner {
  @include Inner;
  .irSubtitle {
    @include Subtitle($sub-title, $basic-gray3)
  }
}

.irProCircleArea {
  display: flex;
  justify-content: center;
}

.irProCircle {
  @include Circle(100%, 13vw);
  margin: 8.5rem auto 6rem;
  li {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.7;
    &:last-child {
      margin-right: 0;
    }
    
    span {
      font-size: 1.8rem;
    }
  }
}

.irProContents {
  margin-bottom: 4rem;
  .irProContent {
    font-size: 2rem;
    line-height: 1.5;
    margin: 1.5rem;
    font-family: 'Noto Sans KR';

    &:last-child {
      margin-bottom: 10rem;
    }
  }
}

// accordion start
.irAccordion {
  .irProcessTitle {
    font-size: $size-lg;
    font-weight: bold;
    margin: 2rem 3rem;
  }

  .irAccoCircleArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .irAccoProCircleContent {
    width: 100%;
    margin: auto;
    .irAccoProCircleM {
      @include Circle(100%, 10vw);
      li {
        font-size: $size-sm;
        position: relative;
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &:hover {
          background-color: $main-color;
          color: $basic-white;
        }
    
        span {
          font-size: 1.6rem;
        }
        &:last-child {
          margin-right: 0;
        }
        &:nth-child(1)::after {
          content: '사업경쟁력(핵심역량)';
          display: block;
          position: absolute;
          width: 13vw;
          bottom: -30%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 1.4rem;
          color: $basic-gray3;
        }
        &:nth-child(2)::after {
          content: '미래현금흐름';
          display: block;
          position: absolute;
          width: 13vw;
          bottom: -30%;
          left: 50%;
          transform: translateX(-50%);
          color: $basic-gray3;
          font-size: 1.4rem;

        }
        &:nth-child(3)::after {
          content: '성공요소';
          display: block;
          position: absolute;
          width: 13vw;
          bottom: -30%;
          left: 50%;
          transform: translateX(-50%);
          color: $basic-gray3;
          font-size: 1.4rem;

        }
        &:nth-child(4)::after {
          content: '핵심역량';
          display: block;
          position: absolute;
          width: 13vw;
          bottom: -30%;
          left: 50%;
          transform: translateX(-50%);
          color: $basic-gray3;
          font-size: 1.4rem;

        }
        &:nth-child(5)::after {
          content: '사업전략';
          display: block;
          position: absolute;
          width: 13vw;
          bottom: -30%;
          left: 50%;
          transform: translateX(-50%);
          color: $basic-gray3;
          font-size: 1.4rem;

        }
        &:nth-child(6)::after {
          content: '미래수익구조';
          display: block;
          position: absolute;
          width: 13vw;
          bottom: -30%;
          left: 50%;
          transform: translateX(-50%);
          color: $basic-gray3;
          font-size: 1.4rem;

        }
      }
    }
    
  }
  
  .irProText {
    font-size: $size-sm;
    line-height: 1.7;
    text-align: center;
    margin: 3rem 0 6rem;
    color: $main-color;
    font-weight: bold;
  }
  //기업 진단 end
  
  .irAccoProCircleAreaS {
    position: relative;
    .irAccoProCircleSDes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80vw;
      margin: auto;
      position: absolute;
      right: 35rem;
      bottom: 13rem;
  
      li {
        font-size: $size-sm;
        color: #999;
      }
    }

  }
}


.irAccoProCircleS {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 8.5rem 0;
  margin: auto;
  li {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    border: 1px solid $main-color;
    margin-right: 8vw;
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    line-height: 1.7;
    justify-content: center;
    flex-direction: column;

    span {
      font-size: 1.6rem;
      position: relative;
    }

    
    &:hover {
      background-color: $main-color;
      color: $basic-white;
    }

    &:first-child::before {
      display: none;
    }

    &:last-child {
      margin-right: 0;
    }
    &:nth-child(1)::after {
      content: '사업경쟁력(핵심역량)';
      display: block;
      position: absolute;
      width: 24vw;
      bottom: -30%;
      left: 50%;
      transform: translateX(-50%);
      color: $basic-gray3;
      font-size: 1.4rem;
    }
    &:nth-child(2)::after {
      content: '미래현금흐름';
      display: block;
      position: absolute;
      width: 24vw;
      bottom: -30%;
      left: 50%;
      transform: translateX(-50%);
      color: $basic-gray3;
      font-size: 1.4rem;
    }
    &:nth-child(3)::after {
      content: '성공요소';
      display: block;
      position: absolute;
      width: 24vw;
      bottom: -30%;
      left: 50%;
      transform: translateX(-50%);
      color: $basic-gray3;
      font-size: 1.4rem;
    }
    &:nth-child(4)::after {
      content: '핵심역량';
      display: block;
      position: absolute;
      width: 24vw;
      bottom: -30%;
      left: 50%;
      transform: translateX(-50%);
      color: $basic-gray3;
      font-size: 1.4rem;
    }
  }
}

.irCircleDesP::before {
  content: "재무분석";
  display: block;
  width: 8vw;
  height: 1px;
  border-bottom: 1px dashed black;
  position: absolute;
  font-size: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  left: -8vw;
}
.irCircleDesA::before {
  content: "기준 및 역량분석";
  display: block;
  width: 8vw;
  height: 1px;
  border-bottom: 1px dashed black;
  position: absolute;
  font-size: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  left: -8vw;
}
.irCircleDesI::before {
  content: "실행전략";
  display: block;
  width: 8vw;
  height: 1px;
  border-bottom: 1px dashed black;
  position: absolute;
  font-size: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  left: -8vw;
}

.irProcessStation {
  width: 90%;
  height: auto; 
}

.irProcessStep {
  width: 100%;
  height: auto; 
}

.irProcessWrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.irAccordion{
  width: 100%;

}
.irProcessItem{
  margin-bottom: 0.5rem;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;


  .irProcessBtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid $main-color;
    padding: 1rem 2rem;
    font-size: $size-xl;
    letter-spacing: 1.2px;
    color: #000;
  }
}

.irProcessContent{
  max-height: 0;
  overflow: hidden;
  width: 100%;
}
.irProcessContent.show{
  height: auto;
  max-height: 999rem;
  transition: all 0.5s cubic-bezier(1,0,1,0);
  border: 1px solid $main-color;
}

.irProcessBtn.on{
  background-color: $main-color;
  color: #fff;
}

.irUnderBtn{
  background: url('../../img/zetaplan_splite.png') no-repeat -137px -194px;
  background-size: 599px 280px;
  width: 22px;
  height: 14px;
}
.irTopBtn{
  background: url('../../img/zetaplan_splite.png') no-repeat -137px -235px;
  background-size: 599px 280px;
  width: 22px;
  height: 14px;
}

.irAccoContentArea {
  width: 100%;
  padding: 3rem;
  .irAccoContentT {
    font-size: $size-lg;
    font-weight: bold;
    margin-bottom: 5rem;
    
  }
}

.irAccoCenter {
  display: flex;
  justify-content: center;
}


.irCircleSText {
  padding-top: 7rem;
}

@media (min-width: 1204px) and (max-width: 1500px){
  .irCircleDesA::after {
    width: 4.8vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .irAccordion .irAccoProCircleContent .irAccoProCircleM {
    display: flex;
    flex-wrap: wrap;
    width: 63vw;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .irAccordion .irAccoProCircleContent .irAccoProCircleM li {
    width: 12vw;
    height: 12vw;
  }

  .irCircleDesA::after {
    width: 4.8vw;
  }
}


@media all and (max-width: 767px){
  .irProContents .irProContent {
    font-size: 2.3rem;
    }

  .irProCircle {
    display: flex;
    flex-wrap: wrap;
    width: 82vw;
    justify-content: center;
    align-items: center;
    margin: 8.5rem auto 3.5rem;
    li {
      width: 70%;
      height: 70%;
      border-radius: 0;
      border: 1px solid $main-color;
      margin-right: 0;
      position: relative;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.7;
      flex-direction: column;
      padding: 1.5rem;
      box-sizing: border-box;
      margin-bottom: 2rem;
      
      span {
        font-size: 1.8rem;
        line-height: 1.5;
      }

      &:hover {
        background-color: $main-color;
        color: $basic-white;
  
      }
  
      &::before {
        display: none;
      }
    }
  }

  .irAccoProCircleContent {
    .irAccoProCircleM {
      width: 80vw;
      li {
        border-radius: 0;
        &:hover {
          background-color: $main-color;
          color: $basic-white;
        }

        &:nth-child(1)::after {
          width: 20vw;
        }

      }
    }
  }
  .irAccordion .irAccoProCircleContent .irAccoProCircleM li {
    border-radius: 0;
    width: 80%;
    flex-direction: row;
    height: 6vw;
    margin-bottom: 2rem;
    margin-right: 0;
    span {
      margin: 0 17rem 0 1rem;
    }
    &::before {
      display: none;
    }
      &:hover::after {
        color: #fff;
      }
    
  }
  .irAccordion .irAccoProCircleContent .irAccoProCircleM li:nth-child(1)::after {
    width: 24vw;
    bottom: 50%;
    transform: translateY(50%);
  }
  .irAccordion .irAccoProCircleContent .irAccoProCircleM li:nth-child(2)::after {
    width: 24vw;
    bottom: 50%;
    transform: translateY(50%);
  }
  .irAccordion .irAccoProCircleContent .irAccoProCircleM li:nth-child(3)::after {
    width: 24vw;
    bottom: 50%;
    transform: translateY(50%);
  }
  .irAccordion .irAccoProCircleContent .irAccoProCircleM li:nth-child(4)::after {
    width: 24vw;
    bottom: 50%;
    transform: translateY(50%);
  }
  .irAccordion .irAccoProCircleContent .irAccoProCircleM li:nth-child(5)::after {
    width: 24vw;
    bottom: 50%;
    transform: translateY(50%);
  }
  .irAccordion .irAccoProCircleContent .irAccoProCircleM li:nth-child(6)::after {
    width: 24vw;
    bottom: 50%;
    transform: translateY(50%);
  }

  .irAccoProCircleS {

    li {
      font-size: 1.6rem;
      width: 80%;
      height: 7vw;
      border-radius: 0;
      margin-right: 0;
      position: relative;
      align-items: center;
      flex-direction: row;
      margin-bottom: 5vw;
  
      span {
        margin: 0 12rem 0 1rem;
        line-height: 1.5;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:hover::after {
        color: #fff;
      }
  
      &::before {
        content: "";
        display: block;
        width: 1vw;
        height: 5vw;
        border-bottom: none;
        border-left: 1px dashed black;
        top: -39%;
        left: 50%;
      }

      &:nth-child(1)::after {
        width: 24vw;
        bottom: 50%;
        transform: translateY(47%);
      }
      &:nth-child(2)::after {
        position: absolute;
        bottom: 50%;
        transform: translateY(47%);
      }
      &:nth-child(3)::after {
        position: absolute;
        bottom: 50%;
        transform: translateY(47%);
      }
      &:nth-child(4)::after {
        bottom: 50%;
        transform: translateY(47%);
      }
    }
  }
  .irCircleSText {
    padding-top: 2rem;
  }
  .irUnderBtn{
    background: url('../../img/icon/bottom_arrow.png') no-repeat;
    background-size: contain;
    width: 11px;
    height: 7px;
  }
  .irTopBtn{
    background: url('../../img/icon/top_arrow.png') no-repeat;
    background-size: contain;
    width: 11px;
    height: 7px;
  }


}

.dark {
  .irProCircle li {
    background-color: #ccc;
    border: none;
    &:hover{
      background-color: $main-color;
    }

  }

  .irProcessBtn {
    background-color: #ccc;
    border: none;

  }

  .irProcessContent{
    background-color: #ccc;
  }

  .irProcessBtn.on{
    background-color: $main-color;
    color: #fff;
  }


}

@media all and (max-width: 400px){

.irProContents .irProContent {
  font-size: 2.3rem;
  }
}